<h1>Contacts Transfer Notification</h1>
<p>
  <%=raw @intro.to_s %><br/>
</p>
<p>
  <ul>
  <% sender = '' %>
  <% old_org = '' %>
  <% @transfer_logs.each do |contact| %>
    <% if sender.blank? || sender != contact.transferred_by.name %>
      <% sender = contact.transferred_by.name %>
      <% if contact != @transfer_logs.first %>
        </li>
      <% end %>
      <li>
        Transferred by
        <i>
          <%= sender %>
          <%= "(#{contact.transferred_by.email})" if contact.transferred_by.email.present? %>
        </i>
    <% end %>
    <% if old_org.blank? || old_org != contact.old_organization.name %>
      <% old_org = contact.old_organization.name %>
      <ul>
        <b>From <%= old_org %></b>
      </ul>
    <% end %>
    <ul>
      - 
      <i>
        <%= contact.person.name %>
        <%= "(#{contact.person.email})" if contact.person.email.present? %>
      </i>
    </ul>
  <% end %>
  </ul>
</p>