<h1>Contacts Transfer Notification</h1>
<p>
  <%=raw @intro.to_s %><br/>
</p>
<p>
  <ul>
  <% sender = '' %>
  <% old_org = '' %>
  <% @transfer_logs.each do |contact| %>  
    <% if old_org.blank? || old_org != contact['old_org_name'] %>
      <% old_org = contact['old_org_name'] %>
      <li>
        <b>From <%= contact['old_org_name'] %></b>
      </li>
    <% end %>
    <% if sender.blank? || sender != contact['transferer_name'] %>
      <% sender = contact['transferer_name'] %>
      <ul>
        Transferred by
        <i>
          <%= sender %>
          <%= "(#{contact['transferer_email']})" if contact['transferer_email'].present? %>
        </i>
      </ul>
    <% end %>
    <ul>
      <ul>
      - 
      <i>
        <%= contact['contact_name'] %>
        <%= "(#{contact['contact_email']})" if contact['contact_email'].present? %>
      </i>
      </ul>
    </ul>
  <% end %>
  </ul>
</p>