<div class="dash_links">
  <div class="dash_link">
    <div class="dash_icon">
      <%= image_tag('dash_icon_contacts.png')%>
    </div>
    <div class="dash_content">
      <%= link_to "See All Contacts", "#" %>
      <br/>
      <%= link_to "Add New Contact", "#" %>
    </div>
  </div>
  
  <hr class="dash_divider"/>
  
  <div class="dash_link">
    <div class="dash_icon">
      <%= image_tag('dash_icon_group.png')%>
    </div>
    <div class="dash_content">
      <%= link_to "Create A New Group", "#" %>
      <br/>
      <%= link_to "Manage Existing Groups", "#" %>
    </div>
  </div>
  
  <hr class="dash_divider"/>
  
  <div class="dash_link">
    <div class="dash_icon">
      <%= image_tag('dash_icon_mail.png')%>
    </div>
    <div class="dash_content">
      <%= link_to "Send Text Message", "#" %>
      <br/>
      <%= link_to "Send Email Message", "#" %>
    </div>
  </div>
  
</div>
<div class="dash_links lower_box">
  <div class="lower_box_title">
    Here's what in your hub!
  </div>
  <div class="lower_box_item">
    <div class="lower_box_count">3</div>
    <div class="lower_box_link">
      <%= link_to "Contacts in Progress", "#" %>
    </div>
  </div>
  <div class="lower_box_item">
    <div class="lower_box_count">20</div>
    <div class="lower_box_link">
      <%= link_to "Active Surveys", "#" %>
    </div>
  </div>
  <div class="lower_box_item">
    <div class="lower_box_count">4</div>
    <div class="lower_box_link">
      <%= link_to "Groups Under Your Leadership", "#" %>
    </div>
  </div>
</div>