<div class="dash_title">
	<span>
		<%= t('dashboard.panel_managing') %>
	</span>
</div>
<div class="dash_image">
	<%= image_tag("dash_managing.png") %>
</div>
<div class="dash_buttons">
	<%= link_to(t('dashboard.button_group'), "/groups", :class => "button") %>
	<div class="whatsthis">[<%= link_to("?", "#", :title => t('dashboard.help_group')) %>]</div>
	<%= link_to(t('dashboard.button_label'), "/people", :class => "button") %>
	<div class="whatsthis">[<%= link_to("?", "#", :title => t('dashboard.help_label')) %>]</div>
	<%= link_to(t('dashboard.button_assign'), "/people", :class => "button") %>
	<div class="whatsthis">[<%= link_to("?", "#", :title => t('dashboard.help_assign')) %>]</div>
</div>