<div class="dash_title">
	Managing<br/>Contacts
</div>
<div class="dash_image">
	<%= image_tag("dash_managing.png") %>
</div>
<div class="dash_buttons">
	<%= link_to("GROUP", "/groups", :class => "button") %>
	<div class="whatsthis">[<%= link_to("?", "#", :title => "Help text") %>]</div>
	<%= link_to("LABEL", "#", :class => "button") %>
	<div class="whatsthis">[<%= link_to("?", "#", :title => "Help text") %>]</div>
	<%= link_to("ASSIGN", "#", :class => "button") %>
	<div class="whatsthis">[<%= link_to("?", "#", :title => "Help text") %>]</div>
</div>