<div class="dash_title">
	<span>
		<%= t('dashboard.panel_managing') %>
	</span>
</div>
<div class="dash_image">
	<%= image_tag("dash_managing.png") %>
</div>
<div class="dash_buttons">
	<%= link_to(t('dashboard.button_group'), "/groups", :class => "button") %>
	<%= link_to(t('dashboard.button_label'), "/people", :class => "button") %>
	<%= link_to(t('dashboard.button_assign'), "/people", :class => "button") %>
</div>