<div id="dashboard_panels">
  <% if current_organization %>
    <h1><%= t('dashboard.header_text') %></h1>
  	<div id="dashboard_storing" class="dash_panel">
  		<%= render partial: "storing_pane" %>
  	</div>

  	<div id="panel_separator">
  		<div id="panel_bg">
  			<div id="dashboard_managing" class="dash_panel">
  				<%= render partial: "managing_pane" %>
  			</div>
  		</div>
  	</div>

  	<div id="dashboard_messaging" class="dash_panel">
  		<%= render partial: "messaging_pane" %>
  	</div>
  <% else %>
    <div id="dashboard_error">
      <%= raw t('welcome.wizard.not_found_paragraph') %>
    </div>
  <% end %>
</div>