<!-- Pick director form -->
<%= form_tag @person.new_record? ? add_person_leaders_path : leader_path(@person), method: :put, :remote => true, :id => 'create_leader_form' do %>
  <% if flash[:error] %>
    <div class="flash error"><strong><%= raw flash[:error] %></strong></div>
  <% end %>
  <label for="leader_search_name"><%= t('.name_required') %></label>
  
  
  <%= render 'people/person_form', :person => @person %>
    
  <%= check_box_tag :notify, 1, true %> <%= t('.notify') %><br/><br/>
  <%= submit_tag t('general.add'), :disable_with => t('general.adding') %>
<% end %>
