<!-- Pick director form -->
<%= form_tag @person.new_record? ? add_person_leaders_path : leader_path(@person), method: :put, :remote => true, :id => 'create_leader_form' do %>
  <% if flash[:error] %>
    <div class="flash error"><strong><%= raw flash[:error] %></strong></div>
  <% end %>
  <label for="leader_search_name">Name and email fields are required to add a leader:</label>
  
  
  <%= render 'people/person_form', :person => @person %>
    
  <%= check_box_tag :notify, 1, true %> Notify this person that they've been added and send them a link to log in.<br/><br/>
  <%= submit_tag "Add", :disable_with => "Adding..." %>
<% end %>
