$("#leader_search").dialog('close');
var leaders = $('#leaders');
leaders.prepend("<%= j(render('contacts/leader', person: @person)) %>")
$.fn.activateLeaderDroppable();
$('.leaders_list ul').prepend("<li class='leader' data-id='<%= @person.id %>'><span class='name'><%= j(link_to(@person, '#')) %></span></li>")
<% if params[:update] %>
  $.a("<%= t('contacts.create.success', name: Person.find(params[:id]).name) %>")
  window.location = "/people/" + <%= params[:id] %>
<% end %>
