<ul>
  <% @people.each do |person| %>
    <li><%= link_to("#{person} (#{person.user.try(:username)})", leaders_path(person_id: person.id), method: :post, remote: true) %></li>
  <% end %>
</ul>
<% if @total > @people.length %>
  <span style="font-size: 11px;">Showing <%= @people.length %> of <%= @total %>, keep typing or 
  <%= link_to('show all', '#', :class => 'search_show_all_link') %></span><br/>
<% end %>


If the person you are looking for is not already in the system, 
<%= link_to('Add Them', new_leader_path(name: params[:name]), :remote => true, :class => 'add_new_person inlinebutton') %>
