<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Cru") %></title>
    

		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
		<script src="http://code.jquery.com/jquery-1.5.2.min.js" ></script>
		<script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js" ></script>
		<%= stylesheet_link_tag 'mobile' %>

    <%= yield(:head) %>
  </head>
  <body>
		<div data-role="page">
			<%- unless true -%>
				<div data-role="header">
		    		<div class="current" id="home">
				      <%- if show_title? -%>
				        <div data-role="header" role="banner">
				          <%= link_to "Back", nil, "data-role" => "button" unless params[:controller] == 'welcome' %>
				          <h1 class="ui-title" tabindex="0" role="heading"><%=h yield(:title) %></h1>
				          <%= link_to "Full Site", root_url(mobile: 0), "data-role" => "button", rel: "external"%>
				          <!-- <%= yield(:toolbar) %> -->
				        </div>
				      <%- end -%>
					 </div>
				  </div>
			<%- end -%>
			<%- if true -%>
				 <div data-role="header">
				   <div data-role="header" role="banner">
				     <h1 style='font-family:helvetica'><!-- class="mh-login" --><%#= image_tag("mh-logo-full.png", :style =>"width: 135px;") %>MHub Login</h1>
				   </div>
				</div>
			<%- end -%>
	      <div data-role="content">
			<% title "Welcome!" %>
			<div class="info">
				<span style='text-align:center; width:100%;display:block;font-family:helvetica'>
          <% if mhub? %>
            To start the survey, please login with Facebook so we can know who you really are. This will save time completing your survey.
          <% else %>
            Please login with Facebook to get started 
          <% end %>
        </span><br>
			</div>
			<div class="info">
				<center><%= link_to(image_tag('fb_login_small.png'), user_omniauth_authorize_path(mhub? ? :facebook_mhub : :facebook), rel: 'external', alt: 'Login with Facebook') %></center>
			</div>
			<% if mhub? && cookies[:keyword] %>
  			<div class="info"><br/><br/>
  				<center><%= link_to("Don't like Facebook? Click here to skip facebook login", session[:return_to].is_a?(Hash) ? session[:return_to].merge(:nologin => true) : "/c/#{cookies[:keyword]}?nologin=true") %></center>
  			</div>
  		<% end %>
		 </div>
	  </div>
  </body>
</html>

