<% if mhub? %>
  <center>
    <% if !@survey || @survey.login_option == 0 %>
      <%= @survey.login_paragraph.blank? ? t('.login_paragraph_mhub') : @survey.login_paragraph %>
      <br><br>
      <%= link_to(image_tag('facebookconnect.png'), user_omniauth_authorize_path(:facebook_mhub), rel: 'external') %>
      <br/>    
      <% if @survey %>
        <div class="info"><br/><br/>
          <center>
            <%= t('.dont_like_faceook') %>
            <%= link_to(t('.skip_facebook'), session[:return_to] ? add_params(session[:return_to], :nologin => true) : 
            "/s/#{@survey.id}?nologin=true") %>
          </center>
        </div>
		<% end %>
    <% elsif @survey.login_option == 1 %>
      <%= t('.login_paragraph_mhub') %>
      <br><br>
      <%= link_to(image_tag('facebookconnect.png'), user_omniauth_authorize_path(:facebook_mhub), rel: 'external') %>
    <% end %>
  </center>
<% else %>
  <div class="splash login">
      <div class="left width30">
        <div class="loginscreen" style="text-align: center;">
        <%= link_to(image_tag('facebookconnect.png'), user_omniauth_authorize_path(:facebook), rel: 'external') %>
        <p><a href="/"><%= t('.back') %></a></p>
        </div>      
      </div>
    
    
    
      <div class="right width68 instruct">
        <h3 style="margin: 10px 0 0;"><%= t('.instructions') %>:</h3>
        <p style="margin: 6px 0px 0 0;">
          <%= t('.login_paragraph_html') %>
        </p>
      </div>
    
      <div class="clear"></div>
  
  </div>
<% end %>
