<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Cru") %></title>
    

		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
		<script src="http://code.jquery.com/jquery-1.5.2.min.js" ></script>
		<script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js" ></script>
		<%= stylesheet_link_tag 'mobile' %>

    <%= yield(:head) %>
  </head>
  <body>
		<div data-role="page">
			<%- unless true -%>
				<div data-role="header">
		    		<div class="current" id="home">
				      <%- if show_title? -%>
				        <div data-role="header" role="banner">
				          <%= link_to "Back", nil, "data-role" => "button" unless params[:controller] == 'welcome' %>
				          <h1 class="ui-title" tabindex="0" role="heading"><%=h yield(:title) %></h1>
				          <%= link_to "Full Site", root_url(mobile: 0), "data-role" => "button", rel: "external"%>
				          <!-- <%= yield(:toolbar) %> -->
				        </div>
				      <%- end -%>
					 </div>
				  </div>
			<%- end -%>
			<%- if true -%>
				 <div data-role="header">
				   <div data-role="header" role="banner">
				     <h1 style='font-family:helvetica' class="mh-login"><%= image_tag("mh-logo-full.png", :style =>"width: 135px;") %></h1>
				   </div>
				</div>
			<%- end -%>
	      <div data-role="content">
			<% title "Welcome!" %>
			<div class="info">
				<span style='text-align:center; width:100%;display:block;font-family:helvetica'>Login with Facebook to get started.<br><br>
				Don't worry.  We won't spam you.</span><br>
			</div>
			<div class="info">
				<center><%= link_to(image_tag('fb_login_small.png'), user_omniauth_authorize_path(:facebook), rel: 'external', alt: 'Login with Facebook') %></center>
			</div>
		 </div>
	  </div>
  </body>
</html>

