<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Cru") %></title>
      <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
      <script src="http://code.jquery.com/jquery-1.9.1.min.js" ></script>
      <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js" ></script>
    <%= javascript_include_tag 'mh' %>
		<%= stylesheet_link_tag 'mobile' %>

    <%= yield(:head) %>
  </head>
  <body>
    <%= render 'fb_init' %>
		<div data-role="page">
       <div data-role="header">
         <div data-role="header" role="banner">
           <h1 style='font-family:helvetica'><%= t('.login') %></h1>
         </div>
      </div>
	    <div data-role="content">
        <% title t('.welcome') %>
        <% if mhub? %>
          <% if !@survey || [0, 1].include?(@survey.login_option) %>
            <div class="info">
              <span style='text-align:center; width:100%;display:block;font-family:helvetica'>
                <%= @survey && @survey.login_paragraph.present? ?  @survey.login_paragraph : t('.login_paragraph_mhub') %>
              </span><br>
            </div>
            <div class="info">
              <center>
                <%= link_to(image_tag('fb_login_small.png'), "/users/auth/#{mhub? ? :facebook_mhub : :facebook}", id: 'facebook_button', rel: 'external', alt: t('.login_with_facebook'), style: cookies[:survey_mode].present? ? 'display:none' : '' ) %>
                <% if cookies[:survey_mode].present? %>
                  <span id="waiting"><%= t('.waiting_for_logout') %></span>
                <% end %>
              </center>
            </div>
            <% if @survey && @survey.login_option == 0 %>
              <div class="info"><br/><br/>
                <center><%= link_to(t('.no_facebook'), session[:return_to] ? add_params(session[:return_to], :nologin => true) : "/s/#{cookies[:survey_id]}?nologin=true") %></center>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <div class="info">
            <span style='text-align:center; width:100%;display:block;font-family:helvetica'>
                <%= t('.login_with_facebook') %>
            </span><br>
          </div>
          <div class="info">
            <center><%= link_to(image_tag('fb_login_small.png'), "/users/auth/#{mhub? ? :facebook_mhub : :facebook}", rel: 'external', alt: t('.login_with_facebook')) %></center>
          </div>
        <% end %>
		  </div>
	  </div>
  </body>
</html>

