<% provide :sidebar do %>
  <%= render 'signatures/sidebar', kind: Signature::SIGNATURE_CODE_OF_CONDUCT %>
<% end %>

<div class="titlebar titlebarmod">
  <h1><%= t('signatures.code_of_conduct.title')%></h1>
</div>

<div id="ac_contact_spread" class="signature_content">
  <div>
    <p><%== t('signatures.code_of_conduct.first_paragraph') %></p>
    <ul>
      <li><p><%== t('signatures.code_of_conduct.item1_from_first_paragraph') %></p></li>
      <li><p><%== t('signatures.code_of_conduct.item2_from_first_paragraph') %></p></li>
      <li><p><%== t('signatures.code_of_conduct.item3_from_first_paragraph') %></p></li>
      <li><p><%== t('signatures.code_of_conduct.item4_from_first_paragraph') %></p></li>
      <li><p><%== t('signatures.code_of_conduct.item5_from_first_paragraph') %></p></li>
      <li><p><%== t('signatures.code_of_conduct.item6_from_first_paragraph') %></p></li>
      <li><p><%== t('signatures.code_of_conduct.item7_from_first_paragraph') %></p></li>
    </ul>
    <p><%== t('signatures.code_of_conduct.second_paragraph') %></p>
  </div>
</div>