<div class="explain">
  <p><%= t('.add_person', org: current_organization) %></p>
</div>

<div id="add_person_form">
  <%= form_for person, url: people_path, method: :post, remote: true do |f| %>
    <% if flash[:error] %>
      <div class="flash error"><%= raw flash[:error] %></div>
    <% end %>
    <%= hidden_field_tag :add_another %>
    <%= render 'people/person_form', person: person %>
    
    <div class="user_defined_contact_fields customform contact_form">
      <div class="ls">Permissions:</div>
      <div class="rs">
        <% permission_ids = params[:permissions] ? params[:permissions].keys.map(&:to_i) : [] %>
        <% current_organization.permissions.each do |permission| %>
          <% if can?(:manage, current_organization) || permission.i18n != 'admin' %>
            <div class="sfield">
              <%= check_box_tag "permissions[#{permission.id}]", 1, permission_ids.include?(permission.id) %>
            	<label for="<%= "permissions_#{permission.id}" %>"><%= permission %></label>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    
    <br/>

    <%= submit_tag t('application.add_contact.save_and_close'), class: 'save_and_close save' %>
    <%= submit_tag t('application.add_contact.save_and_add'), class: 'save_and_more save' %>
  <% end %>
  
</div>
