<tr id="all">
	<td colspan="8" align="center">
		<% @filtered_people.each do |person| %>
			<span class="all_row" data-id="<%= person.id %>" data-name="<%= person.firstName %> <%= person.lastName %>" data-email="<%= person.email %>" data-phone-number="<%= person.pretty_phone_number %>"></span>
		<% end %>
	
		<span id="all_text">
			All <b><%= @people.size %></b> people on this page are selected. 
			<% if @all_people.size > @people.size %>
			<a href="#" onclick="$('#all_text, #all_selected_text').toggle()">Select all <b><%= @all_people.size %></b> people in the directory.</a>
			<% end %>
		</span>
		<span id="all_selected_text" style="display:none">
			All <b><%= @all_people.size %></b> people in the directory is selected.</a>
		</span>
	</td>
</tr>