<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="customform contact_form">
    <div class="sfield">
      <div class="ls"></div>
      <div class="rs">
        <%= tip(t('.facebook_url_tip')) %> <strong><%= f.label :url, t('.facebook_url') %></strong><br/>
        <span id="facebook_url"><%= link_to(@person.facebook_url, @person.facebook_url, target: '_blank', :class => "icon facebook showtext") if @person.facebook_url %></span><br/>
        <%= text_field_tag 'facebook_name_search', '', autocomplete: 'off', placeholder: t('general.autocomplete_name_hint') %>
        <%= f.hidden_field :fb_uid %>
      </div>
    </div>
  </div>


  <%= render 'people/person_form', person: @person %>

  
  <div class="actions indentedfields">
    <%= f.submit %>
  </div>
<% end %>
