<ul class="leftmenu">
  <li class="tipitright <%= 'selected' if current_page?(person_path(@person)) %>" title="<%= t('.profile', name: @person.first_name)%>">
  	<%= link_to(t('.profile', name: truncate(@person.first_name, length: 20, omission: "...")), person_path(@person)) %>
	</li>
  <% if can? :edit, @person %>
    <li class="tipitright <%= 'selected' if current_page?(edit_person_path(@person)) %>" title="<%= t('.edit_profile', name: @person.first_name) %>">
    	<%= link_to(t('.edit_profile', name: truncate(@person.first_name, length: 16, omission: "...")), edit_person_path(@person)) %>
  	</li>
    <li class="<%= 'selected' if current_page?(survey_response_path(@person)) %>">
    	<%= link_to(t('.survey_answers', name: @person.first_name), survey_response_path(@person)) %>
  	</li>
  <% end %>
</ul>
