<tr id="<%= dom_id(person) %>" data-id="<%= person.id %>" class="person_row" data-name="<%= person.name %>" data-email="<%= person.email %>">
  
  <% if can?(:create, Person) || can?(:create, SmsMailer) %>
    <td nowrap="nowrap" class="checkbox_cell">
      <%= check_box_tag 'ids[]', person.id, false, 'data-id'=>person.id, 'data-number'=>person.pretty_phone_number, id: "ids_#{person.id}", class: 'id_checkbox' %>
    </td>
  <% end %>
  <td class="first_name"><%= person.first_name %></td>
  <td class="last_name"><%= person.last_name %></td>
  <td>
    <div id="permissions_user_<%= person.id %>" class="permissions_spaces">
      <% permissions = if params[:include_archived] || params[:archived] %>
        <% (person.assigned_organizational_permissions_including_archived(current_organization.id).default_permissions + person.assigned_organizational_permissions_including_archived(current_organization.id).non_default_permissions) %>
      <% else %>
        <% (person.assigned_organizational_permissions(current_organization.id).default_permissions + person.assigned_organizational_permissions(current_organization.id).non_default_permissions) %>
      <% end %>
      <% permissions.each do |permission| %>
        <% unless person.is_permission_archived?(current_organization.id, permission.id) %>
          <span id="<%= person.id%>_<%= permission.id %>" class="permission_label permission_<%= permission.id %>"><%= permission %></span>
        <% else %>
          <span id="<%= person.id%>_<%= permission.id %>" class="permission_label_archived permission_<%= permission.id %>"><%= permission %></span>
        <% end %>
      <% end %>
    </div>
  </td>
  <td><%= person.gender.to_s.titleize %></td>
  <td class="email"><%= mail_to(person.email) %></td>
  <td class="phone_number"><%= person.pretty_phone_number %></td>
  <% if (current_organization.settings[:show_year_in_school]) || (current_organization.settings[:show_year_in_school].nil?) %>
    <td><%= person.year_in_school %></td>
  <% end %>
  <td class="controls">
    <%= link_to("Show", "/profile/#{person.id}", :class => "icon magnify tipit", :title => t('nav.view_details')) %>
  </td>
</tr>
