<tr id="<%= dom_id(person) %>" data-id="<%= person.id %>" class="person_row" data-name="<%= person.name %>" data-email="<%= person.email %>">
  
  <% if can?(:create, Person) || can?(:create, SmsMailer) %>
    <td nowrap="nowrap" class="checkbox_cell">
      <%#= image_tag('grippy.png', class: 'handle') %>
      <%= check_box_tag 'ids[]', person.id, false, id: "ids_#{person.id}", class: 'id_checkbox' %>
    </td>
  <% end %>
  <td class="first_name"><%= person.firstName %></td>
  <td class="last_name"><%= person.lastName %></td>
  <td>
    <div id="roles_user_<%= person.id %>" class="roles_spaces">
      <% (!params[:incude_archived].nil? ? (person.assigned_organizational_roles(current_organization.id).default_roles_desc + person.assigned_organizational_roles(current_organization.id).non_default_roles_asc) : (person.assigned_organizational_roles_including_archived(current_organization.id).default_roles_desc + person.assigned_organizational_roles_including_archived(current_organization.id).non_default_roles_asc)).each do |role| %>
        <span id="<%= person.id%>_<%= role.id %>" class="role_label role_<%= role.id %>"><%= role %></span>
      <% end %>
    </div>
  </td>
  <td><%= person.gender.to_s.titleize %></td>
  <td class="email"><%= mail_to(person.email) %></td>
  <td class="phone_number"><%= person.pretty_phone_number %></td>
  <% if (current_organization.settings[:show_year_in_school]) || (current_organization.settings[:show_year_in_school].nil?) %>
    <td><%= person.yearInSchool %></td>
  <% end %>
  <td class="controls">
    <%= link_to("Show", "/people/#{person.id}", :class => "icon magnify tipit", :title => t('nav.view_details')) %>
  </td>
</tr>
