<div id="search_filter_box" style="<%= 'display:none' %>">
  <%= form_tag params, method: :get do %>
    <%= hidden_field_tag :search_type, "basic" %>
    <% if params[:include_archived] %>
      <%= hidden_field_tag :include_archived, true %>
    <% end %>
    <div class="ononeline">
      <div class="field">
        <label for="Search"><span class="title"><%= t('.search_title') %></span></label> 
        <%= text_field_tag :query, params[:query], placeholder: t('.search_placeholder') %>
        
        <span id="advanced_search"><%= link_to t('.advanced_search'), '#' %></span><br />
      </div>
    </div>
    <div class="actionbarinline">
      <%= submit_tag t('general.search') %>
      <%= link_to t('.clear_search_form'), '', onclick: "$('form').clearForm(); return false;" %>
    </div>
  <% end %>
</div>
