<input type="hidden" id="bulk_email_message" value="" />
<input type="hidden" id="bulk_sms_message" value="" />

<%= render 'shared/bulk_vcard_dialog' %>  
<%= render 'shared/bulk_send_form' %>

<% provide :sidebar do %>
  <%= render 'labels' %>
<% end %>
<div class="titlebar">  
  <h1><%= image_tag("c_directory.png") %>
    <%= t('.directory_title', org: current_organization) %>
    <%= " - #{Role.find_by_id(params[:role_id]).to_s.pluralize}" if params[:role_id].present? %>
  </h1>
</div>
<% if can?(:create, Person) || can?(:create, SmsMailer) %>
  <div class="pagemenu">
    <ul class="pillmenu">
      <li>
        <%= link_to('Send', '#', class: 'action_dropdown') %>
        <ul style="display:none; width:235px;">
          <li><%= link_to(t('.send_email'), nil, :id => "send_bulkemail_link") %></li>	
          <li><%= link_to(t('.send_sms'), nil, :id => "send_bulksms_link") %></li>			
          <li><%= link_to t('.transfer_org'), "", :id => "transfer_org" %></li>
        </ul>
      </li>
    </ul>
    <% if (can? :manage, current_organization) || (can? :lead, current_organization) %>
      <ul id="menu" class="pillmenu">
        <li>
          <%= link_to(t('nav.roles'), '#', :id => 'roles_menu_div') %>

          <div class="dropdown_1column">
            <div class="col_1">
              <%- @roles.each do |role| %>
                <div class="role_div_checkbox">
                  <span>
                    <%= check_box_tag 'role_ids[]', role.id, false, id: "role_ids_#{role.id}", class: 'role_id_checkbox' %> 
                    <span class="role_link_checkbox"><%= role %></span>
                  </span>
                </div>
              <% end %>
              <div class="role_actions">
                <%= link_to(t('.apply_roles'), '#', :class => 'greybox', :id => 'apply_roles') %>
                <%= link_to(t('.manage_roles'), roles_path(organization: current_organization), :class => 'greybox') %>
              </div>
              <div id="apply_roles_spinner"><%= image_tag('spinner.gif') %></div>
              <div id="apply_roles_successful"></div>
            </div>

          </div>
        </li>
      </ul>
    <% end %>
    <ul class="pillmenu">
      <li><%= link_to(t('.add_person'), "", class: 'add_person') %></li>
    </ul>
    <ul class="pillmenu">
      <li><%= link_to(t('.filter'), '#', id: 'filter_link') %></li>
    </ul>
    <% if can? :manage, current_organization %>
      <ul class="pillmenu">
        <li><%= link_to(t('general.delete'), bulk_delete_people_path, id: "bulk_delete") %></li>
      </ul>  
    <% end %>
    <% if current_organization.admins.include? current_user.person %>
      <ul class="pillmenu">
        <li><%= link_to(t('.merge_people'), "", id: "merge_people") %></li>
      </ul>
    <% end %>
    <ul class="pillmenu">
      <li>
        <%= link_to('Download', '#', class: 'action_dropdown') %>
        <ul style="display:none">
          <li><%= link_to(t('.export'), export_people_path(params.except(:action, :controller, :utf8))) %></li>
          <li><%= link_to(t('.vcard'), '', id: 'bulk_vcard_link' ) %></li>
        </ul>
      </li>
    </ul>
    <%= render 'search' %>
    <%= render 'advanced_search' %>
  </div>
<% end %>

<%= form_tag people_path, id: 'people_form' do %>
  <% hidden_field_tag :ids %>
<% end %>
<%= form_for ContactAssignment.new do |f| %>
  <table class="listing" cellpadding="0" cellspacing="0">
    <tr>
      <% if can?(:create, Person) || can?(:create, SmsMailer) %>
        <th class="checkbox_cell"><%= check_box_tag 'check_all', true, false, 'data-target' => '#new_contact_assignment',  'data-params' => 'page=' + (params[:page] ? params[:page] : '1') + '&role_id=' + (params[:role_id] ? params[:role_id] : '')   %></th>
      <% end %>
      <th><%= sort_link @q, :firstName, t('contacts.index.first_name') %></th>
      <th><%= sort_link @q, :lastName, t('contacts.index.last_name') %></th>
      
	    <th><%= sort_link @q, 'role_id', t('nav.roles') %></th>
      <th><%= sort_link @q, :gender, t('.gender') %></th>
      <th><%= sort_link @q, 'email_addresses.email', t('.email') %></th>
      <th><%= sort_link @q, 'phone_numbers.number', t('.phone') %></th>
      <th><%= sort_link @q, :yearInSchool, t('.year_in_school') %></th>
      <th></th>
    </tr>
    <tbody id="people_table">
      <% @people.each do |person| %>
        <%= render 'person', person: person %>
      <% end %>
    </tbody>
  </table>
  <%= render 'assign' %>
<% end %>

<%= paginate @people %>
<% if @people.blank? %>
  <div class="contentpad no_contacts">
    <%= t('.no_people') %>
  </div>
<% end %>
<% if @people.any? %>
  <div class="searchstat">
    <%= t('.displaying', start: @people.offset_value + 1, finish: @people.offset_value + @people.length, total: @people.total_count) %>
  </div>
<% end %>

<div id="add_person_div" style="display:none" title="<%= t('.add_person') %>" class="fingerme">
  <%= render 'add_person', person: Person.new %>
</div>
