<input type="hidden" id="bulk_email_message" value="" />
<input type="hidden" id="bulk_sms_message" value="" />

<%= render 'shared/bulk_vcard_dialog' %>
<%= render 'shared/bulk_send_form' %>

<% provide :sidebar do %>
  <%= render 'labels' %>
<% end %>
<div class="titlebar titlebarmod">  
  <h1>
    <%= t('.directory_title', org: current_organization) %>
    <%= " - #{Role.find_by_id(params[:role]).to_s.pluralize}" if params[:role].present? %>
    <%= " - #{t('nav.archive')}" if params[:archived].present? %>
    <div id='global_loader'>
      <%= image_tag 'loader.gif'%>
    </div>
  </h1>
</div>
<% if can?(:create, Person) || can?(:create, SmsMailer) %>
  <div class="pagemenu">
    <ul class="pillmenu">
      <li><%= link_to(t('.add_person'), "", class: 'add_person') %></li>
    </ul>
    <ul class="pillmenu control_toggle">
      <li>
        <%= link_to('Send', '#', class: 'action_dropdown') %>
        <ul style="display:none; width:235px;">
          <li><%= link_to(t('.send_email'), nil, :id => "send_bulkemail_link") %></li>	
          <li><%= link_to(t('.send_sms'), nil, :id => "send_bulksms_link") %></li>			
          <li><%= link_to t('.transfer_org'), "", :id => "transfer_org" %></li>
        </ul>
      </li>
    </ul>
    <% if (can? :manage, current_organization) || (can? :lead, current_organization) %>
      <ul class="pillmenu">
        <li>
          <%= link_to(t('nav.roles'), '#', class: 'action_dropdown') %>
          <ul style="display:none; width:235px;" id='label_menu'>
            <li>
              <% (@roles.default_roles + @roles.non_default_roles).each do |role| %>
                <div class="role_div_checkbox">
                  <span>
                    <%= check_box_tag 'role_ids[]', role.id, false, id: "role_ids_#{role.id}", class: 'role_id_checkbox', :hidden => !can?(:manage, current_organization) && role.id == Role::ADMIN_ID ? true : false %> 
                    <span><%= role %></span>
                    <% if role.name == 'Admin' %>
                      <% role_help = "Access to all options within this specific organization including editing the organization, assigning other Admins, and modifying keywords and surveys." %>
                    <% elsif role.name == 'Leader' %>
                      <% role_help = "Access to all non-Admin features including viewing, modifying and assigning contacts." %>
                    <% elsif role.name == 'Involved' %>
                      <% role_help = "Currently no access but are displayed in Directory." %>
                    <% elsif role.name == 'Alumni' %>
                      <% role_help = "Currently no access but are displayed in Directory." %>
                    <% elsif role.name == 'Contact' %>
                      <% role_help = "No Access. Displayed on the All Contacts and Directory screen." %>
                    <% end %>
                    
                    <% if role_help.present? %>
                      <div class="icon help tipit help_bubble_keyword" title="<%=role_help%>"></div>
                    <% end%>
                  </span>
                </div>
              <% end %>
              <div class="role_actions">
                <%= link_to(t('.apply_roles'), '#', :class => 'greybox', :id => 'apply_roles') %>
                <%= link_to(t('.manage_roles'), roles_path(organization: current_organization), :class => 'greybox') %>
              </div>
              <div id="apply_roles_spinner"><%= image_tag('spinner.gif') %></div>
              <div id="apply_roles_successful"></div>
            </li>
          </ul>
        </li>
      </ul>
    <% end %>
    <ul class="pillmenu">
      <li><%= link_to(t('.filter'), '#', id: 'filter_link') %></li>
    </ul>
    <% if can? :manage, current_organization %>
      <ul class="pillmenu control_toggle">
        <li>
          <%= link_to('Remove', '#', class: 'action_dropdown') %>
          <ul style="display:none; width:235px;">
            <li><%= link_to(t('general.delete'), bulk_delete_people_path, id: "bulk_delete") %></li>
            <li><%= link_to(t('general.archive'), bulk_archive_people_path, id: "bulk_archive") %></li>
          </ul>
        </li>
      </ul>  
      <ul class="pillmenu control_toggle">
        <li><%= link_to(t('.merge_people'), "", id: "merge_people") %></li>
      </ul>
    <% end %>
    <ul class="pillmenu control_toggle">
      <li>
        <%= link_to('Download', '#', class: 'action_dropdown') %>
        <ul style="display:none">
          <li><%= link_to(t('.export'), export_people_path(params.except(:action, :controller, :utf8))) %></li>
          <li><%= link_to(t('.vcard'), '', id: 'bulk_vcard_link' ) %></li>
        </ul>
      </li>
    </ul>
    <%= render 'search' %>
    <%= render 'advanced_search' %>
  </div>
<% end %>
<%= form_tag people_path, id: 'people_form' do %>
  <% hidden_field_tag :ids %>
<% end %>
<%= form_for ContactAssignment.new do |f| %>
  <table class="listing" cellpadding="0" cellspacing="0">
    <tr>
      <% if can?(:create, Person) || can?(:create, SmsMailer) %>
        <th class="checkbox_cell"><%= check_box_tag 'check_all', true, false, 'data-target' => '#new_contact_assignment',  'data-params' => 'page=' + (params[:page] ? params[:page] : '1') + '&role_id=' + (params[:role_id] ? params[:role_id] : '')   %></th>
      <% end %>
      <th><%= sort_link @q_sort, :first_name, t('contacts.index.first_name'), params %></th>
      <th><%= sort_link @q_sort, :last_name, t('contacts.index.last_name'), params %></th>
      <th><%= sort_link @q_sort, 'role_id', t('nav.roles'), params %></th>
      <th><%= sort_link @q_sort, :gender, t('.gender'), params %></th>
      <th><%= sort_link @q_sort, 'email_addresses.email', t('.email'), params %></th>
      <th><%= sort_link @q_sort, 'phone_numbers.number', t('.phone'), params %></th>
      <% if (current_organization.settings[:show_year_in_school]) || (current_organization.settings[:show_year_in_school].nil?) %>
        <th><%= sort_link @q_sort, :year_in_school, t('.year_in_school'), params %></th>
      <% end %>
      <th></th>
    </tr>
    <tbody id="people_table">
      <% @people.each do |person| %>
        <%= render 'person', person: person %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @people %>
  <% if @people.blank? %>
    <div class="contentpad no_contacts">
      <%= t('.no_people') %>
    </div>
  <% end %>
  <% if @people.any? %>
    <div class="searchstat">
      <%= t('.displaying', start: @people.offset_value + 1, finish: @people.offset_value + @people.length, total: @people.total_count) %>
    </div>
  <% end %>
  <%= render 'assign' %>
<% end %>

<div id="add_person_div" style="display:none" title="<%= t('.add_person') %>" class="fingerme">
  <%= render 'add_person', person: Person.new %>
</div>
