<% provide :sidebar do %>
  <%= render :partial => 'people/left_sidebar' %>
<% end %>

<%= form_for ContactAssignment.new, html: {style: 'display:none'} do |f| %>
  <%= check_box_tag 'ids[]', @person.id, true, id: "ids_#{@person.id}", class: 'id_checkbox' %>
  <%= hidden_field_tag :assign_to %>
  <%= render 'application/assign' %>
<% end %>
<div class="titlebar" style="float:left">
  <h1>
    <%= image_tag("contact.png") %>
    <%= @person %>
    <%= link_to("Assign", "", class: 'assign headerlink', 'data-id' => @person.id) if can?(:manage, @person) %>
  </h1>
</div>

  <div class="titlebar" style="float:left;margin-bottom:0;" id="person_title" data-id="<%= @person.id %>">
   
    <h3 id="assigned_leader">
    <% if @person.assigned_tos.any? %>
      <%= t('.assigned_to', assigned_to: "#{@assigned_tos}") %>
      <% end %>
    </h3>
    
  </div>

<div style="clear:both;margin:0;padding:0;line-height:0;"></div>

<div class="pad">
  
  <div class="contact_leftcol">
    <div>
      <%= image_tag("https://graph.facebook.com/#{@person.fb_uid}/picture?type=large", alt: '') %>
    </div>
    <div>
      <% if @person.phone_number.present? %>
        <p>
        <label><%= t('.phone_number', count: @person.phone_numbers.length) %></label>
        <%= @person.phone_numbers_html %><br/>
        </p>
      <% end %>
      <% if @person.email.present? %>
        <p>
        <label><%= t('.email', count: @person.email_addresses.length) %></label>
        <%= @person.email_addresses_html %><br/>
        </p>
      <% end %>
      <% if @person.current_address %>
        <p>
          <label>Address:</label>
          <%= raw @person.current_address.display_html %>
        </p>
        <%= link_to(t('.google_map'), @person.current_address.map_link, target: '_blank', :class => "maplink") %>
      <% end %>
      <% if @person.fb_uid.present? %>
      <p><%= link_to(t('.facebook_profile'), "http://www.facebook.com/profile.php?id=#{@person.fb_uid}", target: '_blank', :class => "icon facebook") %> <%= link_to(t('.facebook_profile'), "http://www.facebook.com/profile.php?id=#{@person.fb_uid}", target: '_blank') %></p>
      <% elsif @person.url.present? %>      
      <p><%= link_to(t('.facebook_profile'), @person.url, target: '_blank') %></p>      
      <% end %>
      <p><%= link_to(t('.send_contact_info', name: @person.firstName), '#', class: 'send_contact_info', 'data-person_id' => @person.id ) %></p>      
      <%= render :partial => 'shared/send_contact_info_dialog', :locals => { person: @person } %>
    </div>
  </div>

  <div class="contact_rightbody">
    <% if @followup_comment %>
      <%= form_for @followup_comment, remote: true, html: {id: 'comment_form'} do |f| %>
        <%= f.hidden_field :organization_id %>
        <%= f.hidden_field :contact_id %>
        <%= f.hidden_field :commenter_id %>
        <span class="statusline">
          <%= t('.status') %>: 
          <%= f.select :status, OrganizationMembership::FOLLOWUP_STATUSES.collect {|s| [t("contacts.statuses.#{s}"), s]} %><br/>
        </span>
        <div class="commentbox">
          <div class="textarea">
            <%= f.text_area :comment, :rows => "2", placeholder: t('.add_comments_here') %><br/>
          </div>
          <%= button_tag(t('.add_comment'), id: 'comment_submit', :class => "smallbtn") %>
          <div class="rejoiceablebox">
            <%= link_to(t('.attach_rejoicable'), '#', id: 'add_rejoicable', :class => "rj rejoiceable") %><br/>
            <div id="rejoicable_fields" style="display:none">
              <% Rejoicable::OPTIONS.each do |option| %>
                <%= check_box_tag 'rejoicables[]', option %> <span class="<%= option %> rj"><%= t("rejoicables.#{option}") %></span>
                <br/>
              <% end %>
            </div>
          </div>        
          <%= spinner('comment') %>
        </div>
      
      <% end %>
    <% end %>
    
    <div class="commentswall" style="<%= 'display:none' unless @followup_comments.present? %>">
      <h3><%= t('.previous_comments') %></h3>
      <ul id="previous_comments">
        <%= render partial: 'followup_comments/followup_comment', collection: @followup_comments %>
      </ul>
    </div>
  </div>
  <div style="clear:both;"></div>
  <div>
    <% if @person.friends.any? %>
      <p><b><%= t('.persons_friends',person: declare_ownership(@person.firstName)) %></b></p>

      <% leader_friends = @person.friends(current_organization).reject{|friend| a = Person.where(fb_uid: friend.uid.to_i).first
        friend if a && !a.leader_in?(current_organization)
       } %>

      <% leader_friends.each do |friend| %>
        <div style="float:left; margin-right: 5px;">
          <%= link_to image_tag("https://graph.facebook.com/#{friend.uid}/picture?type=square", alt: ''), person_path(Person.where(fb_uid: friend.uid.to_i).first), target: '_blank', :title => friend.name %>
        </div>
      <% end %>
      <div style="clear:both;"></div>
    <% end %>
  </div>
  <div>
    <%= @person.date_attributes_updated ? t('.updated_time_difference', time_diff: distance_of_time_in_words(@person.date_attributes_updated.to_time, Time.now)) : t('.updated_time_difference', time_diff: distance_of_time_in_words(@person.dateChanged.to_time, Time.now)) %>
  </div>
</div>
