<% provide :sidebar do %>
<% end %>

<div class="titlebar">
  <h1>
    <%= image_tag("contact.png") %>
    <%= @person %>
  </h1>
</div>

<div class="pad">
  
  <div class="contact_leftcol">
    <div>
      <%# if @person.fb_uid.present? %>
        <%= image_tag("https://graph.facebook.com/#{@person.fb_uid}/picture?type=large", alt: '') %>
      <%# else %>
        <!-- No Image because they don't have facebook connected -->
      <%# end %>
    </div>
    <div>
      <% if @person.phone_number.present? %>
        <%= t('contacts.show.phone_number') %>: <%= number_to_phone(@person.phone_number) %><br/>
      <% end %>
      <% if @person.email.present? %>
        <%= t('contacts.show.email') %>: <%= mail_to(@person.email) %><br/>
      <% end %>
      <% if @person.current_address %>
        <p><%= raw @person.current_address.display_html %></p>
        <%= link_to('Google Map', @person.current_address.map_link, target: '_blank', :class => "maplink") %>
      <% end %>
      <% if @person.fb_uid.present? %>
      <p><%= link_to('Facebook Profile', "http://www.facebook.com/profile.php?id=#{@person.fb_uid}", target: '_blank') %></p>
      <% end %>
    </div>
  </div>
</div>