<% conditions = params[:survey_scope].present? %>
<div class="side-search-option checkboxes_only" data-type="Standard" data-value="<%= params[:survey_scope] %>">
  <%= render "search/toggler" %>
  <div class="title"><%= t('.title') %></div>
  <div class="fields_active">
    <% current_organization.surveys.order(:title).each do |survey| %>
      <% if conditions && params[:survey_scope].include?(survey.id.to_s) %>
        <div class="option checkbox">
          <%= check_box_tag "survey_scope[]", survey.id, true, id: "search_survey_#{survey.id}", class: "search_selected_survey_checkbox survey_item search_survey_checkbox" %>
          <div class="sidebar-label wide"><%= survey.title %></div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="fields">
    <% current_organization.surveys.order(:title).each do |survey| %>
      <% unless conditions && params[:survey_scope].include?(survey.id.to_s) %>
        <div class="option checkbox">
          <%= check_box_tag "survey_scope[]", survey.id, false, id: "search_survey_#{survey.id}", class: "search_selected_survey_checkbox survey_item search_survey_checkbox" %>
          <div class="sidebar-label wide"><%= survey.title %></div>
        </div>
      <% end %>
    <% end %>
    <%# render "search/actions", clear: conditions %>
  </div>
</div>