<% conditions = params[:permission].present? %>
<div class="side-search-option singleton checkboxes_only" data-id="side_search_permission" data-type="Standard" data-value="<%= params[:permission] %>">
  <%= render "search/toggler" %>
  <div class="title"><%= t('.title') %></div>
  <div class="fields">
    <% @organization.permissions.each do |permission| %>
      <% if params[:include_archived] %>
        <% count = permission.permission_contacts_from_org_with_archived(@organization).count %>
      <% else %>
        <% count = permission.permission_contacts_from_org(@organization).count %>
      <% end %>
      <%- active = conditions && params[:permission].include?(permission.id.to_s) %>
      <div class="option checkbox <%= 'active' if active %>">
        <%= check_box_tag "permission[]", permission.id, active, id: "search_permission_#{permission.id}", class: "search_permission_checkbox" %>
        <div class="sidebar-label"><%= permission.name %></div>
        <span class="info">(<span class="count"><%= count %></span>)</span>
      </div>
    <% end %>
  </div>
</div>