<div id="search-sidebar">
  <%= form_tag filter_contacts_path, method: :get, id: 'advanced_search_form', remote: true, autocomplete: "off" do %>
    <%= hidden_field_tag :search_stamp, params[:search_stamp] %>
    <%= hidden_field_tag :advanced_search, 1 %>

    <!-- Search Any -->
    <div id="side-search-any" class="category">
      <%= text_field_tag :search_any, params[:search_any], class: "side-search-field", placeholder: t('.search_any_placeholder') %>
    	<button class="action_gray" id="search_any_button">
    	  <%= image_tag "icon-search.png" %>
    	</button>
    </div>

    <!-- Include Archived Contacts -->
    <div id="side-search-archive">
      <%= check_box_tag "include_archived", "true", params[:include_archived] == 'true' %>
      <%= t('.include_archived') %>
    </div>

    <!-- Filter Friend Contacts -->
    <!--<div id="side-search-friends">-->
      <% #= check_box_tag "friends_only", "true", params[:friends_only] == 'true' %>
      <% #= t('.friends_only') %>
    <!--</div>-->

    <!-- Special Actions -->
    <% active = (session[:filters].present? || @survey_scope.present?) %>
    <div class="side-search-links" style="display: <%=  active ? 'block' : 'none'%>">
      <div class="pull-right">
        <%= link_to("Reset All", filter_contacts_path(filters: 'clear'), remote: true, id: 'search_people_filters_reset_all_button') %>
      </div>
      <% with_save_search = (session[:filters].present?) && @people.length > 0 && !@saved_contact_search.full_path.present? %>
      <div class="pull-left save-search-option" style="<%= 'display:none;' unless with_save_search %>">
        <%= link_to("Save this Search", "", id: 'search_people_filters_save_search_button') %>
      </div>
    </div>

    <!-- Available Filters -->
    <%- active = nil %>
    <%- active = true unless params[:advanced_search] == "1" %>
    <%- active ||= params[:assigned_to].present? %>
    <%- active ||= params[:status].present? %>
    <%- active ||= params[:interaction_type].present? %>
    <%- active ||= params[:permission].present? %>
    <%- active ||= params[:label].present? %>
    <%- active ||= params[:group].present? %>
    <%- active ||= params[:gender].present? %>
    <%- active ||= params[:faculty].present? %>
    <div class="side-search <%= 'active' if active %>" id="search_standard_filters">
      <div class="side-search-title"><%= t('.standard_title') %></div>
      <div class="side-search-options">
        <%= render "search/assignments" %>
        <%= render "search/interactions" %>
        <%= render "search/labels" %>
        <%= render "search/groups" %>
        <%= render "search/status" %>
        <%= render "search/permissions" %>
        <%= render "search/gender" %>
        <%= render "search/faculty" %>
      </div>
      <div class="side-search-toggler <%= 'active' if active %>">
        <span class="visible"><%= t('.standard_hide') %></span>
        <span class="invisible"><%= t('.standard_show') %></span>
      </div>
    </div>

    <%- active = nil %>
    <%- active ||= params[:survey_scope].present? %>
    <div class="side-search <%= 'active' if active %>" id="search_survey_filters">
      <div class="side-search-title"><%= t('.survey_title') %></div>
      <div class="side-search-options">
        <%= render "search/included_surveys" %>
        <div class="side-search-surveys">
          <% @survey_scope.each do |survey| %>
            <%= render "search/survey", survey: survey %>
          <% end if @survey_scope.present? %>
        </div>
      </div>
      <div class="side-search-toggler <%= 'active' if active %>">
        <span class="visible"><%= t('.survey_hide') %></span>
        <span class="invisible"><%= t('.survey_show') %></span>
      </div>
    </div>
  <% end %>

  <% if @saved_searches.present? %>
    <div class="side-search" id="saved_search">
      <div class="side-search-title"><%= t('.saved_search_title') %></div>
      <div class="side-search-options links_only">
        <%= render "search/saved_searches" %>
      </div>
      <div class="side-search-toggler">
        <span class="visible"><%= t('.saved_hide') %></span>
        <span class="invisible"><%= t('.saved_show') %></span>
      </div>
    </div>
  <% end %>

  <br/>
  <br/>
</div>