<ul class="button_bar">
  <li class="action_lightblue"><%= link_to "Record Interaction", "#", id: "action_menu_record_interaction" %></li>
</ul>
<ul class="button_bar">
  <li class="action_lightblue"><%= link_to "Assign", "#", id: "action_menu_assign"%></li>
</ul>
<ul class="button_bar">
  <li class="action_lightblue btn_left"><%= link_to "Roles", "#"%></li>
</ul>
<ul class="button_bar">
  <li class="action_lightblue btn_right"><%= link_to "Labels", "#", id: "action_menu_labels"%></li>
</ul>
<ul class="button_bar">
  <li class="action_lightblue btn_left"><%= link_to "Text", "#"%></li>
</ul>
<ul class="button_bar">
  <li class="action_lightblue btn_right"><%= link_to "Email", "#"%></li>
</ul>
<ul class="button_bar">
  <li class="action_lightblue"><%= link_to raw("More <span style='font-size:9px;'>&#x25BC;</span>"), "#"%></li>
</ul>