<ul class="button_bar">
  <li class="action_lightblue"><%= link_to "Record Interaction", "#"%></li>
</ul>
<ul class="button_bar">
  <li class="action_lightblue"><%= link_to "Assign", "#"%></li>
</ul>
<ul class="button_bar">
  <li class="action_lightblue btn_left"><%= link_to "Roles", "#"%></li>
</ul>
<ul class="button_bar">
  <li class="action_lightblue btn_right"><%= link_to "Labels", "#"%></li>
</ul>
<ul class="button_bar">
  <li class="action_lightblue btn_left"><%= link_to "Text", "#"%></li>
</ul>
<ul class="button_bar">
  <li class="action_lightblue btn_right"><%= link_to "Email", "#"%></li>
</ul>
<ul class="button_bar">
  <li class="action_lightblue"><%= link_to raw("More <span style='font-size:9px;'>&#x25BC;</span>"), "#"%></li>
</ul>