<div id="profile_groups_dialog" style="display:none;">
  <div class="ui-widget-overlay" style="position: fixed; width: 100%; height: 100%; z-index: 999; "></div>
  <div class="pop_box_container">
    <div class="mh_popup_box groups_popup_box" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable" tabindex="-1" role="dialog" aria-groupledby="ui-dialog-title-alert_dialog">
    	<div class="mh_popup_box_top"><span class="mh_popup_heading">Groups</span></div>
    	<div class="fancy">Apply the following groups to <%= @person.name %>:</div>
    	<div class="groups_chooser_box" id="groups_chooser_box">
        <% current_group_ids = Array.new %>
        <% @groups_for_assign.each do |group| %>
          <% if @groups.include?(group) %>
            <% current_group_ids << group.id %>
            <% checked = true %>
          <% else %>
            <% checked = false %>
          <% end %>
            
          <%= render partial: 'interactions/group', locals: {group: group, checked: checked} %>
        <% end %>
    	</div>
  		<div class="groups_add_new" id="groups_add_new">
        <%= text_field_tag :group_new_input, "", id: "groups_new_input", placeholder: "Create a new group..."%>
  			<div class="add_new_button">
  				<a href="#"><button class="add_gray" id="groups_add_new_button"></button></a>
  			</div>
  		</div>
      <div class="groups_notice" id="groups_notice"></div>
      

    	<div class="groups_save" id="groups_save" data-current-group-ids="<%= current_group_ids.join(',') %>">
    		<button class="red_accent" id="groups_popup_save_button" data-person-id="<%= @person.id %>">Save</button>
    		<button class="large_lightgray" id="groups_popup_cancel_button">Cancel</button>
        <%# link_to raw("<button class='large_gray' id='groups_popup_manage_button'>Manage Labels</button>"), roles_path(organization: current_organization.id) %>
    	</div>
      
    </div>
  </div>
</div>