<div class="feed_box interaction_display interaction_feed" id="interaction_feed_<%= interaction.id %>">
	<div class="feed_icon"><%= image_tag(interaction.icon, class: "tip", title: interaction.type) %></div>
	<div class="feed_item_header">
    <span class="feed_item_date tip" title="<%= time_format(interaction.timestamp) %>"><%= wiser_date(interaction.timestamp) %></span>
    <span class="feed_item_privacy">
      <strong>Visible to:&nbsp;</strong><%= interaction.privacy %>
      <%= link_to image_tag("edit_sprite.png"), "#menutop", class: "edit_feed_icon tip", "data-id" => interaction.id, "data-person-id" => @person.id, title: "Edit Interaction" %>
    </span>
	</div>
	<div class="feed_item_content"><%= interaction.title %></div>
  <% if interaction.comment.present? %>
  	<div class="feed_item_comment">
      <strong><%= interaction.creator %> wrote:</strong>
      “<%= interaction.comment %>”
    </div>
  <% end %>
</div>