<div class="option receiver" data-id="<%= receiver.id %>">
  <%= check_box_tag "receiver_id[]", receiver.id, false, class: "receiver_box", id: "receiver_#{receiver.id}", "data-id" => receiver.id  %>
  <div class="receiver_name dropdown_name">
    <% if receiver == person %>
      <%= "#{receiver.first_name} (This Person)" %>
    <% elsif receiver == current_person %>
      <%= "#{receiver.first_name} (Me)" %>
    <% else %>
      <%= receiver.name %>
    <% end %>
  </div>
</div>