<div class="option initiator" data-id="<%= initiator.id %>">
  <%= check_box_tag 'initiator_id[]', initiator.id, false, class: "initiator_box", id: "initiator_#{initiator.id}", "data-id" => initiator.id %>
  <div class="initiator_name dropdown_name">
    <% if initiator == current_person %>
      <%= "#{initiator.first_name} (Me)" %>
    <% elsif initiator == person %>
      <%= "#{initiator.first_name} (This Person)" %>
    <% else %>
      <%= initiator.name %>
    <% end %>
  </div>
</div>