<div class="edit_phone_fields sfield" data-group="phone">
  <%= builder.text_field :number %>
  <%= link_to_remove_fields(builder, false) %>
  <br/>
  <%= builder.select :location, %w[mobile home work].collect {|l| [t("general.#{l}"), l]} %>
  <%= builder.check_box :primary, class: 'primary phone' %> <%= builder.label :primary %>
</div>