<div class="interaction_new interaction_new_buttons">
	<button class="red_accent" id="interaction_new_record_button">Record A New Interaction</button>
</div>

<% @interactions.each do |interaction| %>
  <div class="feed_box interaction_display">
  	<div class="feed_icon"><%= image_tag(interaction.icon) %></div>
  	<div class="feed_item_header">
      <span class="feed_item_date"><%= time_format(interaction.created_at) %></span>
      <span class="feed_item_privacy">
        <strong>Visible to:&nbsp;</strong><%= interaction.privacy_setting.titleize %>
        <%= image_tag("edit_sprite.png") %>
      </span>
  	</div>
  	<div class="feed_item_content"><%= interaction.title %></div>
  	<div class="feed_item_comment">
      <strong><%= interaction.creator %> wrote:</strong>
      “<%= interaction.comment %>”
    </div>
  </div>
<% end %>