<div class="feed_slug"></div>
<div class="feed_box interaction_new">
  <%= form_for(@interaction, remote: true, html: {id: 'new_interaction_form'}) do |f| %>
    <%= f.select :interaction_type_id, current_organization.interaction_types.collect{|i| [i.name, i.id]}, {}, id: 'interaction_type_field', class: 'hidden' %>
    <%= f.select :privacy_setting, current_organization.interaction_privacy_settings, {}, id: 'privacy_setting_field', class: 'hidden' %>
    <%= f.text_field :receiver_id, id: 'receiver_field', class: 'hidden' %>
    <%= text_field_tag :id, @person.id, id: 'person_id', class: 'hidden' %>
    
  	<div class="interaction_field interaction_edit_initiator fancy">Initiator:<br/>
      <div id="initiator_dropdown" class="custom_dropdown" data-current-ids="<%= @interaction.initiators.collect(&:id) %>" data-default-id="<%= current_person.id %>" data-default-name="<%= current_person.first_name %> (Me)">
        <div class="arrow up">&#x25B2;</div><div class="arrow down">&#x25BC;</div>
        <div id="selected"></div>
        <div id="togglable">
          <div id="default_initiator_options">
            <%= render partial: 'interactions/option_initiator', locals: {person: @person, current_person: current_person, initiator: current_person} %>
            <% @interaction.initiators.each do |initiator| %>
              <% unless initiator == current_person %>
                <%= render partial: 'interactions/option_initiator', locals: {person: @person, current_person: current_person, initiator: initiator} %>
              <% end %>
            <% end %>
          </div>
          <div class="search">
            <%= text_field_tag :search_initiator, "", placeholder: "Search by name", id: "search_initiator_field", "data-person-id" => @person.id %>
          </div>
          <div class="results" id="search_initiator_results">
          </div>
        </div>
      </div>
  	</div>

  	<div class="interaction_field interaction_edit_type fancy">Type:<br/>
      <div id="interaction_type_dropdown" class="custom_dropdown" data-current-id="<%= @interaction.interaction_type_id %>">
        <div class="arrow up">&#x25B2;</div><div class="arrow down">&#x25BC;</div>
        <div id="selected"></div>
        <div id="togglable">
          <% current_organization.interaction_types.each do |type| %>
            <div class="option" data-id="<%= type.id %>" data-name="<%= type.name %>">
              <%= type.name %>
            </div>
          <% end %>
        </div>
      </div>
  	</div>

  	<div class="interaction_field interaction_edit_receiver fancy">Receiver:<br/>
      <div id="receiver_id_dropdown" class="custom_dropdown" data-current-id="<%= @interaction.receiver_id %>" data-default-id="<%= @person.id %>" data-default-name="<%= @person.first_name %> (This Person)">
        <div class="arrow up">&#x25B2;</div><div class="arrow down">&#x25BC;</div>
        <div id="selected"></div>
        <div id="togglable">
          <div id="default_receiver_options">
            <% if @person != current_person %>
              <%= render partial: 'interactions/option_receiver', locals: {person: @person, current_person: current_person, receiver: @person} %>
            <% end %>
            <%= render partial: 'interactions/option_receiver', locals: {person: @person, current_person: current_person, receiver: current_person} %>
            <% if @interaction.receiver.present? && @interaction.receiver != current_person && @interaction.receiver != @person %>
              <%= render partial: 'interactions/option_receiver', locals: {person: @person, current_person: current_person, receiver: @interaction.receiver} %>
            <% end %>
          </div>
          <div class="search">
            <%= text_field_tag :search_receiver, "", placeholder: "Search by name", id: "search_receiver_field", "data-person-id" => @person.id %>
          </div>
          <div class="results" id="search_receiver_results">
          </div>
        </div>
      </div>
  	</div>

  	<div class="interaction_field interaction_reveal more_div">
      <%= link_to raw("More Options &#x25BC;"), "", class: "more_options_link"%>
  	</div>

  	<div class="interaction_field interaction_edit_permission fancy more_option">Visible to:<br/>
      <div id="privacy_setting_dropdown" class="custom_dropdown" data-current-id="<%= @interaction.privacy_setting %>">
        <div class="arrow up">&#x25B2;</div><div class="arrow down">&#x25BC;</div>
        <div id="selected"></div>
        <div id="togglable">
          <% current_organization.interaction_privacy_settings.each do |key, value| %>
            <div class="option" data-id="<%= value %>" data-name="<%= key %>">
              <%= key %>
            </div>
          <% end %>
        </div>
      </div>  
  	</div>
    
  	<div class="interaction_field interaction_edit_date fancy more_option date_field_box">Date:
      <%= f.text_field :timestamp, id: 'datepicker', value: "#{Date.today}" %>
  	</div>
    <%= f.text_area :comment, class: "interaction_edit_comment comment_box", placeholder: "Add a comment...", rows: 4 %>

  	<div class="interaction_new interaction_save">
  		<button class="red_accent" id="interaction_save_save_button">Save</button>
  		<button class="large_lightgray" id="interaction_save_cancel_button" data-person-id="<%= @person.id %>">Cancel</button>
  	</div>
  <% end %>
</div>