<% if @person.fb_uid.present? %>
  <%= image_tag("https://graph.facebook.com/#{@person.fb_uid}/picture?width=200&height=200", alt: '', width: '200', height: '200', id: 'profile_image') %>
<% else %>
  <%= image_tag("no_image.png", alt: '', width: '200', height: '200', id: 'profile_image') %>
<% end %>

  
<div id="profile_label_header">
	Labels
  <%= link_to image_tag("edit_sprite.png", class: 'tip', title: 'Manage Labels'), "#", id: "show_profile_labels_button" %>
</div>
<div id="profile_label_box">
  <% if @labels.present? %>
    <% @labels.each do |label| %>
      <div class='profile_label'><%= label.name %></div>
    <% end %>
  <% else %>
    <div class="no_labels">No labels assigned.</div>
	<% end %>
</div>

  
<div id="profile_group_header">
	Groups
  <%= link_to image_tag("edit_sprite.png", class: 'tip', title: 'Manage Groups'), "#", id: "show_profile_groups_button" %>
</div>
<div id="profile_group_box">
  <% if @groups.present? %>
    <% @groups.each do |group| %>
      <div class='profile_group'><%= group.name %></div>
    <% end %>
  <% else %>
    <div class="no_groups">No groups assigned.</div>
	<% end %>
</div>