<div class="info_display info_display_buttons">
  <button class="red_accent" id="info_display_edit_button">Update Info</button>
</div>

<div class="feed_box info_display">
  <% if @person.contact_permission_for_org(current_organization) || @person.user_permission_for_org(current_organization)%>
		<div class="status col_left"><%= t('general.status') %>:</div>
  	<div class="status col_right edit" id="followup_status_div">
      <%- contact_permission = @person.permission_for_org(current_organization) %>
      <%- followup_status = contact_permission.nil? ? "" : contact_permission.followup_status %>
      <div id="followup_status_dropdown" class="custom_dropdown view" data-current-id="<%= followup_status %>">
        <div class="arrow up">&#x25B2;</div><div class="arrow down">&#x25BC;</div>
        <div id="selected"><%= followup_status.present? ? t("contacts.statuses.#{followup_status}") : "Select Status" %></div>
        <div id="togglable">
          <% OrganizationalPermission::FOLLOWUP_STATUSES.each do |fs| %>
            <div class="option" data-id="<%= fs %>" data-name="<%= t("contacts.statuses.#{fs}") %>">
              <%= t("contacts.statuses.#{fs}") %>
            </div>
          <% end %>
        </div>
      </div>
  	</div>


  	<div class="status col_left">Assigned To:</div>
  	<div class="status col_right" id="assigned_to_div">
      <div id="assigned_to_dropdown" class="custom_dropdown view" data-current-id="<%= @assigned_tos.count == 0 ? '0' : @assigned_tos.first.assigned_to_id %>">
        <div class="arrow up">&#x25B2;</div><div class="arrow down">&#x25BC;</div>
        <div id="selected">
          <% if @assigned_tos.count == 0 %>
            <%= "Unassigned" %>
          <% elsif @assigned_tos.count > 1 %>
            <%= "#{@assigned_tos.count} people selected" %>
          <% else %>
            <%= @assigned_tos.first.assigned_to == current_person ? "#{@assigned_tos.first.assigned_to.first_name} (Me)" : "#{@assigned_tos.first.assigned_to.name}" %>
          <% end %>
        </div>
        <div id="togglable">
          <div id="default_leader_options" class="view">
            <div class="option leader" data-id="0">
              <%= check_box_tag 'leader_id[]', 0, false, class: "leader_box", id: "leader_0", "data-id" => "0" %>
              <div class="leader_name dropdown_name">Unassigned</div>
            </div>
            <% if current_person.labeled_in_org?(Label.leader, current_organization) %>
              <%= render partial: 'interactions/option_leader', locals: {person: current_person, current_person: current_person, leader: current_person} %>
            <% end %>
            <% @assigned_tos.where("assigned_to_id <> ?", current_person.id).each do |assignment| %>
              <%= render partial: 'interactions/option_leader', locals: {person: @person, current_person: current_person, leader: assignment.assigned_to} %>
            <% end %>
          </div>
          <div class="search">
            <%= text_field_tag :search_leader, "", placeholder: "Search by name", id: "search_leader_field", class: "view", "data-person-id" => @person.id %>
          </div>
          <div class="results view" id="search_leader_results"></div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @person.gender.present? %>
  	<div class="gender col_left"><%= t('general.gender') %>:</div>
  	<div class="gender col_right"><%= @person.gender %></div>
  <% end %>

  <% if current_organization.name =~ /^Bridges at/ && @person.nationality.present? %>
  	<div class="gender col_left"><%= t('general.nationality') %>:</div>
  	<div class="gender col_right"><%= @person.nationality %></div>
  <% end %>

  <% if @person.faculty %>
  	<div class="gender col_left"><%= t('general.faculty') %>:</div>
  	<div class="gender col_right">Yes</div>
  <% end %>

</div>

<% email_addresses = @person.email_addresses %>
<% phone_numbers = @person.phone_numbers %>
<% addresses = @person.addresses %>

<% if (addresses.present? && addresses.first.address1.present?) || phone_numbers.present? || email_addresses.present? %>
  <div class="feed_box info_display">


    <% if email_addresses.present? %>
    	<div class="email col_left"><%= t('general.email') %>:</div>
    	<div class="email col_right">
        <% @person.email_addresses.each do |email| %>
          <div class="email_record">
            <%= mail_to email.email %>
          </div>
      		<% if email.primary %>
            <div class="info_tag">Primary</div>
          <% end %>
          <br/>
        <% end %>
    	</div>
    <% end %>

    <% if phone_numbers.present? %>
      <div class="phone col_left"><%= t('general.phone') %>:</div>
      <div class="phone col_right">
        <% phone_numbers.each do |phone| %>
          <%= link_to phone.pretty_number, "tel:#{phone.number}" %>
          <div class="info_tag"><%= phone.location.titleize %></div>
      		<% if phone.primary %>
            <div class="info_tag">Primary</div>
          <% end %>
          <br/>
        <% end %>
      </div>
    <% end %>

    <% if addresses.present? && addresses.first.address1.present?  %>
    	<div class="address col_left"><%= t('general.address') %>:</div>
    	<div class="address col_right">
        <% addresses.each do |address| %>
          <% if address.address1.present? %>
            <div class="info_tag"><%= address.address_type.titleize %></div>
        		<div class="multi_line" id="address_line_1"><%= address.address1 %></div>
        		<div class="multi_line" id="address_line_2"><%= address.address2 %></div>
        		<div class="multi_line" id="address_line_3"><%= address.address3 %></div>
        		<div class="multi_line" id="address_line_4"><%= address.address4 %></div>
        		<div class="multi_line" id="address_city_state_zip">
              <%= "#{address.city}, #{address.state} #{address.zip}" %>
            </div>
        		<div class="multi_line"><%= address.country %></div>
          <% end %>
        <% end %>
    	</div>
    <% end %>

    <% if (addresses.present? && addresses.first.address1.present?) || phone_numbers.present? || email_addresses.present? %>
    	<div class="col_right multi_line" id="email_this_info">
        <%= link_to(raw("<button class='action_gray'>#{t('.email_contact_info')}</button>"), '', class: 'send_contact_info', 'data-person_id' => @person.id) %>
        <%= render :partial => 'shared/send_contact_info_dialog', :locals => { person: @person } %>
    	</div>
    <% end %>

    <% if @person.fb_uid.present? %>
    	<div class="fb_link col_left">Facebook:</div>
    	<div class="fb_link col_right">
        <%= link_to("view #{@person.first_name}'s profile", "http://www.facebook.com/profile.php?id=#{@person.fb_uid}", target: '_blank') %>
    	</div>
    <% end %>

    <% friends = @person.friends_in_orgnization(current_organization) %>
    <% if friends.present? %>
      <div class="col_left" id="fb_link">Friends:</div>
      <div class="col_right" id="fb_friends">
      	<div id="fb_friends_thumbs">
          <% friends.each do |friend| %>
      			<div class="fb_thumb">
              <%= link_to image_tag("https://graph.facebook.com/#{friend.fb_uid}/picture?type=square"), profile_path(friend.id), target: "_blank", title: "#{friend.name}" %>
      			</div>
          <% end %>
      	</div>
      </div>
    <% end %>
  </div>
<% end %>