<% if @person.fb_uid.present? %>
  <%= image_tag("https://graph.facebook.com/#{@person.fb_uid}/picture?width=200&height=200", alt: '', width: '200', height: '200', id: 'profile_image') %>
<% else %>
  <%= image_tag("no_image.png", alt: '', width: '200', height: '200', id: 'profile_image') %>
<% end %>

  
<div id="profile_label_header">
	Labels
  <%= link_to image_tag("edit_sprite.png"), "#", id: "show_profile_labels_button" %>
</div>
<div id="profile_label_box">
	<% @roles = @person.assigned_organizational_roles(current_organization.id).arrange_all %>
  <% if @roles.present? %>
    <% @roles.each do |role| %>
      <div class="profile_label"><%= role %></div>
    <% end %>
	<% end %>
</div>

<div id="profile_labels_dialog" style="display:none;">
  <div class="ui-widget-overlay" style="position: fixed; width: 100%; height: 100%; z-index: 999; "></div>
  <div class="pop_box_container">
    <div class="mh_popup_box labels_popup_box" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable" tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-alert_dialog">
    	<div class="mh_popup_box_top"><span class="mh_popup_heading">Labels</span></div>
    	<div class="fancy">Apply the following labels to <%= @person.name %>:</div>
    	<div class="labels_chooser_box">
        <% @roles_for_assign.each do |role| %>
      		<div class="labels_checkbox">
            <%= check_box_tag 'role_ids', role.id, @roles.include?(role) %>
            <span><%= role %></span>
      		</div>
        <% end %>

    		<div class="labels_add_new">
    			<input id="labels_new_input" type="text" placeholder="Create a new label ...">
    			<div class="add_new_button">
    				<a href="#"><button class="add_gray" id="labels_add_new_button"></button></a>
    			</div>
    		</div>
    	</div>

    	<div class="labels_save">
    		<button class="red_accent" id="labels_popup_save_button">Save</button>
    		<button class="large_lightgray" id="labels_popup_cancel_button">Cancel</button>
    		<button class="large_gray" id="labels_popup_manage_button">Manage Labels</button>
    	</div>
    </div>
  </div>
</div>