<div class="feed_box survey_display">
	<div class="feed_icon"><%= image_tag("survey.png", class: 'tip', title: 'Survey') %></div>
	<div class="feed_item_header">
    <span class="feed_item_date tip" title="<%= time_format(answer_sheet.completed_at) %>"><%= wiser_date(answer_sheet.completed_at) %></span>
	  <span class="feed_item_privacy">
      <strong>Visible to:</strong>
      <%= "Everyone in #{answer_sheet.survey.organization.name}" %>
      <%= link_to image_tag("edit_sprite.png"), edit_survey_response_path(@person), class: "edit_survey_icon tip", "data-id" => answer_sheet.id, "data-person-id" => @person.id, title: "Edit Survey Answers" %>
    </span>
	</div>
	<div class="feed_item_content">
    <strong><%= answer_sheet.person.name %></strong>
    added new information via
    <strong><%= answer_sheet.survey.title %></strong>
    survey.
  </div>
  <% answer_sheet.answers.each do |answer| %>
    <% if answer.value.present? %>
      <div class="feed_item_survey_answer">
        <strong><%= answer.question.label %></strong>
        <%= answer.value %>
      </div>
    <% end %>
  <% end %>
</div>