<div class="feed_box survey_display">
	<div class="feed_icon"><%= image_tag("survey.png", class: 'tip', title: 'Survey') %></div>
	<div class="feed_item_header">
    <span class="feed_item_date"><%= much_wiser_date(answer_sheet.completed_at || answer_sheet.updated_at, custom_class: 'tip') %></span>
	  <span class="feed_item_privacy">
      <%= link_to image_tag("edit_sprite.png"), edit_survey_response_path(@person, :jump_to_hash=>"s_"+answer_sheet.survey.id.to_s), class: "edit_survey_icon tip", "data-id" => answer_sheet.id, "data-person-id" => @person.id, title: t("interactions.edit_this_survey") %>
    </span>
	</div>
  <div class="feed_visible_to">
    <strong>Visible to:</strong>
    <%= "Everyone in #{answer_sheet.survey.organization.name}" %>
  </div>
	<div class="feed_item_content">
    <strong><%= answer_sheet.person.name %></strong>
    added new information via
    <strong><%= answer_sheet.survey.title %></strong>
    survey.
  </div>

  <% if answer_sheet.survey.questions.present? %>
    <% answer_sheet.survey.questions.each do |question| %>
      <% if question.predefined? %>
        <% answer = @person.send(question.attribute_name) %>
        <% if answer.present? %>
          <div class="feed_item_survey_answer">
            <strong><%= question.label %></strong>
            <%= answer %>
          </div>
        <% end %>
      <% else %>
        <% answers = answer_sheet.answers.where(question_id: question.id) %>
        <% if answers.present? %>
          <div class="feed_item_survey_answer">
            <strong><%= question.label %></strong>
            <%= answers.collect(&:value).compact.reject(&:empty?).to_sentence %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div class="feed_item_survey_answer">
      <%= t('survey_responses.all_predefined_have_answered') %>
    </div>
  <% end %>
</div>
