<%- wiser_date_global(timezone: current_user.settings[:time_zone]) %>
<div id="person_profile">
  <div id="action_menu">
    <%= render partial: "interactions/action_menu"%>
  </div>

  <div id="profile_name">
    <span id="name"><%= @person.name %></span>
    <%= link_to image_tag("edit_sprite.png", class: "tip", title: "Update Person Name"), "#", id: "edit_profile_name_button" %>
  </div>
  <div id="profile_name_edit">
    <%= form_for @person, remote: true, html: {id: 'profile_name_form'} do |f| %>
      <div id="profile_name_fields">
        <%= f.text_field :first_name, class: "profile_name_field", placeholder: "First Name" %>
        <%= f.text_field :last_name, class: "profile_name_field", placeholder: "Last Name" %>
      </div>
      <div id="profile_name_buttons">
  			<button class="red_accent" id="profile_name_edit_save_button">Save</button>
  			<button class="large_lightgray" id="profile_name_edit_cancel_button">Cancel</button>
      </div>
    <% end %>
  </div>

	<div id="profile_sidebar">
    <%= render partial: "interactions/profile_sidebar"%>
	</div>

	<div class="feed_panel" id="profile_feed">
		<div class="feed_panel_top">
			<ul id="panel_nav">
				<li id="info" class="current">Info</li>
				<li id="interactions">Interactions</li>
				<li id="surveys">Surveys</li>
				<li id="all">All</li>
			</ul>
		</div>

		<div class="feed_content">
      <div class="tab_content profile_info current">
        <div class="edit_space"><%= render partial: "interactions/profile_info_edit" %></div>
        <div class="view_space"><%= render partial: "interactions/profile_info" %></div>
      </div>
      <div class="tab_content profile_interactions">
        <div class="edit_space"><%= render partial: "interactions/profile_interactions_edit" %></div>
        <div class="view_space"><%= render partial: "interactions/profile_interactions" %></div>
      </div>
      <div class="tab_content profile_surveys">
        <%= render partial: "interactions/profile_surveys" %>
      </div>
      <div class="tab_content profile_all">
        <%= render partial: "interactions/profile_all" %>
      </div>
  	</div>
  </div>
</div>

<!-- Assign dialog -->
<%= form_for ContactAssignment.new do |f| %>
  <%= check_box_tag 'ids[]', @person.id, true, {'data-id'=>@person.id, 'data-number'=>@person.pretty_phone_number, id: "ids_#{@person.id}", class: 'id_checkbox contact_checkbox profile_checkbox', 'data-name' => "#{@person.first_name} #{@person.last_name}", 'data-email'=>@person.email, 'data-roles' => "#{@labels.collect(&:id).join(',')}"} %>
  <%= hidden_field_tag :assign_to %>
  <%= render 'application/assign' %>
<% end %>

<!-- Message Dialog -->
<%= render 'shared/bulk_send_msg' %>

<!-- Labels Dialog -->
<%= render 'interactions/dialog_labels' %>

<!-- Roles Dialog -->
<%= render 'interactions/dialog_roles' %>

<!-- Groups Dialog -->
<%= render 'interactions/dialog_groups' %>