<div id="member_search" title="<%= t('.add_a_member') %>">style="display:none" 

  <div class="explain">
    <p><%= t('.start_typing') %>:</p>
  </div>
  
  <div class="modalresults"> 
    <%= form_tag search_group_group_memberships_path(@group), :id => 'member_search_form', :onsubmit => 'return false;' do %>
      <%= hidden_field_tag :show_all %>
      <%= text_field_tag :name, '', :id => 'member_search_name', :autocomplete => 'off' %>
      <%= spinner('member_search') %>
    <% end %>
    <div id="member_search_results">
      
    </div>
    
    <div id="new_member_form">
      
    </div>
  </div>
</div>