<div id="member_search" title="" style="display:none">
	<%= hidden_field_tag :add_to_group_id, params[:id] %>
  <div class="explain_search">
    <p><%= t('.start_typing') %></p>
  </div>
  
  <%= form_tag search_group_group_memberships_path(@group), :id => 'member_search_form', :onsubmit => 'return false;' do %>
    <%= hidden_field_tag :show_all %>
    <%= hidden_field_tag :role %>
    <%= hidden_field_tag :from_add_member_screen, "true" %>
    <%= text_field_tag :name, '', :id => 'member_search_name', :autocomplete => 'off' %>
    <%= spinner('member_search') %>
  <% end %>
  
  <div id="member_search_results" class="name_search_results"></div>
</div>
