<% unless params[:add_another] == 'true' %>
  $("#member_search").dialog('close');
<% end %>

<% if params[:from_add_member_screen] == "true" %>
  <% unless @inContacts %>
    row = '<%= j(render('groups/person', person: @persons, group_membership: @group_membership)) %>'
    if($('#<%= dom_id(@persons) %>')[0]) {
      $('#<%= dom_id(@persons) %>').replaceWith(row)
    } else {
      $('#group_table').prepend(row)
    }
  <% end %>
<% else %>
  <% unless @inContacts %>
    row = '<%= j(render('groups/person', person: @persons.first, group_membership: @group_membership)) %>'
    if($('#<%= dom_id(@persons.first) %>')[0]) {
      $('#<%= dom_id(@persons.first) %>').remove()
    }
    $('#group_table').prepend(row)
  <% end %>
<% end %>

$('#groups_save').attr('data-current-group-ids',"<%= @groups.collect(&:id).join(',') %>")
$('#profile_group_box').html("")
<% if @groups.present? %>
  <% @groups.each do |group| %>
    $('#profile_group_box').append("<div class='profile_group'><%= group.name %></div>")
    $(".groups_checkbox .group_checkbox[value=<%= group.id%>]").prop('checked',true)
  <% end %>
<% else %>
  $('#profile_group_box').append("<div class='no_groups'>No groups assigned.</div>")
<% end %>
$.toggleLoader('profile_name','')

$('#global_loader').hide()
