<% if @total > 0 %>
  <ul>
    <% @people.each do |person| %>
      <li>
        <%= link_to("#{person} (#{person.primary_email_address})", group_group_memberships_path(group_id: params[:group_id], role: params[:role], person_id: person.id, from_add_member_screen: "true"), method: :post, remote: true) %>
      </li>
    <% end %>
  </ul>
  <% if @total > @people.length %>
    <%= t('.showing_count', length: @people.count, total: @total) %>
    <%= link_to(t('.show_all'), '#', :class => 'search_show_all_link_members') %>
  <% else %>
    <%= t('.showing_count_complete', length: @people.count) %>
  <% end %>
  <br/>
  <br/>
<% else %>
  <%= t('.not_found', terminology: current_organization.terminology.downcase) %>
<% end %>

<%= link_to raw("<button class='red_accent' id='add_new_person_group_button'>#{t('.add_new_person_group')}</button>"), '#' %>