<% content_for :header do %>
  <h1 style="color: #60D9F2; font-size: 28px; margin: 0; font-weight: 300; padding-top: 6px;">
    <%= t('.youre_invited') %>
  </h1>
<% end %>

<%# body %>
<div style="padding: 38px 52px;">
  <%= email_image_tag('email/invite.png', height: 80) %>
  <h3 style="font-size: 16px"><%= t('.greeting', name: @person.first_name) %></h3>
  <h1 style="font-size: 24px"><%= t('.header') %></h1>
  <%= t('.body_html', added_by: @added_by || 'Unknown') %>
  <%= fancy_email_button(t('.invite_button_text'), @link) %>
  <p style="font-size: 13px;">
    <%= t('.paste_link') %>
    <%= @link %>
  </p>
</div>
<div style="height: 22px; background-color: #F4F4F4;"></div>

<div style="padding: 38px 52px;">
  <div style="width: 100px; height: 130px; float: left;">
    <%= email_image_tag('email/mobile.png', height: 80) %>
  </div>
  <h2 style="margin-top: 0;"><%= t('.mobile_ad_header') %></h2>
  <p><%= t('.mobile_ad_body') %></p>
  <%= link_to 'https://itunes.apple.com/us/app/missionhub/id447869440' do %>
    <%= email_image_tag('email/app-store.png', alt: 'iPhone App', style: 'height: 28px; padding: 0 3px;') -%>
  <% end %>
  <%= link_to 'https://play.google.com/store/apps/details?id=com.missionhub' do %>
    <%= email_image_tag('email/google-play.png', alt: 'Android App', style: 'height: 28px; padding: 0 3px;') %>
  <% end %>
</div>
<div style="height: 22px; background-color: #F4F4F4;"></div>

<div style="padding: 38px 52px;">
  <% helpsite = "<a href='http://help.missionhub.com/' style='color: black;'>".html_safe %>
  <% contact_us = "<a href='mailto:support@missionhub.com' style='color: black;'>".html_safe %>
  <%= t('.closing_html', helpsite_link: helpsite, contact_us_link: contact_us) %>
</div>
