<%= form_for @group, validate: true do |f| %>
<div class="customform group_form">
  <div class="item">
    <div class="group_label">
      <%= f.label :name %>
    </div>
    <div class="field">
      <%= f.text_field :name %>
    </div>
  </div>


  <div class="item">
    <div class="group_label">
      <%= f.label :location %>
      <div class="icon help tipitright help_bubble_keyword" title="<%= t('groups.form.location_tip') %>"></div>
    </div>
    <div class="field">
      <%= f.text_area :location, :class => "location" %>
    </div>
  </div>


  <div class="item" style="display:none;">
    <%= f.check_box :list_publicly %>
    <%= f.label :list_publicly %>
    <div class="icon help tipitright help_bubble_keyword" title="<%= t('groups.form.list_publicly_tip') %>"></div>
  </div>


  <div class="item" style="display:none; <%#= 'display:none' if !@group.list_publicly? %>">
    <%= f.check_box :approve_join_requests %>
    <%= f.label :approve_join_requests %>
    <div class="icon help tipitright help_bubble_keyword" title="<%= t('.approve_join_tip') %>"></div>
  </div>

  <div class="item_half">
    <div class="group_label">
      <%= f.label :meets %>
    </div>
    <div class="field">
      <%= f.select :meets, [[t('weekly'), 'weekly'], [t('monthly'), 'monthly'], [t('sporadically'), 'sporadically']] %>
    </div>
  </div>


  <div class="item_half_right" style="<%= 'display:none' if @group.meets == 'sporadically' %>">
    <div class="group_label">
      <div class="day_of_week_div regular" style="<%= 'display:none' unless @group.meets == 'weekly' || @group.meets.blank?  %>">
        <%= f.label :meeting_day, t('.meets_on') %>
      </div>
      <div class="day_of_month_div regular" style="<%= 'display:none' unless @group.meets == 'monthly' %>">
        <%= f.label :meeting_day, t('.meets_on_the') %>
      </div>
    </div>
    <div class="field">
      <div class="day_of_week_div regular" style="<%= 'display:none' unless @group.meets == 'weekly' || @group.meets.blank? %>">
        <%= select_tag :day_of_week, options_for_select(t('date.day_names').collect.with_index {|d, i| [d, i]}) %>
      </div>
      <div class="day_of_month_div regular" style="<%= 'display:none' unless @group.meets == 'monthly' %>">
        <%= select_tag :day_of_month, options_for_select((1..31).collect {|i| [i.ordinalize, i]}) %>
        <%= t('.of_month') %>
      </div>
    </div>
    <%= f.hidden_field :meeting_day %>
  </div>


  <div class="item_half regular" style="<%= 'display:none' if @group.meets == 'sporadically' %>">
    <div class="group_label">
      From
    </div>
    <div class="field">
      <%= f.select :start_time, times(6.hours.to_i, 22.hours.to_i) %>
    </div>
  </div>


  <div class="item_half_right regular" style="<%= 'display:none' if @group.meets == 'sporadically' %>">
    <div class="group_label">
      To
    </div>
    <div class="field">
      <%= f.select :end_time, times(7.hours.to_i, 22.hours.to_i) %>
    </div>
  </div>

  <br/>

  <div class="item formactions">
    <%= f.submit %><%= link_to(t('.back'), :back, :class=> "cancel")%>
  </div>
</div>
<% end %>
