<table class="listing contact_listing" cellpadding="0" cellspacing="0">
  <tr id="table_header">
    <th class="checkbox_cell header_checkbox">
      <%= check_box_tag 'check_all', true, false %>
    </th>
    <th><%= sort_link @q, :first_name, t('.name'), params %></th>
    <th><%= t('.email') %></th>
    <th><%= t('.phone') %></th>
    <th>
      <% if params[:search] && params[:search][:meta_sort].include?('asc') %>
        <%=raw sort_link(@q, :role, t('.role'), params).gsub('asc','desc') %>
      <% else %>
        <%= sort_link @q, :role, t('.role'), params %>
      <% end %>
    </th>
    <th>&nbsp;</th>
  </tr>
  <tbody id="group_table">
    <% @people.each do |person| %>
      <%= render 'groups/person', person: person, group_membership: person.group_memberships.where(group_id: @group.id).first %>
    <% end %>
  </tbody>
</table>

<br/>
<div class="pagination_area">
  <div class="pagination_links group_members">
    <%= paginate(@people, remote: true, params: {controller: 'groups', action: 'show', paginate: true}) %>
  </div>
  <div class="pagination_info">
    <%= page_entries_info(@people).gsub("information","").squeeze(" ").html_safe %>
  </div>
</div>