<%- involved = current_organization.all_people.get_from_group(group.id) %>
<tr data-id="<%= group.id %>">
	<td class="handle_container">
    <%= image_tag('grippy.png', class: 'handle' ) %>
	</td>
  <td class="group_name_column">
    <%= link_to(group.name, group) %>
  </td>
  <td>
    <% if !group.list_publicly %>
      <%= image_tag('lock.gif', class: 'privategroup' ) %>
    <% end %>
  </td>
  <td>
    <%= involved.count %>
  </td>
  <td>
    <%= current_organization.all_people.get_leaders_from_group(group.id).collect(&:name).join(", ") %>
  </td>
  <td class="controls" align="right">
    <%= link_to("Show", group, :class => "icon magnify tipitleft", :title => t('nav.view_details')) %>
  </td>
</tr>
