<tr id="<%= dom_id(person) %>">
  <td><%= person.name %></td>
  <td><%= mail_to(person.email) if person.email.present? %></td>
  <td><%= person.pretty_phone_number %></td>
  <td><%= t(group_membership.role) %></td>
  <td class="controls"><%= link_to("Delete", group_group_membership_path(@group, group_membership), :method => :delete, :remote => true, :class => "icon delete", :confirm => t('.remove_confirm', name: person)) %></td>
</tr>