<%= render partial: 'groups/sidebar'%>

<div class="titlebar titlebarmod">
  <h1>
    <%= t('.group_list', org: current_organization.to_s) %>
    <% if @label %>
      <%= t('.labeled_with', label: @label) %>
    <% end %>
  </h1>
</div>

<div class="pagemenu">
  <ul class="pillmenu">
    <li>
      <%= link_to(t('.add_group'), new_group_path) %>
    </li>
  </ul>
  <ul class="divider"></ul>
  <ul class="pillmenu">
		<li><%= link_to(t('people.index.send_email'), nil, :id => "send_bulkemail_link_new") %></li>
	</ul>
  <ul class="pillmenu">
		<li><%= link_to(t('people.index.send_sms'), nil, :id => "send_bulksms_link_new") %></li>
	</ul>
</div>

<span style="display:none" id="drag_helper_text_one"><%= t('.assign_to_label', count: 1) %></span>
<span style="display:none" id="drag_helper_text_other"><%= t('.assign_to_label', count: 0) %></span>
<table class="listing" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th class="checkbox_cell">
        <%= check_box_tag 'check_all_groups', true, false %>
      </th>
      <th class="groupname"><%= sort_link @q, :name, t('.group_name'), params %></th>
      <th></th>
      <th><%= t('.members') %></th>
      <th><%= t('.leaders') %></th>
      <th><%= t('.labels') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="groups_table">
    <% @groups.each do |group| %>
      <%= render partial: 'groups/group', locals: {group: group}%>
    <% end %>
  </tbody>
</table>

<%= render 'shared/bulk_send_msg' %>