<% provide :sidebar do %>
  <ul class="leftmenu">
    <li class="heading selected">
      <%# if can? :manage, @organization %>
        <%= link_to(raw(t('.add') + " " + image_tag('add.png')), '#', class: 'add-leader listaction') %>
      <%# end %>
      <h3><%= t('.labels') %></h3>
    </li>
    <li>
      <ul id="leaders" class="indent expandable" data-height="244">
        <% current_organization.group_labels.each do |label| %>
          <li><%= label %></li>
        <% end %>
      </ul>
    </li>
  </ul>
<% end %>

<div class="titlebar">
  <h1><%= t('.group_list', org: current_organization.to_s) %></h1>
</div>

<div class="pagemenu">
  <ul class="pillmenu">
    <li>     
      <%= link_to(t('.add_group'), new_group_path) %>
    </li>
  </ul>
</div>

<table class="listing" cellpadding="0" cellspacing="0">
  <thead>
    <th></th>
    <th>Group Name</th>
    <th></th>
    <th>Member Count</th>
    <th>Labels</th>
    <th></th>
  </thead>
  <tbody id="groups_table">
    <% @groups.each do |group| %>
      <% group_p = Present(group) %>
      <tr>
        <td nowrap="nowrap" class="checkbox_cell">
          <%= image_tag('grippy.png', class: 'handle' ) %>
          <%= check_box_tag 'ids[]', group.id, false, id: "ids_#{group.id}", class: 'id_checkbox' %>
        </td>
        <td><%= link_to(group.name, group) %></td>
        <td><% if group.list_publicly %><%= image_tag('lock.gif', class: 'privategroup' ) %><% end %></td>
        <td>5</td>
        <td><%= group_p.labels %></td>
         <td class="controls">
            <%= link_to("Show", "", :class => "icon magnify tipit", :title => "Title") %>
            <%= link_to("Delete", "", :method => :delete, :remote => true, :class => "icon delete tipit", :title => "Delete", :confirm => "You Sure") %>      
            
         </td>
      </tr>
    <% end %>
  </tbody>
</table>