<%= render partial: 'groups/group_sidebar'%>

<div class="titlebar titlebarmod">
  <h1>
    <%= t('.group_list', org: current_organization.to_s) %>
    <%= t('.labeled_with', label: @label) if @label %>
    <div id='global_loader'>
      <%= image_tag 'loader.gif'%>
    </div>
  </h1>
</div>

<div id="ac_button_bar">
	<ul class="button_bar">
		<li class="action_lightblue btn_left">
		  <%= link_to t("people.index.send_sms"), "#", id: "action_menu_text" %>
		</li>
	</ul>
	<ul class="button_bar">
		<li class="action_lightblue btn_right">
		  <%= link_to t("people.index.send_email"), "#", id: "action_menu_email" %>
		</li>
	</ul>
</div>
<br/>

<div id="ac_contact_spread">
  <span style="display:none" id="drag_helper_text_one"><%= t('.assign_to_label', count: 1) %></span>
  <span style="display:none" id="drag_helper_text_other"><%= t('.assign_to_label', count: 0) %></span>

  <table class="listing contact_listing" cellpadding="0" cellspacing="0">
    <tr id="table_header">
    	<th>&nbsp;</th>
      <th class="checkbox_cell header_checkbox">
        <%= check_box_tag 'check_all_groups', true, false %>
      </th>
      <th class="group_name_column"><%= sort_link @q, :name, t('.group_name'), params %></th>
      <th>&nbsp;</th>
      <th><%= t('.members') %></th>
      <th><%= t('.leaders') %></th>
      <th class="group_labels_column"><%= t('.labels') %></th>
      <th>&nbsp;</th>
    </tr>
    <tbody id="groups_table">
      <% @groups.each do |group| %>
        <%= render partial: 'groups/group', locals: {group: group}%>
      <% end %>
    </tbody>
  </table>

  <% if @groups.blank? %>
    <div class="contentpad no_contacts">
      <%= t('.no_groups') %>
    </div>
	<% end %>
</div>

<!-- Message Dialog -->
<%= render 'dialogs/bulk_send_msg' %>

<!-- Group Label Dialog -->
<%= render 'dialogs/add_group_label'%>