<%= render partial: 'groups/group_member_sidebar'%>

<div class="titlebar titlebarmod">
  <h1>
    <%= t(".page_title", :group_name => @group) %>
    <div id='global_loader'>
      <%= image_tag 'loader.gif'%>
    </div>
  </h1>
</div>

<div id="ac_button_bar">
	<ul class="button_bar">
		<li class="action_lightblue">
      <%= link_to(t('.add_member'), "#", class: "add_group_member", "data-desc"=>t('group_memberships.form.add_a_member'), "data-role"=>"member") %>
		</li>
	</ul>

	<ul class="button_bar">
		<li class="action_lightblue">
      <%= link_to(t('.add_leader'), "#", class: "add_group_leader", "data-desc"=>t('group_memberships.form.add_a_leader'), "data-role"=>"leader") %>
		</li>
	</ul>

	<ul class="button_bar">
		<li class="action_lightblue btn_left">
		  <%= link_to t("people.index.send_sms"), "#", id: "action_menu_text" %>
		</li>
	</ul>

	<ul class="button_bar">
		<li class="action_lightblue btn_right">
		  <%= link_to t("people.index.send_email"), "#", id: "action_menu_email" %>
		</li>
	</ul>

	<ul class="button_bar">
		<li class="action_lightblue">
      <%= link_to(t('people.index.group_comment'), "#", id: "action_menu_comment") %>
		</li>
	</ul>
</div>
<br/>

<div id="ac_contact_spread">
  <table class="listing contact_listing" cellpadding="0" cellspacing="0">
    <tr id="table_header">
      <th class="checkbox_cell header_checkbox">
        <%= check_box_tag 'check_all', true, false %>
      </th>
      <th><%= sort_link @q, :first_name, t('.name'), params %></th>
      <th><%= t('.email') %></th>
      <th><%= t('.phone') %></th>
      <th>
        <% if params[:search] && params[:search][:meta_sort].include?('asc') %>
          <%=raw sort_link(@q, :role, t('.role'), params).gsub('asc','desc') %>
        <% else %>
          <%= sort_link @q, :role, t('.role'), params %>
        <% end %>
      </th>
      <th>&nbsp;</th>
    </tr>
    <tbody id="group_table">
      <% @people.each do |person| %>
        <%= render 'groups/person', person: person, group_membership: person.group_memberships.where(group_id: @group.id).first %>
      <% end %>
    </tbody>
  </table>

  <% if @people.blank? %>
    <div class="contentpad no_contacts">
      <%= t('groups.index.no_group_members') %>
    </div>
	<% end %>
</div>


<%= render 'group_memberships/form' %>

<!-- Add Contact Dialog -->
<%= render 'dialogs/add_contact', person: Person.new %>

<!-- Message Dialog -->
<%= render 'dialogs/bulk_send_msg' %>

<!-- Group Label Dialog -->
<%= render 'dialogs/add_group_label'%>

<!-- Group Label Dialog -->
<%= render 'dialogs/bulk_add_comment'%>
