<% provide :sidebar do %>
  <ul class="leftmenu">
    <li class="heading selected">
      <h3><%= t('.details') %> (<%= link_to(t('.edit'), edit_group_path(@group)) %>)</h3>
      <p>
        <%= t('.leaders') %>: <%= @group.leaders_names %>
      </p>
      <p>
        <%= t('.location') %>: <%= link_to(@group.location, "http://www.google.com/maps?q=#{@group.location}", target: '_blank') %>
      </p>
      <p>
        <%= t('.meets') %>: <%= @group.meets_at %>
      </p>
      <%= image_tag("http://maps.googleapis.com/maps/api/staticmap?center=#{@group.location}&zoom=15&size=200x200&markers=color:blue|label:G|#{@group.location}&sensor=false") %>
    </li>
  </ul>
<% end %>

<div class="controlbar">
  <%= link_to(t('groups.see_all'), '/groups', :class=>"backto") %>
</div>
<div class="titlebar">
  <h1>
    <%= @group %>
  </h1>
</div>

<div class="pagemenu">
  <ul class="pillmenu">
    <li>     
      <%= link_to(t('.add_member'), '#', class: 'add-member') %>
    </li>
    <li>     
      <%= link_to(t('.add_leader'), '#', class: 'add-leader') %>
    </li>
  </ul>
</div>

<div class="pad">
  <table class="listing" cellpadding="0" cellspacing="0">
    <tbody id="group_table">
      <% @group.group_memberships.involved.order('role').includes(:person).each do |gm| %>
        <%= render 'person', person: gm.person, group_membership: gm %>
      <% end %>
    </tbody>
  </table>

  <%= render 'group_memberships/form' %>
</div>