<div class="inlineform" data-elem-id="<%= question.id %>">
  <%= form_for question, url: question.new_record? ? sms_keyword_questions_path(@keyword) : sms_keyword_question_path(@keyword, question), 
                         method: question.new_record? ? :post : :put, remote: true, html: {class: 'question_form', id: question.new_record? ? 'new_question_form' : "form_for_#{question.id}"} do |f| %>
    <% if question.new_record? %>
    <div class="field">
      <label><%= t('questions.form.what_question_type') %></label>
      <%= select_tag('question_type', options_for_select([[t('quesitons.form.short_answer'), 'TextField:short'], [t('quesitons.form.multiple_choice'), 'ChoiceField:radio'], 
                                      [t('quesitons.form.checkboxes'), 'ChoiceField:checkbox'], [t('quesitons.form.dropdown'),'ChoiceField:drop-down']]), include_blank: true, class: 'question_type') %>
    </div>
    <% end %>
    <div class="right_col" style="<%= 'display:none' if question.new_record? || question.web_only %>">
      <div class="sms_length_div">
        <label>Text Message Length:</label>
        <span class="sms_length"><%= (question.kind == 'ChoiceField' ? question.label_with_choices : question.label).to_s.length %></span> / 140
      </div><br>
      <div class="sms_preview_div">
        <label>Text Message Preview</label><br/>
        <span class="sms_preview"><%= question.kind == 'ChoiceField' ? question.label_with_choices : question.label %></span>
      </div>
    </div>
    <div class="short_answer_form" style="<%= question.new_record? ? 'display:none' : '' %>">
      <%= render 'short_answer_form', f: f %>
    </div>
    <div class="multiple_choice_form" style="<%= (question.new_record? || question.kind == 'TextField') ? 'display:none' : '' %>">
      <%= render 'multiple_choice_form', f: f %>
    </div>
    <div class="submit_button" style="<%= question.new_record? ? 'display:none' : '' %>">
      <%= f.check_box :web_only, id: "web_only_#{f.object.id}", class: 'web_only' %> <%= t('questions.form.web_only') %><br /><br />
      <%= f.submit %>
    </div>
  <% end %>
</div>