<%= form_tag do %>
<h3>Predefined Questions</h3>
<table border="0" cellspacing="5" cellpadding="0">
  <tr>
    <th>Question</th>
    <th>Use?</th>
  </tr>
  <% @predefined.questions.each do |question| %>
    <% unless @questions.include?(question) %>
      <tr id="pre_<%= dom_id(question) %>">
        <td><%= question.label %></td>
        <td><%= link_to('use', sms_keyword_questions_path(:question_id => question), :method => :post, :remote => true, :id => "use_#{dom_id(question)}", 
                              :class => 'use_question', 'data-question' => dom_id(question)) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<h3>Your Questions</h3>
<% if @quesitons.present? %>
  <table border="0" cellspacing="5" cellpadding="0">
    <% @questions.each do |question| %>
      <tr><td><%= question.label %></td></tr>
    <% end %>
  </table>
<% end %>
<%= link_to('Add a question') %>
<% end %>