<% if (can? :manage, current_organization) || (can? :lead, current_organization) %>
  <ul class="pillmenu">
    <li>
      <%= link_to("#{t('nav.permissions')} ▾", '#', class: 'action_dropdown') %>
      <ul id='label_menu'>
        <li>
          <% current_organization.permission_set.each do |permission| %>
            <div class="permission_div_checkbox">
              <span>
                <%= check_box_tag 'permission_ids[]', permission.id, false, id: "permission_ids_#{permission.id}", class: 'permission_id_checkbox', :hidden => !can?(:manage, current_organization) && permission.id == Permission::ADMIN_ID ? true : false %>
                <span><%= permission %></span>
                <% if permission.organization_id == 0 %>
                  <% if permission.name == 'Admin' %>
                    <% permission_help = "Access to all options within this specific organization including editing the organization, assigning other Admins, and modifying keywords and surveys." %>
                  <% elsif permission.name == 'MissionHub User' %>
                    <% permission_help = "Access to all non-Admin features including viewing, modifying and assigning contacts." %>
                  <% elsif permission.name == 'Involved' %>
                    <% permission_help = "Currently no access but are displayed in Directory." %>
                  <% elsif permission.name == 'Alumni' %>
                    <% permission_help = "Currently no access but are displayed in Directory." %>
                  <% elsif permission.name == 'Contact' %>
                    <% permission_help = "No Access. Displayed on the All Contacts and Directory screen." %>
                  <% elsif permission.name == '100% Sent' %>
                    <% permission_help = "Completed and ready to be transferred to 100% Sent Organization." %>
                  <% end %>
                <% end %>
                <% if permission_help.present? %>
                  <div class="icon help tipit help_bubble_keyword" title="<%=permission_help%>"></div>
                <% end%>
              </span>
            </div>
          <% end %>
          <div class="permission_actions">
            <%= link_to(t('people.index.apply_permissions'), '', :class => 'greybox', :id => 'apply_permissions') %>
            <%= link_to(t('people.index.manage_permissions'), permissions_path(organization: current_organization), :class => 'greybox') %>
          </div>
          <div id="apply_permissions_spinner"><%= image_tag('spinner.gif') %> Processing...</div>
          <div id="apply_permissions_successful"></div>
        </li>
      </ul>
    </li>
  </ul>
<% end %>
