<div id="bulk_send_dialog" style="display:none" title="Add comment">
  <%= form_tag "" do %>
    <%= hidden_field_tag :to %>
    <div class="field_in">
      <label><%= t('general.to') %></label>
      <div class="in"><ul class="to_list clearfix"><div class="clear"></div></ul></div>
    </div>
    <%= hidden_field_tag 'followup_comment[organization_id]', current_organization.id %>
    <%= hidden_field_tag 'followup_comment[commenter_id]', current_user.person.id %>
    <div class="field_in subject">
      <label><%= t('general.subject') %></label> 
      <div class="in"><%= text_field_tag :subject %></div>
    </div>
    <div class="field">
    <%= text_area_tag :body, '', cols: 10, rows: 10, id: 'bulk_send_comment' %>
		<div id="char_counter"></div>
    </div>
  <% end %>

	<div id="bulk_send_dialog_message" class="flash">
	 <div class="flash_message notice alignleft" style="padding-left:30px; height: 78px; margin-bottom: 0px; overflow: auto; ">
	 </div>
	</div>
</div>

