<% if (can? :manage, current_organization) || (can? :lead, current_organization) %>
  <ul class="pillmenu">
    <li>
      <%= link_to("#{t('nav.roles')} ▾", '#', class: 'action_dropdown') %>
      <ul id='label_menu'>
        <li>
          <% current_organization.role_set.each do |role| %>
            <div class="role_div_checkbox">
              <span>
                <%= check_box_tag 'role_ids[]', role.id, false, id: "role_ids_#{role.id}", class: 'role_id_checkbox', :hidden => !can?(:manage, current_organization) && role.id == Role::ADMIN_ID ? true : false %>
                <span><%= role %></span>
                <% if role.organization_id == 0 %>
                  <% if role.name == 'Admin' %>
                    <% role_help = "Access to all options within this specific organization including editing the organization, assigning other Admins, and modifying keywords and surveys." %>
                  <% elsif role.name == 'MissionHub User' %>
                    <% role_help = "Access to all non-Admin features including viewing, modifying and assigning contacts." %>
                  <% elsif role.name == 'Involved' %>
                    <% role_help = "Currently no access but are displayed in Directory." %>
                  <% elsif role.name == 'Alumni' %>
                    <% role_help = "Currently no access but are displayed in Directory." %>
                  <% elsif role.name == 'Contact' %>
                    <% role_help = "No Access. Displayed on the All Contacts and Directory screen." %>
                  <% elsif role.name == '100% Sent' %>
                    <% role_help = "Completed and ready to be transferred to 100% Sent Organization." %>
                  <% end %>
                <% end %>
                <% if role_help.present? %>
                  <div class="icon help tipit help_bubble_keyword" title="<%=role_help%>"></div>
                <% end%>
              </span>
            </div>
          <% end %>
          <div class="role_actions">
            <%= link_to(t('people.index.apply_roles'), '', :class => 'greybox', :id => 'apply_roles') %>
            <%= link_to(t('people.index.manage_roles'), roles_path(organization: current_organization), :class => 'greybox') %>
          </div>
          <div id="apply_roles_spinner"><%= image_tag('spinner.gif') %> Processing...</div>
          <div id="apply_roles_successful"></div>
        </li>
      </ul>
    </li>
  </ul>
<% end %>
