<span>&#169; Copyright <%= Time.now.year %></span>
<% if branded? %>
<span><%= link_to(t('nav.terms'), '/terms') %></span>
<span><%= link_to(t('nav.privacy'), '/privacy') %></span>
<span><%= link_to(t('nav.support'), t('general.help_redirect_link')) %></span>
<span><%= link_to(t('nav.faq'), t('general.faq_redirect_link')) %></span>
<span>
  <%= mail_to('support@missionhub.com', t('nav.email_us'), encode: 'javascript', replace_at: ' (at) ', replace_dot: ' (dot) ') %>
</span>
<span><%= link_to(t('nav.powered_by_cru'), 'http://cru.org') %></span>
<% end %>
