<title><%= @title || (mhub? ? 'Take a Survey' : 'MissionHub') %></title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.js" type="text/javascript"></script>

<%= stylesheet_link_tag '/stylesheets/smoothness/jquery-ui-1.8.7.custom.css' %>
<%= stylesheet_link_tag 'application' %>
<%#= stylesheet_link_tag 'jquery.qtip.css' %>
<%#= stylesheet_link_tag 'superfish.css' %>
<%= javascript_include_tag 'application' %>
<%#= javascript_include_tag 'jquery.qtip.js' %>
<%#= javascript_include_tag 'superfish.js' %>
<%#= stylesheet_link_tag 'smoothness/jquery-ui-1.8.7.custom' %>
<%= csrf_meta_tag %>
<script type="text/javascript" charset="utf-8">
  $.params = <%= raw params.dup.keep_if {|k, v| v.is_a?(String) || v.is_a?(Numeric) || v.is_a?(Enumerable)}.to_json %>;
</script>

<%= render 'google_analytics' %>
<meta name="viewport" content="width=1000, user-scalable=no" />

<script src="https://github.com/neave/touch-scroll/raw/master/touch-scroll.min.js"></script>

<script>
  jQuery.fn.oneFingerScroll = function() {
    var scrollStartPos = 0;
    $(this).bind('touchstart', function(event) {
        // jQuery clones events, but only with a limited number of properties for perf reasons. Need the original event to get 'touches'
        var e = event.originalEvent;
        scrollStartPos = $(this).scrollTop() + e.touches[0].pageY;
        e.preventDefault();
    });
    $(this).bind('touchmove', function(event) {
        var e = event.originalEvent;
        $(this).scrollTop(scrollStartPos - e.touches[0].pageY);
        e.preventDefault();
    });
    return this;
};

//usage
$(function() {
  $('#add_contact_div').oneFingerScroll();
})
</script>