<% connect_pattern = /surveys|keywords|survey_responses/ %>
<% care_pattern = /people|contacts|followup_comments/ %>
<% group_pattern = /groups/ %>

<%= link_to("", "/", id: "logoInvert") if branded? %>
<span style="color: white; padding-top: 10px;" ng-if="$root.betaMode">Beta</span>
<% if current_organization &&  can?(:manage_contacts, current_organization) %>
  <ul class="sc-init-menu sf-menu sf-navbar mh-top" id="primary_nav" ng-class="{'invisible': $root.betaMode === null}">
    <li ng-if="$root.betaMode" ui-sref-active="current">
      <a ng-if="$root.isSpaPage" ui-sref="app.people">{{ 'dashboard.people_assigned_to_you' | t }}</a>
      <a ng-if="!$root.isSpaPage" href="/d/people">{{ 'dashboard.people_assigned_to_you' | t }}</a>
    </li>

    <li ng-if="$root.betaMode" ui-sref-active="current">
      <a ng-if="$root.isSpaPage" ui-sref="app.ministries.root">{{ 'dashboard.organizations_assigned_to_you' | t }}</a>
      <a ng-if="!$root.isSpaPage" href="/d/ministries/root">{{ 'dashboard.organizations_assigned_to_you' | t }}</a>
    </li>

    <li class="<%= 'current' if request.path == '/' %>" ng-if="!$root.betaMode">
      <%= link_to authenticated_root_path, title: t('nav.dashboard') do %>
        <ng-md-icon icon='dashboard' color="white"></ng-md-icon>
      <% end %>
    </li>

    <li class="org_tree_link" ng-if="!$root.betaMode">
      <%= link_to(current_organization, "#", title: current_organization) %>
      <ul>
        <li class="under_tree">
          <div class='loader'>
            <%= image_tag('loader-gray.gif', alt: nil) %>
            Fetching organizations
          </div>
        </li>
      </ul>
    </li>

    <li ng-class="{ current: $root.isLegacyPage && <%= !(request.path =~ care_pattern).nil? %> }"
        ng-if="!$root.betaMode">
      <a href="/allcontacts">{{ 'nav.contacts' | t}}</a>
    </li>

    <% if can? :manage_groups, current_organization %>
      <li class="<%= 'current' if request.path =~ group_pattern %>" ng-if="!$root.betaMode">
        <%= link_to(t('nav.groups'), "/groups") %>
      </li>
    <% end %>

    <% if can? :manage, current_organization %>
      <li class="<%= 'current' if request.path =~ connect_pattern %>" ng-if="!$root.betaMode">
        <%= link_to(t('nav.surveys'), index_admin_surveys_path) %>
        <ul style='display:none;'>
          <li class="<%= 'current' if ['surveys','questions'].include?(controller.controller_name) %>">
            <%= link_to(t('nav.surveys'), index_admin_surveys_path, :class => "topset surveys") %>
          </li>
          <li class="<%= 'current' if params[:controller] == 'sms_keywords' %>">
            <%= link_to(t('nav.keywords'), sms_keywords_path, :class => "topset surveys") %>
          </li>
          <% if current_organization && current_organization.surveys.to_a.any? %>
            <li class="sf-divider"></li>
            <% current_organization.surveys.each do |survey| %>
              <li>
                <% port = Rails.env.development? ? ENV.fetch('PUBLIC_PORT') : nil %>
                <% protocol = Rails.env.development? ? 'http' : 'https' %>
                <% link = start_survey_url(survey, host: ENV.fetch('PUBLIC_HOST'), port: port, protocol: protocol) %>
                <%= link_to link, id: 'select_keyword', class: "signout_fb" do %>
                  <%= t('nav.use_keyword', keyword: survey.title) %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% end %>

    <li class="<%= 'current' if ['organizations', 'movement_indicator_suggestions'].include?(params[:controller]) %>"
        ng-if="!$root.betaMode">
      <%= link_to(t('nav.tools'), "/organizations") %>
      <ul>
        <li class="<%= 'current' if request.path == snapshot_charts_path %> visual-menu">
          <%= link_to(t('nav.visual_tools'), charts_path) %>
          <ul>
            <li>
              <%= link_to(t('nav.snapshot'), snapshot_charts_path) %>
            </li>
            <li>
              <%= link_to(t('nav.goal'), goal_charts_path) %>
            </li>
            <li>
              <%= link_to(t('nav.trend'), trend_charts_path) %>
            </li>
          </ul>
        </li>
        <% if can? :manage, current_organization %>
          <li class="<%= 'current' if request.path == organizations_path %>">
            <%= link_to(t('nav.manage'), "/organizations", :class => "topset groups") %>
          </li>
          <!--li class="<%= 'current' if request.path == '/organizations/settings' %>">
            <%= link_to(t('nav.settings'), "/organizations/settings", :class => "topset allcontacts") %>
          </li-->
          <li class="<%= 'current' if request.path == cleanup_organizations_path %>">
            <%= link_to(t('nav.cleanup'), "/organizations/cleanup", :class => "topset cleanup") %>
          </li>
          <% if current_organization.has_parent?(1) %>
            <li class="<%= 'current' if request.path == transfer_organizations_path %>">
              <%= link_to(t('nav.transfer'), "/organizations/transfer", :class => "topset transfer") %>
            </li>
          <% end %>
          <li class="<%= 'current' if request.path == movement_indicator_suggestions_path %>">
            <%= link_to(t('nav.report_movement_indicators'), movement_indicator_suggestions_path, :class => "topset cleanup") %>
          </li>

          <% if current_organization.is_power_to_change? %>
            <li class="<%= 'current' if request.path == signatures_organizations_path %>">
              <%= link_to(t('signatures.title'), signatures_organizations_path, :class => "topset") %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </li>
  </ul>

  <div id="menu_search">
    <%= render 'contacts/search_top_right' %>
  </div>

  <ul id="profile_dropdown_nav" class="sc-init-menu sf-menu mh-top">
    <li>
      <%= link_to '#' do %>
        <div class="user-avatar-wrap">
          <div class="user-initials">
            <%= @current_person.first_name&.first&.upcase %><%= @current_person.last_name&.first&.upcase %>
          </div>
          <%= image_tag(@current_person.picture, class: 'user-avatar') %>
        </div>
      <% end %>
      <ul>
        <li>
          <%= link_to(t('nav.my_profile', name: current_user.to_s), profile_path(current_person),
              'ng-if' => '$root.isLegacyPage || !$root.betaMode') %>
          <a ng-if="$root.isSpaPage && $root.betaMode"
             ui-sref="app.people.person.defaultTab({
                        personId: $ctrl.loggedInPerson.person.id,
                        orgId: '<%= current_organization.id %>'
                      })">
            {{ 'nav.my_profile' | t }}
          </a>
        </li>
        <li>
          <%= link_to(t('nav.settings'), preferences_path) %>
        </li>
        <li>
          <%= link_to(t('nav.logout'), '#', onclick: "$.mh.logout()")  %>
        </li>
      </ul>
    </li>
  </ul>
<% elsif current_user %>
  <ul class="sf-menu mh-top" id="primary_nav">
    <li style="margin-left: auto;">
      <%= link_to(t('nav.logout'), '#', onclick: "$.mh.logout()")  %>
    </li>
  </ul>
<% end %>
