<%# cache(user_signed_in? ? ['global_nav', "#{current_user.id}", current_organization.try(:id)] : 'global_nav', expires_in: 15.minutes) do %>
<div id="global">
  
  <div class="gmwrap">
    <ul class="sf-menu">
      <% if session[:old_user_id].present? %>
        <li class="item"><%= link_to('Exit SU Mode', '?exit=true') %></li>
      <% end %>
      <% if user_signed_in? %>
        <% if current_organization %>
          <li class="item">
            <% if current_person.organizations.length > 1 || current_person.organizations.detect(&:show_sub_orgs?) %>
              <%= link_to(current_organization, '/contacts') %>
              <ul class="under">
                <% current_person.organizations.order('organizations.name').each do |org| %>
                  <%= render 'org', org: org, primary: current_person.primary_organization == org, involved: true unless current_person.organizations.include?(org.parent) && org.parent.show_sub_orgs? %>
                <% end %>
              </ul>
            <% else %>
              <%= link_to(current_organization, user_root_path) %>
            <% end %>
          </li>
          <!-- <div class="item">
            <%= link_to(t('nav.profile'), current_person) %>
          </div> -->
          <% if current_organization.keywords.present? %>
            <li class="item smallermenu">
              <% if current_organization.keywords.length == 1 %>
                <%= link_to("Enter Survey Mode", start_survey_url(current_organization.keywords.first.keyword, host: APP_CONFIG['public_host'], port: APP_CONFIG['public_port']), :class => "tipit", :title => t('nav.survey_mode_tip'))%>
              <% else %>
                <%= link_to("Enter Survey Mode", '#', id: 'survey_keywords_mode_link')%>
                <ul style="" class="tipit2" title="<%= t("nav.survey_mode_tip") %>"><% current_organization.keywords.each do |keyword| %>
                  <li><div style="width:100%; display:inline"><%= link_to("Use Keyword: #{keyword.keyword}", start_survey_url(keyword.keyword, host: APP_CONFIG['public_host'], port: APP_CONFIG['public_port']), id: 'select_keyword')%>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        <% end %>
        <li class="item"><%= link_to('My Profile', contact_path(current_person)) %></li>
        <li class="item">
          <%= link_to(t('nav.logout'), facebook_logout_url)  %> 
        </li>   
      <% else %>
        <% if mhub? %>
          <%= link_to('nav.login', user_omniauth_authorize_path(:facebook_mhub)) %>
        <% else %>
          <%= link_to(t('nav.login'), new_user_session_path) %>
        <% end %>
      <% end %>
    </ul>
  </div>
  
  
</div>
<%# end %>