<div id="global">
  <% if user_signed_in? %>
    <% if current_organization %>
      <div class="item">
        <% if current_person.organizations.length > 1 %>
          <%= link_to(current_organization, '', id: 'change_org') %>
          <div id="other_orgs" style="display:none">
            <ul>
              <% current_person.organization_memberships.each do |om| %>
                <li>
                  <%= om.organization %> 
                  <%= link_to(t('nav.go_to'), set_current_organization_membership_path(om)) %>
                  <%= link_to(t('nav.make_default'), set_primary_organization_membership_path(om)) %>
                </li>
              <% end %>
            </ul>
          </div>
        <% else %>
          <%= current_organization %>
        <% end %>
      </div>
      <!-- <div class="item">
        <%= link_to(t('nav.profile'), current_person) %>
      </div> -->
    <% end %>
    <div class="item">
      <%= link_to(t('nav.logout'), destroy_user_session_path) %>
    </div>   
  <% else %>
    <%= link_to(t('nav.login'), new_user_session_path) %>
  <% end %>
</div>