<div id="globalNav">
  
  <div class="gmdrop">
    <ul class="sf-menu mh-global">
      <% if session[:old_user_id].present? %>
        <li><%= link_to('Exit SU Mode', '?exit=true') %></li>
      <% end %>
      <% if user_signed_in? %>
        <% if current_organization %>
          <% if current_organization.surveys.present? %>
            <li>
              <% if current_organization.surveys.length == 1 %>
                <%= link_to(t('nav.enter_survey_mode'), start_survey_url(current_organization.surveys.first, host: APP_CONFIG['public_host'], port: APP_CONFIG['public_port']), id: 'survey_keywords_mode_link', :class => "tipit", :title => t('nav.survey_mode_tip'))%>
              <% else %>
                <%= link_to(t('nav.enter_survey_mode'), '#', id: 'survey_keywords_mode_link')%>
              <% end %>
              <ul>
                <% current_organization.surveys.each do |survey| %>
                  <li><div><%= link_to(t('nav.use_keyword', keyword: survey.title), start_survey_url(survey, host: APP_CONFIG['public_host'], port: APP_CONFIG['public_port']), id: 'select_keyword')%></div></li>
                <% end %>
                <li><div><%= link_to(t('nav.exit_survey_mode'), stop_surveys_url(host: APP_CONFIG['public_host'], port: APP_CONFIG['public_port']), id: 'select_keyword')%></div></li>
              </ul>
            </li>
          <% end %>
          <li>
            <%= link_to(current_organization, '/contacts') %>
            <% if current_person.organization_objects.length > 1 %>
              <% cache(['org_nav', current_person.id]) do %>
                <ul class="under_tree">
                  <%= new_render_org_tree(current_person.organization_tree) %>
                </ul>
              <% end %>
            <% end %>
          </li>
        <% end %>
        <li><%= link_to(t('nav.my_profile', name: current_user.to_s), person_path(current_person)) %></li>
        <li>
          <%= link_to(t('nav.logout'), '#', onclick: "$.mh.logout()")  %> 
        </li>   
      <% else %>
        <% unless params[:controller] == 'sessions' %>
          <li>
          	<%= link_to('Updates & Support', "http://blog.missionhub.com/", :class => "navlink") %>
          </li>
          <li>
          	<%= link_to('FAQ', "http://blog.missionhub.com/faq", :class => "navlink") %>
          </li>
          <li>
            <%= link_to('Learn More', tutorials_path, :class => "navlink") %>
          </li>
          <li>
            <% if mhub? %>
              <%= link_to(t('nav.login'), user_omniauth_authorize_path(:facebook_mhub), :class => "loginbt") %>
            <% else %>
              <%= link_to(t('nav.login'), new_user_session_path, :class => "loginbt") %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  
  
</div>
