<header role="global">
  <div class="container">
    <h1>
      <%= link_to(t('general.missionhub'), root_path, title: t('general.missionhub')) %>
    </h1>

    <nav class="primary">
      <ul>
        <% if session[:old_user_id].present? %>
            <li><%= link_to(t('general.exit_su'), '?exit=true', title: t('general.exit_su')) %></li>
        <% end %>
        <li>
          <%= link_to(t('nav.support'), t('general.help_redirect_link'), title: t('nav.support')) %>
        </li>
        <% if !@show_sign_up %>
            <li>
              <%= link_to(t('nav.login'),
                          '/users/sign_in',
                          title: t('nav.login'),
                          class: params[:controller] == 'sessions' && params[:action] == 'new' ? 'active' : '') %>
            </li>
            <li>
              <%= link_to(t('nav.request_access'),
                          request_access_path,
                          title: t('nav.request_access'),
                          class: @request_access.present? ? 'active' : '') %>
            </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
