<header role="global">
  <div class="container">
    <h1><%= link_to("Mission Hub", root_path) if branded? %></h1>

    <nav class="primary">
      <ul>
        <% if session[:old_user_id].present? %>
          <li><%= link_to('Exit SU Mode', '?exit=true') %></li>
        <% end %>

        <% if branded? %>
          <li>
            <%= link_to('Support', t('general.help_redirect_link'), :class => "navlink") %>
          </li>
          <li>
            <%= link_to('FAQ', t('general.faq_redirect_link'), :class => "navlink") %>
          </li>
          <% if mhub? %>
            <li>
              <%= link_to(t('nav.login'), "/users/auth/facebook_mhub", :class => "loginbt") %>
            </li>
          <% else %>
            <li>
              <%= link_to(image_tag('fb_button.png'), '/users/auth/facebook', id: 'fb_button', rel: 'external') %>
            </li>
            <li>
              <%= link_to(image_tag('key_button.png', alt: 'Log in with The Key'), '/users/auth/key', id: 'key_button',
                                    rel: 'external') %>
            </li>
          <% end %>
        <% else %>
          <li>
            <%= link_to(t('nav.login'), '/users/auth/key', rel: 'external') %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
