<div id="logoline">
  <a href="/" id="logo"></a>
</div>

<div id="roundwrap">

  <h1 class="headlinetext">
    <%= t('.headline_html') %>
  </h1>
  <h4 class="subheadlinetext">
    <%= t('.subheadline_html') %>
  </h4>
  
  <div class="splashbanner">
    <div class="slide slide1">
      <a href="/welcome/tour"><%= image_tag("splash/box_left.jpg") %></a>
      <a href="/welcome/tour"><%= image_tag("splash/box_mid.jpg") %></a>
      <a href="/welcome/tour"><%= image_tag("splash/box_right.jpg") %></a> 
    </div>
  </div>

  <div class="salespush">
    <%= t('.get_details_html', link: link_to(t('.get_started'), new_user_session_path, :class => "getstartedbt")) %> 
  </div>

</div>


