<div id="logoline">
  <a href="/" id="logo"></a>
</div>

<div class="roundwrap">

  <h1 class="aright headlinetext">
    <%= t('.headline_html') %>
  </h1>
  <h4 class="aright subheadlinetext">
    <%= t('.subheadline_html') %>
  </h4>
  
  <div class="splashbanner">
    <div class="slide slide1">
      <a href="/welcome/tour"><%= image_tag("splash/box_left.jpg") %></a>
      <a href="/welcome/tour"><%= image_tag("splash/box_mid.jpg") %></a>
      <a href="/welcome/tour"><%= image_tag("splash/box_right.jpg") %></a> 
    </div>
  </div>
  
  <div class="salespush">
    <%= link_to(t('.learn_more'), tutorials_path, :class => "getstartedbt") %> 
  </div>
</div>


