<div class="content">
  <div class="container">
    <h2><%= t('welcome.thank_you.thank_you') %></h2>
    <p><%= t('welcome.thank_you.contact_soon') %></p>
    <p class="cru-apps">
      <a href="https://www.cru.org/digitalministry/apps-tools.html">
        <%= image_tag('welcome/icon-1@2x.png', alt: '') %>
      </a>
      <a href="https://www.cru.org/digitalministry/apps-tools.html">
        <%= image_tag('welcome/icon-2@2x.png', alt: '') %>
      </a>
      <a href="https://www.cru.org/digitalministry/apps-tools.html">
        <%= image_tag('welcome/icon-3@2x.png', alt: '') %>
      </a>
      <a href="https://www.cru.org/digitalministry/apps-tools.html">
        <%= image_tag('welcome/icon-4@2x.png', alt: '') %>
      </a>
      <a href="https://www.cru.org/digitalministry/apps-tools.html">
        <%= image_tag('welcome/icon-5@2x.png', alt: '') %>
      </a>
    </p>
    <p class="cru-apps-description"><%= t('welcome.thank_you.other_apps') %></p>
    <p><a href="https://www.cru.org/digitalministry/apps-tools.html" class="btn">
      <%= t('welcome.thank_you.visit') %>
    </a></p>
  </div>
</div>
