<div id="logoline">
  <a href="/" id="logo"></a>
</div>


<div id="roundwrap">

  <h1 class="headlinetext">
    An online <span class="babyblue">follow-up system</span> with your audience in mind.
  </h1>
  <h4 class="subheadlinetext">
    Students text to connect. You empower follow-up from the web or a smart phone.
  </h4>
  
  <div id="thetour" class="essay">
    <ul>
      <li><a href="#tab1">Why Mission Hub?</a></li>
      <li><a href="#tab2">Collection</a></li>
      <li><a href="#tab3">Distribution</a></li>
      <li><a href="#tab4">Followup</a></li>
      <li><a href="#tab5">Coming Soon</a></li>
    </ul>
    <div id="tab1">
      <div class="touraccordion">
        <h3>Issues.  Every Ministry Seems to Have Them.</h3>
        <div class="explination">
          <div class="column3">
            <h3>Fall Thru The<br/><span class="emphasis">CRACKS</span></h3>
            <p>Have you ever had new students come to your meetings, but then they don’t ever get connected?</p>
            <ul>
              <li>Someone lost the contact card or you got the wrong info. </li>
              <li>Someone may have emailed the student, but you didn’t ever hear back about how the interaction went.</li>
          </div>
          <div class="column3 column3center">
            <h3>No One Said <span class="emphasis">HELLO</span></h3>
            <p>Then, you hear through the grapevine that a student says something like this:</p>
            <ul>
              <li>“Yeah, I went to Cru, but no one said “HI” to me, so I left.” </li>
              <li>“Dude, I filled out a signup sheet and no one ever contacted me, so I got involved somewhere else.”</li>
            </ul>
          </div>
          <div class="column3">
            <h3>Make It Easier <span class="emphasis">PLEASE</span></h3>
            <p>It takes so much time to keep track of all the students.</p>
            <ul>
              <li>Creating spreadsheets of student leaders is tedious. </li>
              <li>There doesn’t seem to be a tool out there to help me. </li>
              <li>Students are online and on their mobile phones all the time. Can we can take advantage of that?  </li>
            </ul>
          </div>
        </div>
        	
      	<h3>How did you get into college?</h3>
        <div class="explination story">
          <%= image_tag("badwriting.png", :class=>"imageleft") %>
          <p>
            So, you get home from a long day of being on campus. The newsletter needs to be written, and you have a stack of cards that now you have to plug in to an Excel spreadsheet.
          </p>
          <p>
            You think to yourself, “I’m on staff with Campus Crusade. I am supposed to HATE Excel spreadsheets.”
          </p>
          <p>
            And at least 17 surveys are filled out by students who obviously never took a class in penmanship, because you can’t even read their email address. Their J’s blend into their L’s, or so it appears.
          </p>
          <p>
            But Jesus loves them, and you need to contact them. But you can’t help wondering...
          </p>
          <div class="clear"></div>
        </div>

      

      	<h3 style="text-align: left; margin-bottom: 5px;">So what if...</h3>
      	<div class="explination">
          <p style="line-height: 1.75em;">You never lost another   contact card · <span class="whatif">You could assign new contacts to your staff and 
            student leaders and easily manage it online</span> · You had all of the Facebook profile information for your leadership team 
            in one place · <span class="whatif">You could track how well your team completed follow-up</span> · You could create a unique online survey for each 
            event that connected to a student’s profile · <span class="whatif">Your smart phone helped you manage your contacts</span> · Every one of your 
            leaders (that you approve) have access to your online contacts-list for follow-up · You could use iPad®, iTouch®, iPhone®, 
            Android® or any web-enabled device as your new “clipboard” with a digital survey instead of a paper survey · <span class="whatif">You had a 
            record of every interaction leaders have with every student who signs up</span> · You never have a problem with legibility on 
            paper surveys</p>
          <h2 style="text-align: right;">...things just got better.</h2>
        </div>
        
      </div>
      
    </div>
    <div id="tab2">
      <div class="touraccordion">        
        <h3>Why you will never lose aother contact card again, ever.</h3>
        <div class="explination">
          <%= image_tag("cback.png", :class => "imageright", :style => "position: absolute; bottom: -15px; right: 0;") %>
          <ul>
            <li>Your connection form is online, everywhere.</li>
            <li>Students can take surveys through mobile devices.</li>
            <li>Contact cards can be filled out through text messaging.</li>
          </ul>
          <div class="column2">
            <p>Picture your welcome table on the first week of school. You have all the standard equipment, but something is a little different. This year you have laptops, and several leaders show up armed with smart phones.</p>
          </div>
          <div class="column2">
            <p>Every device is ready with a quick- reloadable form that can quickly capture new students’ information over and over again. No more paper contact cards.</p>
          </div>
          <strong>No more sign-up sheets.</strong><br/><br/>
          <div class="clear"></div>
        </div>
            
      
      
        <h3>You can meet students where they are</h3>
        <div class="explination">
          <%= image_tag("coffee.png", :class => "imageright", :width => "200") %>
          <p>There is no going back. This generation is spending a generous portion of their time online, and we need to be there to share the Gospel. MissionHub puts you in the middle of all the thunder-thumb action.</p>
          <p>Your missional community is literally at the fingertips of students, because now they can interact with you through social networks and through text messaging.</p>
          
        </div>
        
        <h3>A new way to close your weekly meeting</h3>
        <div class="explination">
          <%= image_tag("iphone.png", :class => "imageright", :width => "200") %>
          <p><span style="font-style:italic; font-weight: bold;">“...and if you want to get more connected to Cru, text UCF to 69940.”</span><br/>
            When students send a simple text message, it creates a contact card in your online community for each of them. Technology begins to work for you now. Your community’s MissionHub will invite students to give you more information through Facebook and to fill out a survey with other questions you specify. This allows new students to see how your community can help them to get plugged in while you collect thier contact information.</p>
          
        </div>
      
        <h3>Creative ways to reach out to new students</h3>
        <div class="explination">
          <table class="actionpack" >
            <tr>
              <td class="hey"><%= image_tag("megaphone.png")%></td>
              <td class="how">Tell everyone you are giving an iPod at your first weekly meeting.</td>
              <td class="do">Register to win.</td>
            </tr>
            <tr>
              <td class="hey"><%= image_tag("megaphone.png")%></td>
              <td class="how">Leaders wear t-shirts on campus wtih a QR on the back.</td>
              <td class="do">Snap a picture.</td>
            </tr>
            <tr>
              <td class="hey"><%= image_tag("megaphone.png")%></td>
              <td class="how">Create a new online survey to give feedback on an event.</td>
              <td class="do">Text their feedback.</td>
            </tr>
            <tr>
              <td class="hey"><%= image_tag("megaphone.png")%></td>
              <td class="how">Have a few iPads at your table and hand out a snack.</td>
              <td class="do">Fill out survey for giveaway.</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div id="tab3">
      <div class="touraccordion">
        <h3>Give every new person the best chance to get involved</h3>
        <div class="explination">
          <%= image_tag("hippo.png", :class => "imageright") %>
          <p>MissionHub empowers your team to do followup together. All your contacts are in a private list online where your leaders cooperate to connect with all the contacts. The goal is to make sure everyone is contacted and to get them plugged into your ministry. If the contacts were marbles, it would be a lot like playing a game of
          “Hungry Hungry Hippos.” The new contacts are up for grabs! Leaders can write notes about the interaction they have with each new person, and their notes stay on the contact card for other leaders to see.</p>        
          <DIV CLASS="clear"></div>
        </div>
        <h3>You can assign contacts to each leader</h3>
        <div class="explination">
          <%= image_tag("leader.png", :class => "imageright") %>
          <p>If you prefer to be more involved in distribution of contacts, you can manually assign each new contact to your leaders. This way, you can make sure that new students do not go unreached. Or you can have a combination of the two methods if you have certain staff that you are training.
            Either way, your contacts are all in one place, sorted, accessible, and you can be constantly aware of your progress in follow-up.</p>
        </div>
      </div>
    </div>
    <div id="tab4">
      <div class="touraccordion">
        <h3>You will be able to watch the real-time progress of followup, online</h3>
        <div class="explination">
          <%= image_tag("sc1.png", :class => "imageright") %>
          <p>MissionHub is designed with field staff and student leaders in mind. It provides you with a unique online work space for your campus or church. 
            Your leaders will have access to the contact information 
            and you will be able to track the progress of your entire leadership team as they work to follow-up with new contacts.</p>
        </div>
        <h3>All your contacts in one place</h3>
        <div class="explination">
          <%#= image_tag("sc2.png", :class => "imageright") %>
          <p>Contacts collected from the website, the smart phone apps, and even from text messages will all end up in
              your MissionHub. You can even import old contacts from your Excel spreadsheet and invite already- involved students to connect with your MissionHub.</p>
        </div>
        <h3>MissionHub takes advantage of social networks</h3>
        <div class="explination">
          <%= image_tag("face.png", :class => "imageright") %>
          <p>MissionHub connects your community with the accounts that students and staff already use on Facebook so your leadership list and your contact lists are filled with real- time information. You can empower your leaders and your community with up-to-date information anytime you need it.</p>
        </div>
        <h3>Manage your community on the go</h3>
        <div class="explination">
          <p>Because you can take MissionHub everywhere you go, you can always get your questions answered  no matter where you are, like:
            “How many times has a particular student been contacted? Which leader(s) contacted them? Did they get plugged in to a small group? Who still needs to be contacted?”</p>
        </div>
      </div>
    </div>
    <div id="tab5">
      <div class="touraccordion">
        <h3>What other features will MissionHub have?</h3>
        <div class="explination">
          <p>We are just getting started. Soon, you will be able to have student leaders manage their small groups, and we mean they will drag-and-drop new students into their communities on their phones. Leaders will be able to tells stories about what God is doing through them. Can you imagine your whole campus ministry being able to celebrate when someone comes to Christ no matter where they are? What about sharing prayer requests on the go?</p>
          <p>High school seniors will see a link on their wall asking where they are going to college, while MissionHub moves their profile into the contacts list of their college before they even arrive on campus. Follow where your alumni are living, connect them to churches and missional communities after college. All of this and more is coming soon from MissionHub. All you have to do is signup your campus.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="salespush">
    <!-- Get the Details & <a href="/tour" class="learnmore">Learn More</a> or  --><%= link_to("Get Started", new_user_session_path, :class => "getstartedbt") %>
  </div>

</div>


<div class="footer">

  MissionHub was created by Campus Crusade for Christ International<br/>
  &copy; Copyright 2011 

</div>

