<div id="logoline">
  <a href="/" id="logo"></a>
</div>


<div id="roundwrap">

  <h1 class="headlinetext">
    An online <span class="babyblue">follow-up system</span> with your audience in mind.
  </h1>
  <h4 class="subheadlinetext">
    Students text to connect. You empower follow-up from the web or a smart phone.
  </h4>
  
  <div class="splashbanner">
    <ul id="splashslider">
      <li>
        <div class="slide slide1">
          <!-- <a href="/tour"><%= image_tag("splash/box_left.jpg") %></a>
          <a href="/tour"><%= image_tag("splash/box_mid.jpg") %></a>
          <a href="/tour"><%= image_tag("splash/box_right.jpg") %></a> -->
          <%= image_tag("splash/box_left.jpg") %>
          <%= image_tag("splash/box_mid.jpg") %>
          <%= image_tag("splash/box_right.jpg") %>
        </div>
      </li>
      <li>
        davdsdf
      </li>
      <li>
        asdfasdfsd
      </li>
    </ul>
  </div>

  <div class="salespush">
    <!-- Get the Details & <a href="/tour" class="learnmore">Learn More</a> or  --><%= link_to("Get Started", new_user_session_path, :class => "getstartedbt") %>
  </div>

</div>


<div class="footer">

  MissionHub was created by Campus Crusade for Christ International<br/>
  &copy; Copyright 2011 

</div>

