<% provide(:sidebar) do %>
  <div class="wizard_steps">
    <div id="welcome_step" class="wizard_step" data-step="welcome">
      <% if params[:step].blank? || params[:step] == 'welcome' %>
        <div class="wizard_step_active"></div>
      <% else %>
        <div class="wizard_step_inactive"></div>
      <% end %>
      <div class="wizard_step_name"><%= link_to(t('ma.welcome.wizard.welcome'), '/wizard') %></div>
      <div class="wizard_step_visited"></div>
    </div>
    <% unless current_user.globallyUniqueID %>
      <div id="verify_step" class="wizard_step" data-step="verify">
        <% if params[:step] == 'verify' %>
          <div class="wizard_step_active"></div>
        <% else %>
          <div class="wizard_step_inactive"></div>
        <% end %>
        <div class="wizard_step_name"><%= link_to(t('ma.welcome.wizard.verify_identity'), '/wizard?step=verify') %></div>
        <div class="wizard_step_visited"></div>
        <% if current_user.globallyUniqueID %>
          <div class="wizard_step_visited"></div>
        <% else %>
          <div class="wizard_step_not_visited"></div>
        <% end %>
      </div>
    <% end %>
    <div id="keyword_step" class="wizard_step <%= 'disabled' unless current_organization %>" data-step="keyword">
      <% if params[:step] == 'keyword' %>
        <div class="wizard_step_active"></div>
      <% else %>
        <div class="wizard_step_inactive"></div>
      <% end %>
      <div class="wizard_step_name"><%= link_to(t('ma.welcome.wizard.request_keyword'), '/wizard?step=keyword') %></div>
      <div class="wizard_step_visited"></div>
      <% if current_organization && current_organization.keywords.present? %>
        <div class="wizard_step_visited"></div>
      <% else %>
        <div class="wizard_step_not_visited"></div>
      <% end %>
    </div>
    <div id="survey_step" class="wizard_step <%= 'disabled' unless current_organization && current_organization.keywords.present? %>" data-step="survey">
      <% if params[:step] == 'survey' %>
        <div class="wizard_step_active"></div>
      <% else %>
        <div class="wizard_step_inactive"></div>
      <% end %>
      <div class="wizard_step_name"><%= link_to(t('ma.welcome.wizard.create_survey'), '/wizard?step=survey') %></div>
      <div class="wizard_step_visited"></div>
      <% if current_organization && current_organization.question_sheets.present? %>
        <div class="wizard_step_visited"></div>
      <% else %>
        <div class="wizard_step_not_visited"></div>
      <% end %>
    </div>
    <div id="leaders_step" class="wizard_step <%= 'disabled' unless current_organization %>" data-step="leaders">
      <% if params[:step] == 'leaders' %>
        <div class="wizard_step_active"></div>
      <% else %>
        <div class="wizard_step_inactive"></div>
      <% end %>
      <div class="wizard_step_name"><%= link_to(t('ma.welcome.wizard.designate_leaders'), '/wizard?step=leaders') %></div>
      <div class="wizard_step_visited"></div>
      <% if current_organization && current_organization.keywords.present? %>
        <div class="wizard_step_visited"></div>
      <% else %>
        <div class="wizard_step_not_visited"></div>
      <% end %>
    </div>
  </div>
<% end %>

<div id="wizard_content">
  <% case params[:step] %>
  <% when 'verify' %>
    <% if params[:not_found] == '1' %>
      <p><%= t('ma.welcome.wizard.not_found_paragraph') %> </p>
    <% else %>
      <p><%= t('ma.welcome.wizard.verify_paragraph') %> </p>
      <%= link_to(t('ma.welcome.wizard.verify_with_relay'), verify_with_relay_path) %>
    <% end %>
  <% when 'keyword' %>
    <p><%= t('ma.welcome.wizard.keyword_paragraph') %> </p>
    <%= link_to(t('ma.welcome.wizard.request_keyword_link'), new_sms_keyword_path) %><br/>
    <%= link_to(t('ma.welcome.wizard.skip_step'), '/wizard?step='+ current_user.next_wizard_step(current_organization)) %>
  <% when 'survey' %>
    <p><%= t('ma.welcome.wizard.survey_paragraph') %> </p>
    <%= link_to(t('ma.welcome.wizard.create_survey_link'), sms_keyword_questions_path(current_organization.keywords.first)) %><br/>
    <%= link_to(t('ma.welcome.wizard.skip_step'), '/wizard?step='+ current_user.next_wizard_step(current_organization)) %>
  <% when 'leaders' %>
    <p><%= t('ma.welcome.wizard.leaders_paragraph') %> </p>
  <% else %>
    <p><%= t('ma.welcome.wizard.welcome_paragraph') %> </p>
    <%= link_to(t('ma.welcome.wizard.back'), '#', :class => 'disabled', :onclick => 'return false;') %>
    <%= link_to(t('ma.welcome.wizard.next'), '/wizard?step=verify') %>
  <% end %>
</div>