<% provide(:sidebar) do %>
  <div class="wizard_steps">
    <div id="welcome_step" class="wizard_step" data-step="welcome">
      <% if params[:step].blank? || params[:step] == 'welcome' %>
        <div class="wizard_step_active"></div>
      <% else %>
        <div class="wizard_step_inactive"></div>
      <% end %>
      <div class="wizard_step_name"><%= link_to(t('welcome.wizard.welcome'), '/wizard') %></div>
      <div class="wizard_step_visited"></div>
    </div>
    <div id="survey_step" class="wizard_step <%= 'disabled' unless current_organization %>" data-step="survey">
      <% if params[:step] == 'survey' %>
        <div class="wizard_step_active"></div>
      <% else %>
        <div class="wizard_step_inactive"></div>
      <% end %>
      <div class="wizard_step_name"><%= current_organization && current_organization.self_and_children_surveys.present? ? link_to(t('welcome.wizard.create_survey'), '/wizard?step=survey') : t('welcome.wizard.create_survey') %></div>
      
      <% if current_organization && current_organization.self_and_children_questions.present? %>
        <div class="wizard_step_visited"></div>
      <% else %>
        <div class="wizard_step_not_visited"></div>
      <% end %>
    </div>
    <div id="keyword_step" class="wizard_step <%= 'disabled' unless current_organization %>" data-step="keyword">
      <% if params[:step] == 'keyword' %>
        <div class="wizard_step_active"></div>
      <% else %>
        <div class="wizard_step_inactive"></div>
      <% end %>
      <div class="wizard_step_name"><%= current_organization && current_organization.self_and_children_surveys.present? ? link_to(t('welcome.wizard.request_keyword'), '/wizard?step=keyword') : t('welcome.wizard.request_keyword') %></div>
      
      <% if current_organization && (current_organization.self_and_children_surveys.present?) %>
        <div class="wizard_step_visited"></div>
      <% else %>
        <div class="wizard_step_not_visited"></div>
      <% end %>
    </div>
  </div>
<% end %>

<div id="wizard_content">
  <% case params[:step] %>
  <% when 'keyword' %>
    <h2><%= t('.request_a_keyword') %></h2>
    <p><%= raw t('welcome.wizard.keyword_paragraph') %> </p>
    <%= link_to(t('welcome.wizard.request_keyword_link'), new_sms_keyword_path) %><br/>
  <% when 'survey' %>
    <h2><%= t('.create_a_survey') %></h2>
    <p><%= t('welcome.wizard.survey_paragraph') %> </p>
    <% link = case
              when current_organization.self_and_children_surveys.length > 1 
                index_admin_surveys_path
              when current_organization.self_and_children_surveys.length == 1
                survey_questions_path(current_organization.self_and_children_surveys.first)
              else
                new_survey_path 
              end %>
    <%= link_to(t('welcome.wizard.create_survey_link'), link) %><br/>
  <% else %>
    <h2><%= t('welcome.wizard.welcome') %></h2>
    <% if current_organization %>
      <p><%= raw t('welcome.wizard.welcome_paragraph') %> </p>
    <% else %>
      <p><%= raw t('welcome.wizard.not_found_paragraph') %> </p>
    <% end %>
  <% end %>
</div>
