<h2><%= @current_criteria %></h2>
<h3><%= @current_movement.name %></h3>

<div id="goal_description">
  <% if @goal.id? %>
    from <b><%= @goal.start_value %></b> to <b><%= @goal.end_value %></b> interactions<br/>
    <b><%= @goal.start_date.to_s %></b> to <b><%= @goal.end_date.to_s %></b>
  <% else %>
    A goal for <%= @current_criteria %> has not yet been set for <%= @current_movement.name %>.
  <% end %>
</div>
<br/>

<% if can? :manage, @current_movement %>
  <%= button_tag 'Edit Goal', class: 'large_red', id: 'edit_goal_button' %>
<% end %>

<script>
  $('button#edit_goal_button').bind('click', function(){
    $.ajax({
      url: "/charts/edit_goal",
      type: "GET"
    })
  });
</script>