<div id="snapshot_sidebar">
  <%= form_tag update_snapshot_movements_charts_path, remote: true do %>
    <div id="snapshot_radio">
      <div id="snapshot_radio_buttons">
        <div id="snapshot_radio_button_all">
          <%= radio_button_tag 'all', 'true', @chart.snapshot_all_movements, :id => "snap_all_true" %> All
        </div>
        <div id="snapshot_radio_button_custom">
          <%= radio_button_tag 'all', 'false', !@chart.snapshot_all_movements, :id => "snap_all_false" %> Custom
        </div>
      </div>
      <div id="snapshot_movements">
        <% @movements.each do |movement| %>
          <div class="movement_line">
            <% checked = @chart.chart_organizations.where("organization_id = ?", movement.id).first.snapshot_display %>
            <%= check_box_tag "movements[]", movement.id, checked, disabled: @chart.snapshot_all_movements, class: 'snap_movement' %>
            <span><%= movement.name %></span>
          </div>
        <% end %>
      </div>
    </div>
    <div id="snapshot_movements_submit">
      <%= submit_tag 'Update Chart', class: 'large_gray' %>
      <%= button_tag 'Uncheck All', class: 'large_gray', id: 'uncheck_all_movements' %>
    </div>
  <% end %>
</div>
