<%- snapshot = params[:action] == "load_snapshot" && params[:id].present? %>
<%- snapshot_id = snapshot ? params[:id] : 0 %>
<div id="snapshot_sidebar" class="<%= 'load_snapshot' if snapshot %>">
  <%= form_tag update_snapshot_movements_charts_path, remote: true do %>
    <div id="snapshot_radio">
      <div id="snapshot_radio_buttons">
        <div id="snapshot_radio_button_all">
          <%= radio_button_tag 'all', 'true', @chart.snapshot_all_movements, :id => "snap_all_true" %> All
        </div>
        <div id="snapshot_radio_button_custom">
          <%= radio_button_tag 'all', 'false', !@chart.snapshot_all_movements, :id => "snap_all_false" %> Custom
        </div>
        <div id="snapshot_radio_button_saved">
          <%= radio_button_tag 'all', 'saved', false, :id => "saved_visual_tool_radio" %> Saved
        </div>
      </div>
      <div id="snapshot_movements" class="<%= 'hidden' if snapshot && @snapshot.present? %>">
        <% @movements.each do |movement| %>
          <div class="movement_line">
            <%= check_box_tag "movements[]", movement.id, @chart.chart_organizations.where("organization_id = ?", movement.id).first.snapshot_display, disabled: @chart.snapshot_all_movements, class: 'snap_movement' %>
            <span><%= movement.name %></span>
          </div>
        <% end %>
      </div>
      <div id="saved_visual_tools">
        <% if @saved_visual_tools.present? %>
          <% @saved_visual_tools.each do |saved_visual_tool| %>
            <%= render "charts/saved_snapshot", saved_visual_tool: saved_visual_tool, current_snapshot_id: snapshot_id %>
          <% end %>
        <% else %>
          No saved snapshots.
        <% end %>
      </div>
      <% if snapshot && @snapshot.present? %>
        <div id="current_movements">
          <% @snapshot_movements.each do |snapshot_movement| %>
            <div><%= snapshot_movement.name %></div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div id="snapshot_movements_submit" class="<%= 'hidden' if snapshot && @snapshot.present? %>">
      <%= submit_tag 'Update Chart', class: 'large_gray', id: "update_chart" %>
    </div>
  <% end %>
  <%= render 'dialogs/save_snapshot' %>
  <div id="snapshot_actions" class="<%= 'hidden' if snapshot && @snapshot.present? %>">
    <%= button_tag 'Save Selected', class: "large_gray", id: 'save_snapshot_button' %>
    <%= button_tag 'Uncheck All', class: "large_gray #{'hidden' if snapshot && @snapshot.present?}", id: 'uncheck_all_movements' %>
  </div>
</div>
