<div id="snap_movements_data">
  <h2>STAGE OF MOVEMENTS</h2>
  <h3 class="snap_movement_data"><%= @movement_stages["Pioneering"] %> Pioneering</h3>
  <h3 class="snap_movement_data"><%= @movement_stages["Key Leader"] %> Key Leader</h3>
  <h3 class="snap_movement_data"><%= @movement_stages["Launched"] %> Launched</h3>
  <h3 class="snap_movement_data"><%= @movement_stages["Multiplying (formerly Transformational)"] %> Multiplying</h3>
</div>
<div id="changed_lives">
  <h2>CHANGED LIVES</h2>
  <% @changed_lives.each do |person| %>
    <div class="changed_life">
      <% if person.fb_uid.present? %>
        <%= image_tag("https://graph.facebook.com/#{person.fb_uid}/picture?width=50&height=50", alt: '', width: '50', height: '50', id: 'profile_image') %>
      <% else %>
        <%= image_tag("no_image.png", alt: '', width: '50', height: '50', id: 'profile_image') %>
      <% end %>
      <%= person.name %>
    </div>
  <% end %>
</div>
