<%- trend_id = @trend.present? ? params[:id] : 0 %>

<% if @trend.present? %>
  <%- load_type = 'saved' %>
<% elsif @chart.snapshot_all_movements %>
  <%- load_type = 'all' %>
<% else %>
  <%- load_type = 'custom' %>
<% end %>

<div id="trend_sidebar" data-type="<%= load_type %>">
  <%= form_tag update_trend_movements_charts_path, remote: true do %>
    <%= hidden_field_tag 'saved_search', '0'%>

    <div id="trend_radio">
      <div id="trend_radio_buttons">
        <div id="trend_radio_button_all" class="visual_tool_tab_parent">
          <%= radio_button_tag 'all', 'true', load_type == "all", id: "trend_all_true", class: "visual_tool_tab #{'current' if load_type == 'all'}", data: {type: "all"} %>
          All
        </div>
        <div id="trend_radio_button_custom" class="visual_tool_tab_parent">
          <%= radio_button_tag 'all', 'false', load_type == "custom", id: "trend_all_false", class: "visual_tool_tab #{'current' if load_type == 'custom'}", data: {type: "custom"} %>
          Custom
        </div>
        <div id="trend_radio_button_saved" class="visual_tool_tab_parent <%= 'active_search' if @trend.present? %>">
          <%= radio_button_tag 'all', 'saved', load_type == "saved", id: "saved_visual_tool_radio", class: "visual_tool_tab #{'current' if load_type == 'saved'}", data: {type: "saved"} %>
          Saved
        </div>
      </div>

      <div id="trend_movements" class="movements_container" data-selected="<%= @chart.chart_organizations.where(trend_display: true).collect{|x| x.organization_id}.join(',')%>">

        <%= select_tag("movements[]", options_for_select(@movements.collect{|x| [x.name, x.id]}, selected: @chart.chart_organizations.where(trend_display: true).pluck(:organization_id)), class: "movements_select", multiple: "multiple", style: "width: 100%") %>

      </div>
      <div id="saved_visual_tools">
        <% if @saved_visual_tools.present? %>
          <% @saved_visual_tools.each do |saved_visual_tool| %>
            <%= render "charts/saved_trend", saved_visual_tool: saved_visual_tool, current_trend_id: trend_id %>
          <% end %>
        <% else %>
          No saved trend.
        <% end %>
      </div>
    </div>

    <div id="trend_date_select">
      <br/>
      Start Date:<br/>
      <%= text_field_tag "start_date", @chart.trend_start_date, class: 'datepicker', placeholder: 'yyyy-mm-dd' %><br/>
      <br/>
      End Date: <div class="icon help tipitright help_bubble_keyword" title="<%= t('charts.trend.end_date_help') %>"></div><br/>
      <%= text_field_tag "end_date", @chart.trend_end_date, class: 'datepicker', placeholder: 'yyyy-mm-dd' %><br/>
    </div>

    <div id="trend_movements_submit">
      <%= submit_tag 'Apply Changes', class: 'large_gray chart_button', id: "update_chart" %>
    </div>
  <% end %>
  <div id="snapshot_actions">
    <%= button_tag 'Reset', class: "large_gray chart_button", id: 'reset_chart' %>
    <%= button_tag 'Save Changes', class: "large_gray chart_button", id: 'update_trend_button' %>
    <%= button_tag 'Unselect All', class: "large_gray chart_button", id: 'clear_chart' %>
    <%= button_tag 'Save New Trend', class: 'large_gray chart_button', id: 'save_trend_button' %>
  </div>
</div>
<%= render 'dialogs/save_trend' %>