<%- trend = params[:action] == "load_trend" && params[:id].present? %>
<%- trend_id = trend ? params[:id] : 0 %>
<div id="trend_sidebar" class="<%= 'load_trend' if trend %>">
  <%= form_tag update_trend_movements_charts_path, remote: true do %>
      <div id="trend_radio">
        <div id="trend_radio_buttons">
          <div id="trend_radio_button_all">
            <%= radio_button_tag 'all', 'true', @chart.trend_all_movements, :id => "trend_all_true" %> All
          </div>
          <div id="trend_radio_button_custom">
            <%= radio_button_tag 'all', 'false', !@chart.trend_all_movements, :id => "trend_all_false" %> Custom
          </div>
          <div id="trend_radio_button_saved">
            <%= radio_button_tag 'all', 'saved', false, :id => "saved_visual_tool_radio" %> Saved
          </div>
        </div>

        <div id="trend_movements">
          <% @movements.each do |movement| %>
              <div class="trend_movement_line">
                <%= check_box_tag "movements[]", movement.id, @chart.chart_organizations.where("organization_id = ?", movement.id).first.trend_display, disabled: @chart.trend_all_movements, class: 'trend_movement' %>
                <span><%= movement.name %></span>
              </div>
          <% end %>
        </div>
        <div id="saved_visual_tools">
          <% if @saved_visual_tools.present? %>
            <% @saved_visual_tools.each do |saved_visual_tool| %>
              <%= render "charts/saved_trend", saved_visual_tool: saved_visual_tool, current_trend_id: trend_id %>
            <% end %>
          <% else %>
            No saved trend.
          <% end %>
        </div>
        <% if trend && @trend.present? %>
          <div id="current_movements">
            <% @trend_movements.each do |trend_movement| %>
              <div><%= trend_movement.name %></div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div id="trend_date_select">
        <br/>
        Start Date:<br/>
        <%= text_field_tag "start_date", @chart.trend_start_date, class: 'datepicker', placeholder: 'yyyy-mm-dd' %><br/>
        End Date:<br/>
        <%= text_field_tag "end_date", @chart.trend_end_date, class: 'datepicker', placeholder: 'yyyy-mm-dd' %><br/>
      </div>

      <div id="trend_movements_submit">
        <%= submit_tag 'Update Chart', class: 'large_gray', id: "update_chart" %>
      </div>
  <% end %>
  <%= render 'dialogs/save_trend' %>
  <%= button_tag 'Save Selected', class: 'large_gray', id: 'save_trend_button' %>
  <%= button_tag 'Uncheck All', class: 'large_gray', id: 'trend_uncheck_all_movements' %>
</div>
