<% provide :sidebar do %>
  <%= render partial: 'trend_sidebar' %>
<% end %>

<div class="titlebar titlebarmod">
  <h1>
    Trend Tracker
  </h1>
</div>

<%= javascript_include_tag 'highcharts' %>
<%= javascript_include_tag 'highcharts-more' %>

<div id="trend_spinner">
  <br/>Updating Chart...&nbsp;<%= image_tag "spinner.gif" %>
</div>
<div id="trend_container"></div>

<div id="trend_chart">
  <%= render partial: 'trend_js' %>
</div>

<div id="trend_fields">
  <%= render partial: 'trend_fields' %>
</div>

<div id="trend_compare">
  <%= render partial: 'trend_year_ago' %>
</div>
