<% provide :sidebar do %>
  <%= render partial: 'trend_sidebar' %>
<% end %>

<div class="titlebar titlebarmod">
  <h1>
    Trend Tracker
  </h1>
</div>

<%= javascript_include_tag 'highcharts' %>
<%= javascript_include_tag 'highcharts-more' %>

<div id="trend_spinner">
  <br/>Updating Chart...&nbsp;<%= image_tag "spinner.gif" %>
</div>
<div id="trend_container"></div>

<div id="trend_chart">
  <%= render partial: 'trend_js' %>
</div>

<div id="trend_fields">
  <div class="trend_fields_row">
    <%= select_tag "trend_field_1", options_for_select([""] + MovementIndicator.all, @chart.trend_field_1), id: "trend_field_1" %>
    <%= select_tag "trend_field_2", options_for_select([""] + MovementIndicator.all, @chart.trend_field_2), id: "trend_field_2" %>
  </div>
  <div class="trend_fields_row">
    <%= select_tag "trend_field_3", options_for_select([""] + MovementIndicator.all, @chart.trend_field_3), id: "trend_field_3" %>
    <%= select_tag "trend_field_4", options_for_select([""] + MovementIndicator.all, @chart.trend_field_4), id: "trend_field_4" %>
  </div>
</div>

<div id="trend_compare">
  <%= render partial: 'trend_year_ago' %>
  <div class="icon help tipitright help_bubble_keyword" title="<%= t('charts.trend.year_ago') %>"></div>
</div>
