<% provide :sidebar do %>
    <%= render :partial => 'trend_sidebar'%>
<% end %>

<div class="titlebar titlebarmod">
  <h1>
    Trend Tracker
  </h1>
</div>

<%= javascript_include_tag 'highcharts' %>
<%= javascript_include_tag 'highcharts-more' %>

<div id="trend_spinner">
  <br/>Updating Chart...&nbsp;<%= image_tag "spinner.gif" %>
</div>
<div id="trend_container"></div>

<div id="trend_chart">
  <%= render :partial => 'trend_js' %>
</div>

<div id="trend_fields">
  <div class="trend_fields_row">
    <%= select_tag "trend_field_one", options_for_select([""] + MovementIndicator.all, @chart.trend_field_one), id: "trend_field_one_select" %>
    <%= select_tag "trend_field_two", options_for_select([""] + MovementIndicator.all, @chart.trend_field_two), id: "trend_field_two_select" %>
  </div>
  <div class="trend_fields_row">
    <%= select_tag "trend_field_three", options_for_select([""] + MovementIndicator.all, @chart.trend_field_three), id: "trend_field_three_select" %>
    <%= select_tag "trend_field_four", options_for_select([""] + MovementIndicator.all, @chart.trend_field_four), id: "trend_field_four_select" %>
  </div>
</div>

<div id="trend_compare">
  <%= check_box_tag "trend_compare", "trend_compare", @chart.trend_compare_year_ago %>
  &nbsp;Compare With One Year Ago
</div>
