<div class="titlebar titlebarmod">
  <h1><%= t('.title', org_name: current_organization) %></h1>
</div>
<% if current_organization.importable_type == 'Ccc::MinistryActivity' %>
<div id="suggestions_feed">
  <h2 class="fancy"><%= t('.list_heading') %></h2>
    <div class="feed_panel" >
      <div class="feed_panel_top">
        <ul id="panel_nav"></ul>
      </div>
      <div class="feed_content">
        <table border="0">
          <tbody id="suggestions">
            <tr><td colspan="3"><%= t('.fetching') %> <%= spinner(nil, true) %></td></tr>
          </tbody>
          <% if MovementIndicatorSuggestion.fetch_declined(current_organization).count > 0 %>
            <tfoot id="declined_suggestions">
              <tr><td colspan="3"><%= link_to(t('.show_old'), '#', id: 'show_old') %></td></tr>
            </tfoot>
          <% end %>
        </table>
        <div class="suggestions_buttons">
          <button class="large_gray" id="suggestions_next_button"><%= link_to(t('welcome.wizard.next'), movement_indicators_path) %>
          </button>                
        </div>
      </div>

  
<% else %>
  <p>
    This MissionHub organization does NOT have a corresponding movement in the Infobase to
    report your movement indicators.  Only movements can report movement indicators, not
    teams or self created organizations.
  </p>
<% end %>
