<div id="import_survey_question">
	<div id="survey_info">
		<div id="survey_header" class="info_header">
			Survey Info:
		</div>
		<div id="survey_content" class="info_content">
		  <%= check_box_tag 'create_survey_toggle', '', checked: 'checked' %>
			<label>Create New Survey for Question</label>
			<div id="new_survey">
				<label>Name of New Survey:</label>
				<%= text_field_tag 'survey_name_field', "", id: 'survey_name_field' %>
			</div>
			<div id="old_survey" style="display:none">
				<label>Select Survey for Question</label>
			  <%= select_tag('select_survey_field', options_for_select(current_organization.surveys), include_blank: true, class: 'question_type') %>
			</div>
		</div>
	</div>
	<div id="survey_question">
		<div id="survey_header" class="info_header">
			Question Info:
		</div>
		<div id="survey_content" class="info_content">
			<label>What type of question would you like to ask?</label>
			<%= select_tag('question_category', options_for_select([[t('.short_answer'), 'TextField'], [t('.multiple_choice'), 'ChoiceField'], [t('.checkboxes'), 'ChoiceField'], [t('.dropdown'),'ChoiceField']]), include_blank: true) %>
			<br/>

			<div id="survey_question_set">
				<div id="preview">
					<span>Text Message Length: <span id="length_counter"></span>/140</span>
					<br/>
					<span>Text Message Preview:</span><br/>
					<span id="question_preview"></span>
				</div>
				<div id="question">
					<label><%= t('.question') %>:</label>
					<br/>
					<%= text_field_tag 'question', "", id: 'question_field' %>
					<br/>
					<br/>
					<span id='import_survey_question_options_set'>
					<label>List out the possible choices, one per line:</label>
					<br/>
					<%= text_area_tag 'options', "", row: 5, id: 'question_options_field' %>
				</div>
			</div>
		</div>
	</div>
</div>