if("<%= @message %>" != "SUCCESS"){
  $('#import_error_message').text("<%== @message %>")
}else{
  id = $('#create_question_dialog').attr('data_id')
  question_id = "<%= @question.id if @question.present? %>"
  question_label = "<%= @question.label if @question.present? %>"
  survey_title = "<%= @survey.title if @survey.present? %>"
  
  $('#import_error_message').text('')
  $('#create_question_dialog').dialog('close')
  
  if("<%= @survey_status %>" == "NEW"){
    $('.import_column_survey_select').each(function(){    
      $(this).append("<optgroup label='"+survey_title+"'><option value='"+question_id+"'>"+question_label+"</option></optgroup>")
    })
  }else{
    $('.import_column_survey_select').each(function(){    
      $(this).children('optgroup').each(function(){
        if($(this).attr('label') == $('#select_survey_field option:selected').text()){
          $(this).append("<option value='"+question_id+"'>"+question_label+"</option>")
        }
      })
    })
  }
  
  $('#import_column_survey_select_'+id).val(question_id)
  $('#import_column_survey_select_'+id).trigger('change')
}