if("<%= @message %>" == "SUCCESS"){
  id = $('#create_question_dialog').attr('data_id')
  question_id = "<%= @question.id if @question.present? %>"
  question_label = $("<div>").html("<%= escape_javascript(@question.label) if @question.present? %>").text()
  question_content = $("<div>").html("<%= escape_javascript(@question.content) if @question.present? %>").text()
  survey_title = $("<div>").html("<%= escape_javascript(@survey.title) if @survey.present? %>").text()
  survey_title_escaped = survey_title.replace(/\'/g,'')
  survey_id = "<%= @survey.id if @survey.present? %>"
  question_type = $("<div>").html("<%= escape_javascript(@question_category) %>").text()

  if("<%= @survey_status %>" == "NEW"){
    $('.import_column_survey_select').each(function(){
      $(this).append("<optgroup label=\""+survey_title+"\"><option data-survey-title=\"" +survey_title_escaped+ "\" value='"+question_id+"' data-new='true' question_type=\""+question_type+"\" question_content=\""+question_content+"\">"+question_label+"</option></optgroup>")
    })
    $('#select_survey_field').append("<option value='"+survey_id+"'>"+survey_title+"</option>")
  }else{
    $('.import_column_survey_select').each(function(){
      $(this).children('optgroup').each(function(){
        if($(this).attr('label') == $('#select_survey_field option:selected').text()){
          $(this).append("<option data-survey-title=\"" +survey_title_escaped+ "\" value='"+question_id+"' data-new='true' question_type=\""+question_type+"\" question_content=\""+question_content+"\">"+question_label+"</option>")
        }
      })
    })
  }

  $('#import_column_survey_select_'+id).val(question_id)
  $('#import_column_survey_select_'+id).attr('data-saved-value',question_id)
  $('#import_column_survey_select_'+id).trigger('change')
  $('#import_error_message').text('')
  $('#create_question_dialog').dialog('close')
}else if("<%= @message %>" == "UPDATE"){
  id = $('#create_question_dialog').attr('data_id')
  question_id = "<%= @question.id if @question.present? %>"
  question_label = $("<div>").html("<%= escape_javascript(@question.label) if @question.present? %>").text()
  question_content = $("<div>").html("<%= escape_javascript(@question.content) if @question.present? %>").text()

  $('.import_column_survey_select').each(function(){
    $(this).children().find("option[value="+question_id+"]").text(question_label)
    $(this).children().find("option[value="+question_id+"]").attr('question_content',question_content)
  })

  $('#import_column_survey_select_'+id).val(question_id)
  $('#import_column_survey_select_'+id).attr('data-saved-value',question_id)
  $('#import_column_survey_select_'+id).trigger('change')
  $('#import_error_message').text('')
  $('#create_question_dialog').dialog('close')
}else{
  $('#import_error_message').text("<%== @message %>")
}