<div class="inside_container">
	<%= javascript_include_tag "underscore-1.4.2" %>
	<%= javascript_include_tag "jquery.simplyCountable" %>
	<%= javascript_tag do %>
  		var surveyTitles = new Array();
  		var surveyLengths = new Array();
  		var surveyGroups = new Array();
  		var mhubQuestions = new Array();
  		var userQuestions = new Array();
		var surveys = new Array();
		var surveyData = new Array();
  		<% @survey_questions.each_key do |s| %>
			surveyTitles.push('<%= s %>');
			<% @survey_questions[s].each do |v| %>
				surveys.push("<%= v[0] %>");
			<% end %>
			surveyLengths.push(surveys.length);
			surveyGroups.push(surveys);
			surveys = [];
		<% end %>
		<% @import.headers.each_with_index do |header| %>
			userQuestions.push('<%= header %>'.replace(/:/gi, ""));
		<% end %>
		surveyTitles.reverse();
		surveyLengths.reverse();
		surveyGroups.reverse();
		for (var i = 0; i < surveyTitles.length; i++) {
			surveyData.push(surveyTitles[i]);
			surveyData.push(surveyGroups[i]);
			for (var ii = 0; ii < surveyGroups[i].length; ii++) {
				mhubQuestions.push(surveyGroups[i][ii]);
			}
		}
	<% end %>
	<%= javascript_include_tag "import-contacts" %>
	
	<div class="titlebar titlebarmod">  
	  <h1>
		<%= t('contacts.index.import_contacts') %>
	  </h1>
	</div>
	
	<div>
		<h1 class="title">Step 2 of 3 - Match Columns</h1>
		<%= link_to("Help Me", "http://blog.missionhub.com", :class => "helpme", :target => "_blank") %>
		<div class="container">
			<div class="content">
				<p class="singleinstruction">Match the headers from your CSV file with the corresponding Person attributes or Survey questions in MissionHub. <strong>First Name</strong> is required.</p>
			</div>
			<table>
				<tr>
					<th>Column</th>
					<th>Preview</th>
					<th>Match</th>
				</tr>
		
				<%= form_for @import do |f| %>
					<% @import.headers.each_with_index do |header, i| %>
						<tr id="row_<%= i %>">
							<td><%= header %>:</td>
							<td><%= @import.preview[i]%></td>
							<td>
								<div class="matchSelect" id="select_<%= i %>">
									<div class="selectTitleBg">
										<span class="selectTitle"></span>
									</div>
									<div class="selectQuestions" style="display:none;">
										<div class="noMatch"><span class="noImport">Do not import data</span></div>
										<div class="surveyContainer">
											<% @survey_questions.each_key do |s| %>
												<ul class="surveyQuestions">
													<span class="surveyHeader"><%= s %></span>
													<% @survey_questions[s].each do |v| %>
														<li class="surveyItem"><%= v[0] %></li>
													<% end %>
												</ul>
											<% end %>
										</div>
										<div class="newQuestion">
											<span class="plus">+</span>Create a Survey Question for this Column
										</div>
									</div>
								</div>
								<div class="matchEdit">
									<%= link_to("Edit", "#", :class => "editMatch", :id => "edit_#{i}") %>
								</div>
							</td>
						</tr>
					<% end %>
			
			</table>
			<div class="importform">
					<%= submit_tag 'Continue', :value=>"Continue" %><%= link_to("Cancel", "/imports/new", :class => "cancel") %>
				<% end %>
			</div>
		</div>
	</div>
	
	<div id="new_question_div" style="display:none" title="Create Survey Question For Column">
		<%= render 'import_add_question' %>
	</div>
</div>