<div class="inside_container">
	<div class="titlebar titlebarmod">  
	  <h1>
		<%= t('contacts.index.import_contacts') %>
	  </h1>
	</div>
	
	<div>
		<h1 class="title">Step 2 of 3 - Match Columns</h1>
		<div class="container">
			<div class="content">
				<p class="singleinstruction">Match the headers from your CSV file with the corresponding Person attributes or Survey questions in MissionHub. <strong>First Name</strong> is required.</p>
			</div>
			<table id="import_column_question">
				<tr>
					<th>Column</th>
					<th>Preview</th>
					<th>Match</th>
				</tr>
				<%= form_for @import do |f| %>
					<% @import.headers.each_with_index do |header, i| %>
						<tr id="<%= i %>" class='import_row'>
							<td class='column_header'><%= header %>:</td>
							<td class='column_preview'><%= @import.preview[i]%></td>
							<td class='column_question customform ui-widget'>
                <%= select_tag "import[header_mappings][#{i}]", grouped_options_for_select(@survey_questions, selected_key = '', prompt = 'Create New Question'), class: 'import_column_survey_select', id: "import_column_survey_select_#{i}", data_id: i %>
								<%= link_to("Edit", "", class: "column_edit_link hidden", id: "column_edit_#{i}", data_id: i) %>
							</td>
						</tr>
					<% end %>
			
			</table>
			<div class="importform">
					<%= submit_tag 'Continue', :value=>"Continue" %><%= link_to("Cancel", "/imports/new", :class => "cancel") %>
				<% end %>
			</div>
		</div>
	</div>
	
	<div id="new_question_div" style="display:none" title="Create Survey Question For Column">
		<%= render 'import_add_question' %>
	</div>
	
	<div id="create_question_dialog" style="display:none" title="Create Survey Question For Column">
		<%= render 'add_survey_question' %> 
	</div>
</div>