<%= javascript_include_tag "importContacts" %>

<div class="titlebar titlebarmod">  
  <h1>
    <%= t('contacts.index.import_contacts') %>
  </h1>
</div>

<div>
	<h1 class="title">Step 2 of 3 - Match Columns</h1>
	<%= link_to("Help Me", "#", :class => "helpme") %>
	<div class="container">
		<div class="content">
			<p class="singleinstruction">Match the headers from your CSV file with the corresponding Person attributes or Survey questions in MissionHub. <strong>First Name</strong> is required.</p>
		</div>
		<table>
			<tr>
				<th>Column</th>
				<th>Preview</th>
				<th>Match</th>
			</tr>
	
			<%= form_for @import do |f| %>
				<% @import.headers.each_with_index do |header, i| %>
					<tr>
						<td>
							<%= header %>:
						</td>
						<td>
							Preview
						</td>
						<td>
							<%= select_tag "import[header_mappings][#{i}]", grouped_options_for_select(@survey_questions, @import.header_mappings.blank? ? "" : @import.header_mappings[i.to_s]  ), :include_blank => true %>
							
							<div class="matchSelect" id="select_<%= i %>">
								<span class="selectTitle">Sample</span>
								<div class="selectQuestions" style="display:none;">
									<% @survey_questions.each_key do |s| %>
										<ul class="surveyQuestions">
											<span class="surveyHeader"><%= s %></span>
											<% @survey_questions[s].each do |v| %>
												<li><%= v[0] %></li>
											<% end %>
										</ul>
									<% end %>
									<div class="newQuestion"><span class="plus">+</span>Create a Survey Question for this Column</div>
								</div>
							</div>
						</td>
					</tr>
				<% end %>
		
		</table>
		<div class="importform">
				<%= submit_tag 'Continue', :value=>"Continue" %><%= link_to("Cancel", "/imports/new", :class => "cancel") %>
			<% end %>
		</div>
	</div>
</div>
