<div class="inside_container">
	<div class="titlebar titlebarmod">  
	  <h1>
		<%= t('contacts.index.import_contacts') %>
	  </h1>
	</div>
	
	<div>
		<h1 class="title"><%= t('.title')%></h1>
		<div class="container">
			<div class="content">
				<p class="singleinstruction"><%=raw t('.guide') %></p>
			</div>
			<table id="import_column_question">
				<tr>
					<th>Column</th>
					<th>Preview</th>
					<th>Match</th>
				</tr>
				<%= form_for @import, html: {id: 'header_mapping_form'} do |f| %>
					<% @import.headers.each_with_index do |header, i| %>
						<tr id="<%= i %>" class='import_row'>
							<td class='column_header'><%= header %>:</td>
							<td class='column_preview'><%= @import.preview[i]%></td>
							<td class='column_question customform ui-widget'>
                <%= select_tag "import[header_mappings][#{i}]", grouped_options_for_select(@survey_questions, selected_key = @import.header_mappings.blank? ? "" : @import.header_mappings[i.to_s], prompt = 'Automatically Generate Question'), class: 'import_column_survey_select', id: "import_column_survey_select_#{i}", data_id: i , saved_value: "#{@import.header_mappings[i.to_s] if @import.header_mappings}"%>
								<%= link_to("Edit", "", class: "column_edit_link hidden", id: "column_edit_#{i}", data_id: i) %>
							</td>
						</tr>
					<% end %>
			
			</table>
			<div class="importform">
					<%= submit_tag 'Continue', value: "Continue", id: 'header_mapping_submit' %><%= link_to("Cancel", "/imports/new", :class => "cancel") %>
				<% end %>
			</div>
		</div>
	</div>
	
	<div id="new_question_div" style="display:none" title="Create Survey Question For Column">
		<%= render 'import_add_question' %>
	</div>
	
	<div id="create_question_dialog" style="display:none" title="Create Survey Question For Column">
		<%= render 'add_survey_question' %> 
	</div>
</div>