<% provide :sidebar do %>
  <%= render 'contacts/leaders' %>
<% end %>

<div class="contentpad import">
  <div class='import_header'>
    <div class='import_step'>
      <%= image_tag("step2.png") %>
    </div>
    <div class='import_info'>
      <%= t('contacts.index.import_contacts2') %>
    </div>
  </div>
  <p>Match your CSV headers to correspond with Person attributes or Survey questions. Remember that <strong>first name</strong> is required.</p>

<%= form_for @import do |f| %>
    <% @import.headers.each_with_index do |header, i| %>
    <div class="stepwrap rwidth">
      <div class='import_label'>
        <%= header %>:
      </div>
      <div class='import_field'>
        <%= select_tag "import[header_mappings][#{i}]", grouped_options_for_select(@survey_questions, @import.header_mappings.blank? ? "" : @import.header_mappings[i.to_s]  ), :include_blank => true %><br>
      </div>
    </div>
    <% end %>
  <%= submit_tag 'Continue', :value=>"Continue" %>
<% end %>
</div>
