<% provide :sidebar do %>
  <%= render 'contacts/leaders' %>
<% end %>

<div class="contentpad import">
  <div class='import_header'>
    <div class='import_step'>
      <%= image_tag("step3.png") %>
    </div>
    <div class='import_info'>
      Label New Contacts
    </div>
  </div>
  <p>
    <%= t('contacts.index.import_step3_body1', count: @import_count) %>
  </p>
  <p>
    <%= t('contacts.index.import_step3_body2') %>
  </p>
  
  <div class="stepwrap rwidth manage_labels">
    <%= form_tag controller: 'imports', action: 'import', id: @import.id do |f| %>
      <%= check_box_tag :use_labels, 1, true %>
      <%= t('contacts.index.import_labels_checkbox') %>
      <div class="label_space">
        <div class="label_list">
          <%= render partial: 'imports/label', locals: {role_id: 0, role_name: @import.label_name, checked: true}%>
          <% (@roles.default_roles_desc + @roles.non_default_roles_asc).each do |role| %>
            <%= render partial: 'imports/label', locals: {role_id: role.id, role_name: role.name, checked: false}%>
          <% end %>
        </div>
        <div class="label_new">
          <%= text_field_tag 'new_label_field', '', placeholder: t('contacts.index.import_new_label') %>
          <%= button_tag 'Save Label', :id => 'new_label_button' %>
          <br/>
          <div id="new_label_message">
          </div>
        </div>
      </div>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <%= submit_tag 'Import Now', :value=>"Import Now" %>
    <% end %>
  </div>
</div>