<div class="inside_container">
	<div class="titlebar titlebarmod">  
	  <h1>
		<%= t('contacts.index.import_contacts') %>
	  </h1>
	</div>
	
	<div>
		<h1 class="title">Step 1 of 3 - Upload a File</h1>
		<div class="container">
			<div class="content">
				<p>You can easily import hundreds of contacts at once by uploading a CSV (comma-seperated value) file. Microsoft Excel makes it easy to create a CSV file from a spreadsheet.</p>
				
				<ol>
					<li><span class="name">Download and open <%= link_to(t('contacts.import_contacts.template_sample_csv'), download_sample_contacts_csv_imports_path) %> to get started.</span>
					<li>Use the first row of the database to list your headings (First Name, Last Name, Email, etc.). </li>
					<li>In Excel, chose <strong>Save As</strong>.</li>
					<li>From the drop down menu for <strong>File Type</strong>, choose <strong>CSV, Comma Separated</strong>.</li>
				</ol>
				
				<p>Click the <strong>Choose File</strong> button and locate your new CSV file, then click the <strong>Upload</strong> button to continue.</p>
				
				<ul style="display: none;">
					<li><%= t('contacts.import_contacts.instruction_4') %></li>
					<li><%= t('contacts.import_contacts.instruction_1') %></li>
					<li><%= t('contacts.import_contacts.instruction_2') %></li>
					<li><%= t('contacts.import_contacts.instruction_3') %></li>
				</ul>
			</div>
			
			<div class="importform">
				<%= form_for :import, :url=>{ :controller=>"imports", :action=>"create"}, :html => { :multipart => true } do |f| %>
					<%= f.file_field :upload %><%= submit_tag 'Submit', :value=>"Upload" %>
				<% end %>
			</div>
		</div>
	</div>
	<div class='bottom_area'>
  	<%= link_to("Help Me", "http://blog.missionhub.com", :class => "helpme", :target => "_blank") %>
  	<div class='sub_info'>
  	  <%= t('contacts.import_contacts.help_info') %>
  	</div>
  </div>
</div>