<div id="bulk_vcard_dialog" style="display:none" title="<%= t('contacts.index.bulk_vcard_dialog_title') %>">
  <p>
    <%= t('contacts.index.bulk_vcard_dialog_desc') %> 
  </p>
  <%= form_tag bulk_create_vcards_url, :id => "bulk_vcard_form" do %>
    <div class="field_in">
      <label><%= t('general.email') %></label> 
      <div class="in"><%= text_field_tag :bulk_vcard_email, current_person.email %></div>
    </div>
  <% end %>
</div>