<div id="bulk_vcard_dialog" style="display:none" title="<%= t('contacts.index.bulk_vcard_dialog_title') %>">
  <p>
    <%= t('contacts.index.bulk_vcard_dialog_desc') %> 
  </p>
  <%= form_tag send_vcard_contacts_path, :id => "bulk_vcard_form" do %>
    <div class="field_in">
      <label><%= t('general.email') %></label> 
      <div class="in"><%= text_field_tag :send_contact_info_email, current_person.email %></div>
    </div>
  <% end %>
</div>