<%= form_for ContactAssignment.new do |f| %>
  <%= hidden_field_tag :assigned_to, params[:assigned_to] %>
  <%= hidden_field_tag :assign_to %>
  <div class='scroll_table' id="all_contacts_list">
    <table class="listing contact_listing <%= 'unassigned_contacts' if params[:assigned_to] == 'unassigned' %>" cellpadding="0" cellspacing="0">
      <tr id="table_header">
      	<th>&nbsp;</th>
        <th class="checkbox_cell header_checkbox">
          <%= check_box_tag 'check_all_contacts', true, false, 'data-target' => '#new_contact_assignment', class: 'check_all_contacts', 'data-status' => @attr %>
        </th>
        <th class='first_name'>
          <%= sortable(:first_name, t('.first_name'), {controller: 'contacts', action: 'filter'}, remote: true, class: 'sort_contact_link') %>
        </th>
        <th class='last_name'>
          <%= sortable(:last_name, t('.last_name'), {controller: 'contacts', action: 'filter'}, remote: true, class: 'sort_contact_link') %>
        </th>

      	<% if params[:permission].blank? || ![Permission::ADMIN_ID,Permission::USER_ID].include?(params[:permission].map{|id| id }) %>
  	      <th class='status'>
            <%= sortable(:followup_status, t('.followup_status'), {controller: 'contacts', action: 'filter'}, remote: true, class: 'sort_contact_link') %>
          </th>
  		  <% end %>

        <th class='gender'>
          <%= sortable(:gender, t('.gender'), {controller: 'contacts', action: 'filter'}, remote: true, class: 'sort_contact_link') %>
        </th>
        <th class='phone' style='min-width:100px;'>
          <%= sortable(:phone_number, t('.phone_number'), {controller: 'contacts', action: 'filter'}, remote: true, class: 'sort_contact_link') %>
        </th>
        <th class='labels'>
          <%= sortable(:labels, t('.labels'), {controller: 'contacts', action: 'filter'}, remote: true, class: 'sort_contact_link') %>
        </th>

        <% if @questions.present? %>
          <% @questions.uniq.each do |q| %>
            <% question = q.label.titleize %>
            <th class="question <%= dom_id(q) %> tip" title="<%= question %>">
              <%= question %>
              <br/>
              <%= link_to("(#{t('nav.hide')})", hide_question_column_contacts_path(survey_id: @organization.surveys.first || @predefined_survey.id, question_id: q), remote: true, method: :post, class: 'hide', 'data-class' => dom_id(q), 'data-id' => q.id) %>
            </th>
          <% end %>
        <% end %>

        <% if current_organization.settings[:visible_surveys_column].nil? || (current_organization.settings[:visible_surveys_column].present? && current_organization.settings[:visible_surveys_column]) %>
          <th class="visible_surveys_column">
        	  <%= t('.surveys') %>
            <%= link_to("(#{t('nav.hide')})", hide_question_column_contacts_path(survey_id: 0, question_id: 'visible_surveys_column'), remote: true, method: :post, class: 'hide', 'data-class' => 'visible_surveys_column') %>
          </th>
      	<% end %>

        <th class='last_survey'>
          <%= sortable(:last_survey, t('.last_survey'), {controller: 'contacts', action: 'filter'}, remote: true, class: 'sort_contact_link') %>
        </th>
        <th class="hidden_questions"><%= link_to "Hidden Questions ▾", "#", id: 'hidden_questions_link' %></th>
      </tr>
      <tbody id="contacts_table">
        <% @people.each do |person| %>
          <%= render 'contacts/contact', person: person, questions: @questions, answers: @answers, assignments: @assignments %>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if @people.blank? %>
    <div class="contentpad no_contacts">
      <%= t('contacts.index.no_contacts') %>
    </div>
	<% end %>

  <%= render 'application/assign' %>
<% end %>

<div class="pagination_space">
  <% if @people.present? %>
    <%= render 'contacts/pagination', people: @people %>
    <%= render 'contacts/pagination_limit' %>
  <% end %>
</div>

<span style="display:none" id="drag_helper_text_one">
  <%= I18n.t('contacts.index.assign_people', count: 1) %>
</span>

<span style="display:none" id="drag_helper_text_other">
  <%= I18n.t('contacts.index.assign_people', count: 0) %>
</span>
