<tr id="all">
	<td colspan="99" id="all_contacts_select_all_option">
		<span id="all_text">
      <% @filtered_people.each do |person| %>
    		<span class="all_row" data-id="<%= person.id %>" data-name="<%= person.first_name %> <%= person.last_name %>" data-email="<%= person.email %>" data-phone-number="<%= person.pretty_phone_number %>">
    		  <%= check_box_tag 'ids[]', person.id, false, 'data-id'=>person.id, 'data-number'=>person.pretty_phone_number, id: "ids_#{person.id}", class: 'id_checkbox contact_checkbox', 'data-name' => "#{person.first_name} #{person.last_name}", style: 'display:none;', 'data-email'=>person.email, 'data-permissions' => @permissions_by_person_id[person.id], 'data-labels'=>"#{person.labels.collect(&:id).join(',')}"%>
    		</span>
      <% end %>

			<%=raw t('people.all.page_selected_html', count: @people.length) %>
			<% if @all_people.length > @people.length %>
			  <a href="#" id="fetch_all_contacts_link">
			    <%=raw t('people.all.select_all_html_mine', count: @all_people.length) %>
			  </a>
			<% end %>
		</span>
		<span id="all_selected_text" style="display:none">
			<%=raw t('people.all.all_selected_html_mine', count: @all_people.length) %>
		</span>
	</td>
</tr>
