<tr id="all">
	<td colspan="99" align="center">
		<span id="all_text">
      <% @filtered_people.each do |person| %>
    		<span class="all_row" data-id="<%= person.id %>" data-name="<%= person.firstName %> <%= person.lastName %>" data-email="<%= person.email %>" data-phone-number="<%= person.pretty_phone_number %>"></span>
      <% end %>
    
			<%=raw t('people.all.page_selected_html', count: @people.length) %>
			<% if @all_people.length > @people.length %>
			  <a href="#" onclick="$('#all_text, #all_selected_text').toggle(); $('.id_checkbox').attr('checked',true);">
			    <%=raw t('people.all.select_all_html_mine', count: @all_people.length) %>
			  </a>
			<% end %>
		</span>
		<span id="all_selected_text" style="display:none">
			<%=raw t('people.all.all_selected_html_mine', count: @all_people.length) %>
		</span>
	</td>
</tr>
