<% contact_role = @roles[person.id] if @roles %>
<tr id="<%= dom_id(person) %>" data-id="<%= person.id %>" class="contact_row" data-name="<%= person.name %>">
  <td nowrap="nowrap" class="checkbox_cell">
    <% if contact_role %>
      <%= image_tag('grippy.png', class: 'handle', 'data-row-id' => dom_id(person), 'data-dnc-url' => organizational_role_path(:id => contact_role.id, :status => 'do_not_contact') ) %>
    <% else %>
      <%= image_tag('grippy.png', class: 'handle' ) %>
    <% end %>
    <%= check_box_tag 'ids[]', person.id, false, id: "ids_#{person.id}", class: 'id_checkbox' %>
  </td>
  <td class="first_name"><%= person.firstName %></td>
  <td class="last_name"><%= person.lastName %></td>
  <% if contact_role %>
    <td><%= contact_role.followup_status.to_s.titleize %></td>
  <% end %>
  <td><%= person.gender.to_s.titleize %></td>
  <td class="phone_number"><%= person.pretty_phone_number %></td>
  <% dates = [] %>
  <% questions.each do |q| %>
    <td class="<%= dom_id(q) %>">
      <% case q.slug %>
      <% when 'email' %>
        <span class="email"><%= mail_to(person.email) %></span>
      <% else %>
        <% if answer = answers[person.id][q.id] %>
          <% date = answer.last %>
          <span title="<%= l(date, format: :date) if date %>" class="tipit"><%= answer.first %></span>
          <% dates << date %>
        <% end %>
      <% end %>
    </td>
  <% end %>
  <% unless params[:dnc] %>
    <td id="assigned_to_<%= person.id %>" class="assigned_to"><%= assigned_to = (assignments[person.id] || []).first.try(:assigned_to) %></td>
    <td>
      <% friends = person.friends_and_leaders(current_organization) %> 
      <% if friends.length > 0 %>
        <% friend_leaders = Person.where(fb_uid: friends).order("lastName, preferredName, firstName") %>
        <%= link_to(friend_leaders.length, '', class: 'friends_count tipthis', title: friend_leaders.collect {|f| "#{f}<br>"} ) %>
      <% else %>
      0
      <% end %>
    </td>
  <% end %>
  <td>
    <% if @surveys && @surveys[person.id] %>
      <% @surveys[person.id].each do |keyword,date| %>
        <span title="<%= l(date, format: :date) if date %>" class="tipit"><%= keyword %></span><br/>
      <% end %>
    <% end %>
  </td>
  <td><%= l(dates.sort.last, :format => :date) if dates.present? %></td>
  <td class="controls">
    <%= link_to(t('nav.view_details'), contact_path(person), :class => "icon magnify tipit", :title => t('nav.view_details')) %>
    <% if params[:dnc] == 'true' %>
      <%= link_to(t('contacts.index.delete_contact'), contact_path(person), :method => :delete, :remote => true, :class => "icon delete tipit", :title => t('contacts.index.delete_contact'), :confirm => t('contacts.index.destroy_confirm')) %>      
    <% else %>
      <% if contact_role %>
        <%= link_to(t('contacts.index.delete_contact'), organizational_role_path(:id => contact_role.id, :status => 'do_not_contact'), :method => :put, :remote => true, :class => "icon delete tipit", :title => t('contacts.index.delete_contact'), :confirm => t('contacts.index.delete_confirm')) %>
      <% end %>
    <% end %>    
    <span class="unassign_link" style="<%= 'display:none' unless assigned_to || params[:dnc] %>">
      <%= link_to(t('contacts.unassign'), contact_assignments_path(ids: person.id), remote: true, method: :post, class: "icon unassign tipit", :title => t('contacts.index.unassign_contact')) %>
    </span>    
  </td>
</tr>
