<%= form_for @person, url: contact_path(@person), method: :put, class: 'form' do |f| %>
  <%= hidden_field_tag :keyword, @keyword.keyword %>
  <%= hidden_field_tag :button, false if mobile_device?%>
  <ul class="rounded jqm">
    <% @keyword.questions.each do |question| %>
      <li><div data-role="fieldcontain" class="field"><%= render 'answer_pages/element', element: question %></div></li>
    <% end %>			
  </ul>
  <div class="actionbarinline">
    <div data-role="fieldcontain"><%= f.submit "Submit" %></div>
  </div>
<% end %>