<h3><%= t('ma.people.index.leaders') %></h3>
<ul>
  <% @organization.leaders.each do |person| %>
    <li><%= link_to(person, people_path(keyword: @keyword.id, assigned_to: person.id)) %> (<%= person.contact_assignments.for_sheet(@question_sheet.id).count %>)</li>
  <% end %>
</ul>

<ul><li><%= link_to(t('ma.people.index.unassigned', :keyword => @keyword.keyword), params.dup.merge!(assigned_to: 'none')) %> (<%= unassigned_people.count %>)</li></ul>
<ul><li><%= link_to(t('ma.people.index.all'), people_path(:keyword => @keyword.id)) %> (<%= Person.who_answered(@question_sheet).count %>)</li></ul>
