<li class="leader <%= 'selected' if params[:assigned_to].to_i == person.id %>" data-id="<%= person.id %>">
  <% if can? :manage, @organization %>
    <%= link_to('x', leader_path(person.id), method: :delete, remote: true, class: 'delete_leader', :confirm => person.organizational_roles.where(organization_id: current_organization.id).count > 1 ? t('.delete_confirm', person: person) : t('.delete_confirm_with_instructions', person: person)) %>
  <% end %>
  <span class="name"><%= link_to(person, contacts_path(assigned_to: person.id)) %></span> (<span class="count"><%= person.contact_assignments.for_org(@organization).count %></span>)
</li>
