<div id="leader_search" style="display:none" title="<%= t('general.add_a_leader') %>">

  <div class="explain">
    <p><%= t('.start_typing') %></p>
  </div>
  
  <div class="modalresults"> 
    <%= form_tag search_leaders_path, :id => 'leader_search_form', :onsubmit => 'return false;' do %>
      <%= hidden_field_tag :show_all %>
      <%= text_field_tag :name, '', :id => 'leader_search_name', :autocomplete => 'off' %>
      <%= spinner('leader_search') %>
    <% end %>
    <div id="leader_search_results">
      
    </div>
    
    <div id="new_leader_form">
      
    </div>
  </div>
</div>