<ul class="leftmenu">
  <li class="heading selected">
    <%= link_to(raw(t('contacts.index.add') + " " + image_tag('add.png')), '#', class: 'add-leader listaction') %>
    <h3><%= t('contacts.index.leaders') %></h3>
  </li>
  <li>
    <ul id="leaders" class="indent">
      <% @organization.leaders.each do |person| %>
        <%= render 'contacts/leader', person: person %>
      <% end %>
    </ul>
  </li>
  <li class="leader unassigned" data-id="">
    <span class="name"><%= link_to(t('contacts.index.unassigned'), contacts_path) %></span> (<span id="unassigned_count" class="count"><%= unassigned_people(@organization).count %></span>)
  </li>
  <li><span class="name"><strong><%= link_to(t('contacts.index.all'), contacts_path(assigned_to: 'all')) %></strong></span> (<%= OrganizationalRole.not_dnc.where(organization_id: @organization.id).count %>)</li>
  <li><span class="name"><strong><%= link_to(t('contacts.index.completed'), contacts_path(completed: true)) %></strong></span> (<%= OrganizationalRole.not_dnc.where(organization_id: @organization.id).count %>)</li>
  <li class="leader dnc"><span class="name"><strong><%= link_to(t('contacts.index.dnc'), contacts_path(dnc: true)) %></strong></span> (<span id="dnc_count" class="count"><%= OrganizationalRole.dnc.where(organization_id: @organization.id).count %></span>)</li>
</ul>
<%= render 'contacts/leader_form' %>