<li  class="leader <%= 'selected' if params[:assigned_to].to_i == person.id %>" data-id="<%= person.id %>">
  <% if can? :manage, @organization %>
    <%= link_to('x', leader_path(person.id), method: :delete, remote: true, class: 'delete_leader', data: { confirm: t('.archive_confirm', person: person) }) %>
  <% end %>


  <% if params[:include_archived] %>
    <span class="name tipitright" title="<%= person %>">
    	<%= link_to(truncate(person.to_s, length: 20, omission: "..."), contacts_path(assigned_to: person.id, include_archived: 'true')) %>
  	</span>
    (<%= person.assigned_contacts_limit_org_with_archived(@organization).collect(&:id).count %>)
  <% else %>
    <span class="name tipitright" title="<%= person %>">
    	<%= link_to(truncate(person.to_s, length: 20, omission: "..."), contacts_path(assigned_to: person.id)) %>
  	</span>
    (<%= person.assigned_contacts_limit_org(@organization).collect(&:id).count %>)
  <% end %>
</li>
