<li class="heading selected">
  <% if can? :create, Person %>
    <%= link_to(raw(t('contacts.index.add') + " " + image_tag('add.png')), '#', class: 'add-leader listaction') %>
  <% end %>
  <h3><%= t('contacts.index.leaders') %></h3>
</li>
<li>
  <ul id="leaders" class="indent expandable" data-height="244">
    <% @display_leaders = @organization.only_leaders %>
    <% @display_leaders.each_with_index do |person,i| %>
      <%=raw "<div id='more_leaders' style='display:none;'>" if i == 6 %>
      <%= render 'contacts/leader', person: person %>
    <% end %>
    <%=raw "</div>" if @display_leaders.size > 7 %>
  </ul>
  <% if @display_leaders.size > 7 %>
    <a href="" class="moredown more_link" data-id="more_leaders">
      <span>
        <strong>+</strong> <%= t('contacts.sidebar.show_more') %>
      </span>
    </a>
  <% end %>
</li>
<li class="leader unassigned" data-id="">
  <% if params[:include_archived] %>
    <span class="name">
      <%= link_to(t('contacts.index.unassigned'), contacts_path(assigned_to: 'unassigned', include_archived: 'true')) %>
    </span>
    (<%= @organization.unassigned_contacts_with_archived.count %>)
  <% else %>
    <span class="name">
      <%= link_to(t('contacts.index.unassigned'), contacts_path(assigned_to: 'unassigned')) %>
    </span>
    (<%= @organization.unassigned_contacts.count %>)
  <% end %>
</li>
<li>
  <% if params[:include_archived] %>
    <span class="name">
      <%= link_to(t('contacts.index.completed'), contacts_path(completed: true, include_archived: 'true')) %>
    </span>
    (<%= @organization.completed_contacts_with_archived.count %>)
  <% else %>
    <span class="name">
      <%= link_to(t('contacts.index.completed'), contacts_path(completed: true)) %>
    </span>
    (<%= @organization.completed_contacts.count %>)
  <% end %>
</li>
<li>
  <% if params[:include_archived] %>
    <span class="name">
      <%= link_to(t('contacts.index.all'), contacts_path(assigned_to: 'all', include_archived: 'true')) %>
    </span>
    (<%= @organization.all_people_with_archived.count %>)
  <% else %>
    <span class="name">
      <%= link_to(t('contacts.index.all'), contacts_path(assigned_to: 'all')) %>
    </span>
    (<%= @organization.all_people.count %>)
  <% end %>
  <% if current_organization.people.archived(current_organization.id).count > 0 %>
  <div id="include_archived_div">
    <%= t('people.index.include_archived') %>
    <%= check_box_tag 'include_archived', t('people.index.include_archived'), params[:include_archived] %>
    <div class="icon help tipitright help_bubble_keyword" title="<%= t('people.index.include_archived_tips') %>"></div>
  </div>
  <% end %>
</li>
