
<ul class="pillmenu">
  <li><%= link_to(t('contacts.add_contact'), "", class: 'add_contact', id: 'contacts_add_button') %></li>
</ul>

<% if can? :manage, current_organization %>
  <ul class="pillmenu">
    <li><%= link_to(t('contacts.index.import_contacts'), new_import_path) %></li>
  </ul>
<% end %>

<ul class='divider'></ul>
<%= render partial: 'shared/bulk_update_labels' %>

<ul class="pillmenu control_toggle">
  <li><%= link_to(t('contacts.assign'), "", class: 'assign') %></li>
</ul>

<ul class='divider'></ul>

<ul class="pillmenu control_toggle">
  <li><%= link_to(t('people.index.send_email'), nil, :id => "send_bulkemail_link_new") %></li>
</ul>

<ul class="pillmenu control_toggle">
  <li><%= link_to(t('people.index.send_sms'), nil, :id => "send_bulksms_link_new") %></li>
</ul>

<ul class="pillmenu control_toggle">
  <li><%= link_to(t('people.index.sent_messages'), nil, :id => "sent_messages_link") %></li>
</ul>

<ul class='divider'></ul>

<ul class="pillmenu">
  <li><%= link_to(t('contacts.index.filter'), '#', class: 'filter_link') %></li>
</ul>

<ul class="pillmenu control_toggle">
  <li>
    <%= link_to('More ▾', '#', class: 'action_dropdown') %>
    <ul style="display:none">
      <% if can? :manage, current_organization %>
        <li><%= link_to(t('people.index.merge_contacts'), "", id: "merge_people") %></li>
      <% end %>
      <li><%= link_to(t('people.index.export'), params.merge(format: 'csv'), id: 'bulk_export_link') %></li>
      <li><%= link_to(t('people.index.vcard'), '', id: 'bulk_vcard_link' ) %></li>
      <% if can? :manage, current_organization %>
        <li><%= link_to(t('general.delete'), bulk_delete_people_path, id: "bulk_delete") %></li>
        <li><%= link_to(t('general.archive'), bulk_archive_people_path, id: "bulk_archive") %></li>
        <li><%= link_to(t('general.transfer'), '', id: "transfer_to_org_link") %></li>
      <% end %>
    </ul>
  </li>
</ul>

<% if params[:dnc] == 'true' %>
  <ul class="pillmenu">
    <li><%= link_to(t('.bulk_delete'), bulk_destroy_contacts_path, id: "bulk_delete") %></li>
  </ul>
<% end %>

<%= render 'search' %>

<div id="hidden_questions_div" style="display:none">
  <div id="hidden_questions_loader">
    <%= image_tag 'loader.gif'%><br/>Fetching Questions...
  </div>
  <div id="hidden_questions_content"></div>
</div>
