<% permissions = person.assigned_organizational_permissions(current_organization.id).arrange_all %>
<% contact_permission = person.contact_permission_for_org(current_organization) %>
<tr id="<%= dom_id(person) %>" data-id="<%= person.id %>" class="contact_row <%= extra if defined?(extra) %>" data-name="<%= person.name %>" data-email="<%= person.email %>">
	<td class="handle_container">
    <% if contact_permission %>
      <%= image_tag('grippy.png', class: 'handle', 'data-row-id' => dom_id(person), 'data-id' => person.id, 'data-dnc-url' => organizational_permission_path(:id => contact_permission.id, :status => 'do_not_contact') ) %>
    <% else %>
      <%= image_tag('grippy.png', class: 'handle' ) %>
    <% end %>
	</td>
  <td nowrap="nowrap" class="checkbox_cell">
    <%= check_box_tag 'ids[]', person.id, false, 'data-id'=>person.id, 'data-number'=>person.pretty_phone_number, id: "ids_#{person.id}", class: 'id_checkbox contact_checkbox my_contact_checkbox', 'data-name' => "#{person.first_name} #{person.last_name}", 'data-email'=>person.email, 'data-permissions' => "#{permissions.collect(&:id).join(',')}"%>
  </td>
  <td class="firstName"><%= person.first_name %></td>
  <td class="lastName"><%= person.last_name %></td>
  <td class="phone_number"><%= person.pretty_phone_number %></td>
  <td><%= person.email %></td>
  <td>
    <div id="permissions_user_<%= person.id %>" class="permissions_spaces">
      <% permissions.each do |permission| %>
        <% unless person.is_permission_archived?(current_organization.id, permission.id) %>
          <span id="<%= person.id%>_<%= permission.id %>" class="permission_label permission_<%= permission.id %>"><%= permission %></span>
        <% else %>
          <span id="<%= person.id%>_<%= permission.id %>" class="permission_label_archived permission_<%= permission.id %>"><%= permission %></span>
        <% end %>
      <% end %>
    </div>
  </td>
  <td><%= person.year_in_school.present? ? person.year_in_school : "&nbsp;".html_safe %></td>
  <td class="controls">
    <%= link_to(t('contacts.unassign'), contact_assignments_path(ids: person.id), remote: true, method: :post, class: "icon unassign mineunassign tipit", :title => "#{t('contacts.index.unassign_contact')} from you") %>
    <%= link_to(t('nav.view_details'), person_path(person), :class => "icon magnify tipit", :title => t('nav.view_details')) %>
    <% if contact_permission %>
      <%= link_to(t('contacts.index.delete_contact'), organizational_permission_path(:id => contact_permission.id, :status => 'do_not_contact'), :method => :put, :remote => true, :class => "icon delete tipit", :title => t('contacts.index.delete_contact'), data: { confirm: t('contacts.index.delete_confirm') }) %>
    <% end %>
  </td>
</tr>


