<%= form_tag contacts_path, method: :get do %>
  <%= hidden_field_tag :search_type, "basic" %>
  <% if params[:include_archived].present? %>
    <%= hidden_field_tag :include_archived, true %>
  <% end %>
  <%= text_field_tag :query, params[:query], placeholder: t('people.search.search_placeholder'), autocomplete: 'off', id: 'search_autocomplete_field', class: 'search-autocomplete-field' %>
<% end %>
<div id="advanced_search_actions">
  <div id="advanced_search_right_container">
    <div id="search_locate_button_container">
      <% if can? :manage_locate_contact, current_organization %>
      <span><%= link_to(t('general.contact_location'), '#', class: '', id: 'locate_contact') %></span>
      <% else %>
      &nbsp;
      <% end %>
    </div>
  </div>
</div>
