<div id="filter_box" style="<%= @style %>">
  <%= form_tag params, method: :get, id: 'contact_search_form' do %>
    <%= hidden_field_tag :completed, params[:completed] if params[:completed].present? %>
    <%= hidden_field_tag :do_search, 1 %>
    <%= hidden_field_tag :assigned_to, params[:assigned_to] if params[:assigned_to].present? %>
    <div class="ononeline">
      <div class="field">
        <label for="first_name"><span class="title"><%= t('.first_name') %></span></label> 
        <%= text_field_tag :first_name, params[:first_name] %><br>
      </div>
      <div class="field">
        <label for="last_name"><span class="title"><%= t('.last_name') %></span></label>
        <%= text_field_tag :last_name, params[:last_name] %><br>
      </div>
      <div class="field">
        <label for="last_name"><span class="title"><%= t('.phone_number') %></span></label>
        <%= text_field_tag :phone_number, params[:phone_number] %><br>
      </div>
      <div class="field">
        <label for="gender"><span class="title"><%= t('general.email') %></span></label>
        <%= text_field_tag :email, params[:email] %><br>
      </div>
      <div class="field">
        <label for="gender"><span class="title"><%= t('general.gender') %></span></label>
        <%= radio_button_tag :gender, '1', params[:gender] == '1' %> <%= t('general.male') %>
        <%= radio_button_tag :gender, '0', params[:gender] == '0' %> <%= t('general.female') %>
        <%= radio_button_tag :gender, '', params[:gender] == '' %> <%= t('general.both') %><br>
      </div>
      <div class="field">
       <label for="contacts_updated"><span class="title"><%= t('general.contacts_updated_from') %></span></label>
       <%= text_field_tag :person_updated_from %>
        <%= t('general.dash') %>
       <%= text_field_tag :person_updated_to %>
      </div>
      <br/>
      <div class="field">
        <label for="status"><span class="title"><%= t('general.status') %></span></label>
        <%= select_tag :status, options_for_select(OrganizationalRole::FOLLOWUP_STATUSES.collect {|s| [s.titleize, s]}, params[:status]), include_blank: true %><br>
      </div>
      <div class="field">
        <label for="survey"><span class="title"><%= t('general.survey') %></span></label>
        <%= select_tag :survey, options_for_select(current_organization.surveys.order(:title).collect {|s| [s, s.id]}, params[:survey]), include_blank: true %><br>
      </div>
      <div class="field">
        <label for="role"><span class="title"><%= t('general.role') %></span></label>
        <%= select_tag :role, options_for_select((current_organization.roles.default_roles_desc + current_organization.roles.non_default_roles_asc).collect {|s| [s.name, s.id]}, params[:role]), include_blank: true %><br>
      </div>
    </div>
    <!-- Email: <%#= text_field_tag :email, params[:email] %> -->
    <div class="q1b">
      <% @questions.each_with_index do |q, i| %>
        <% if i == (@questions.length / 2.0).ceil %>
          </div><div class="q2b">
        <% end %>
        <div class="field userdefinied">
          <span class="title"><%= q.label %></span>
          <% if q.style == 'radio' %>
            <div class="field field_radio">
              <input type="radio" value="" name="answers[<%= q.id %>]" class="radio ">
              <label class="choice"></label>
            </div>
          <% end %>
          <%= render :partial => 'survey/' + q.ptemplate, :object => q, :locals => {:col => nil, :answer_sheet => @answer_sheet} %>
        </div>
      <% end %>
    </div>
    <div class="actionbarinline">
      <table>
        <tr>
          <td>
          <%= submit_tag t('general.search') %>
          </td>
          <td>
          <% if params[:search] == "1" && @people.length > 0 %>
            <%= button_to "Save Search","", :id=>"savesearchbtn" %>
            <div id="savesearchbox" style="display:none" title="<%= t('contacts.index.save_this_search') %>" >
              <%= form_for(@saved_contact_search, html: {id: 'save_search_form'}) do |f| %>
                <%= hidden_field_tag 'saved_contact_search[user_id]', @person.user.id %>
                <%= hidden_field_tag 'saved_contact_search[full_path]', request.fullpath %>
                <%= hidden_field_tag 'saved_contact_search[organization_id]', @organization.id %>
                <%= hidden_field_tag :id, @saved_contact_search.id %>
                <%= f.text_field :name, :placeholder => t('contacts.index.save_this_search_placeholder') %>
              <% end %>
            </div>

          <% end %>
          </td>
        </tr>
      </table>
      <%#= link_to t('.clear_search_form'), '', onclick: "$('form').clearForm(); return false;" %>
    </div>
  <% end %>


</div>
