<div class="title"><%= t('dialogs.advanced_search.search_filter.contact_data.title') %></div>
<div class="fields">
  <div class="field">
    <div class="search_filter_options" style="display:<%= params[:gender].present? && params[:advanced_search].present? ? 'block' : 'none'%>">
      <div class="search_filter_option">
        <%= link_to image_tag("reset_button.png"), "#", class: "reset_search tip checkbox_search", title: "Reset Search", data: {value: (params[:gender] || "").split(",").join(","), id: "gender"} %>
      </div>
    </div>
    <div class="field_title">
      <span class="arrow">
        <%=raw params[:gender].present? && params[:advanced_search].present? ? "&#x25BC;" : "&#x25B6;"%>
      </span>
      <span class="text"><%= t('dialogs.advanced_search.search_filter.contact_data.gender') %></span>
    </div>
    <div class="field_element <%= 'active' if params[:gender].present? && params[:advanced_search].present? %>">
      <div class="field_option">
        <%= check_box_tag "gender[]", '1', params[:gender].present? && params[:gender].include?('1'), class: "gender_checkbox" %>
        <%= t('general.male') %>
      </div>
      <div class="field_option">
        <%= check_box_tag "gender[]", '0', params[:gender].present? && params[:gender].include?('0'), class: "gender_checkbox" %>
        <%= t('general.female') %>
      </div>
      <div class="field_option">
        <%= check_box_tag "gender[]", 'no_response', params[:gender].present? && params[:gender].include?('no_response'), class: "gender_checkbox" %>
        No Response
      </div>
    </div>
  </div>
  <div class="field">
    <div class="search_filter_options" style="display:<%= params[:faculty].present? && params[:advanced_search].present? ? 'block' : 'none'%>">
      <div class="search_filter_option">
        <%= link_to image_tag("reset_button.png"), "#", class: "reset_search tip checkbox_search", title: "Reset Search", data: {value: (params[:faculty] || "").split(",").join(","), id: "faculty"} %>
      </div>
    </div>
    <div class="field_title">
      <span class="arrow">
        <%=raw params[:faculty].present? && params[:advanced_search].present? ? "&#x25BC;" : "&#x25B6;"%>
      </span>
      <span class="text"><%= t('dialogs.advanced_search.search_filter.contact_data.faculty') %></span>
    </div>
    <div class="field_element <%= 'active' if params[:faculty].present? && params[:advanced_search].present? %>">
      <div class="field_option">
        <%= check_box_tag "faculty[]", '1', params[:faculty].present? && params[:faculty].include?('1'), class: "faculty_checkbox" %>
        Yes
      </div>
      <div class="field_option">
        <%= check_box_tag "faculty[]", '0', params[:faculty].present? && params[:faculty].include?('0'), class: "faculty_checkbox" %>
        No
      </div>
    </div>
  </div>
  <div class="field">
    <%- params[:assignment] = '1' if params[:assigned_to].present? %>
    <div class="search_filter_options" style="display:<%= params[:assignment].present? && params[:advanced_search].present? ? 'block' : 'none'%>">
      <div class="search_filter_option">
        <%= link_to image_tag("reset_button.png"), "#", class: "reset_search tip checkbox_search", title: "Reset Search", data: {value: (params[:assignment] || "").split(",").join(","), id: "assignment"} %>
      </div>
    </div>
    <div class="field_title">
      <span class="arrow">
        <%=raw params[:assignment].present? && params[:advanced_search].present? ? "&#x25BC;" : "&#x25B6;"%>
      </span>
      <span class="text"><%= t('dialogs.advanced_search.search_filter.contact_data.assigned') %></span>
    </div>
    <div class="field_element <%= 'active' if params[:assignment].present? && params[:advanced_search].present? %>">
      <div class="field_option">
        <%= check_box_tag "assignment[]", '1', params[:assignment].present? && params[:assignment].include?('1'), class: "assignment_checkbox" %>
        Yes
      </div>
      <div class="field_option">
        <%= check_box_tag "assignment[]", '0', params[:assignment].present? && params[:assignment].include?('0'), class: "assignment_checkbox" %>
        No
      </div>
    </div>
  </div>
  <div class="field">
    <div class="search_filter_options" style="display:<%= params[:status].present? && params[:advanced_search].present? ? 'block' : 'none'%>">
      <div class="search_filter_option">
        <%= link_to image_tag("reset_button.png"), "#", class: "reset_search tip checkbox_search", title: "Reset Search", data: {value: (params[:status] || "").split(",").join(","), id: "status"} %>
      </div>
    </div>
    <div class="field_title">
      <span class="arrow">
        <%=raw params[:status].present? && params[:advanced_search].present? ? "&#x25BC;" : "&#x25B6;"%>
      </span>
      <span class="text"><%= t('dialogs.advanced_search.search_filter.contact_data.status') %></span>
    </div>
    <div class="field_element <%= 'active' if params[:status].present? && params[:advanced_search].present? %>">
      <% condition = params[:status].present? && params[:advanced_search].present? %>
			<% OrganizationalPermission::FOLLOWUP_STATUSES.each do |status| %>
				<div class="field_row">
					<%= check_box_tag "status[]", status, condition && params[:status].include?(status.to_s), id: "search_status_#{status}", class: "search_status_checkbox status_checkbox" %>
					<%= status.titleize %>
				</div>
			<% end %>
    </div>
  </div>
</div>