<% provide :sidebar do %>
  <div id="ac_sidebar">
    <div id="upper_sidebar_lists">
    	<button class="red_accent full_width_button" id="allcontacts_add_contact_button">Add a Contact</button>
      <%= link_to raw("<button class='action_gray full_width_button' id='allcontacts_import_contacts_button'>#{t('contacts.index.import_contacts')}</button>"), new_import_path %>
      <%= link_to(raw("<button class='action_gray full_width_button'>#{t('nav.my_contacts')}</button>"), all_contacts_path(assigned_to: current_person.id, advanced_search: 1)) %>
    </div>
  	<div id="sidebar_lists" class="leftmenu">
      <%= render partial: 'search/sidebar' %>
    </div>
  </div>
<% end %>

<div class="titlebar titlebarmod">
  <h1>
    <%= t('.title') %>
    <%= "#{'-' if @header.present?} #{@header}" %>
    <div id='global_loader' style='' class='filter_loader'>
      <%= image_tag 'loader.gif', height: '20'%>
      <span class='msg'>Loading Contacts</span>
    </div>
  </h1>
</div>

<div id="ac_contact_spread">
  <div id="ac_pagination_top">
    <%= render 'contacts/pagination', people: @people, type: "remote" %>
  </div>
  <div id="ac_button_bar">
  	<ul class="button_bar" id="menu_change_link">
  		<li class="action_lightblue">
  		  <%= link_to "Change", "#", id: "action_menu_change"%>
  		</li>
  	</ul>
  	<ul class="button_bar">
  		<li class="action_lightblue btn_left">
  		  <%= link_to "Permissions", "#", id: "action_menu_permissions" %>
  		</li>
  	</ul>
  	<ul class="button_bar">
  		<li class="action_lightblue btn_right">
  		  <%= link_to "Labels", "#", id: "action_menu_labels"%>
  		</li>
  	</ul>
  	<ul class="button_bar">
  		<li class="action_lightblue btn_left">
  		  <%= link_to t("people.index.send_sms"), "#", id: "action_menu_text", "data-current-user" => current_user %>
  		</li>
  	</ul>
  	<ul class="button_bar">
  		<li class="action_lightblue btn_right">
  		  <%= link_to t("people.index.send_email"), "#", id: "action_menu_email" %>
  		</li>
  	</ul>

  	<ul class="button_bar">
  		<li class="action_lightblue">
        <%= link_to(t('people.index.export_options') + ' ▾', '#', class: 'action_dropdown') %>
        <ul style="display:none" id="all_contacts_export_menu">
          <li>
            <%= form_tag export_csv_contacts_path(params: params.except(:advanced_search, :action, :controller).merge(format: "csv")), id: 'bulk_export_link_form', method: :post do %>
              <%= hidden_field_tag :only_ids, "", id: "bulk_export_only_ids" %>
            <% end %>
            <%= link_to(t('people.index.export'), "#", id: 'bulk_export_link') %>
            <span class="icon help tipitright help_bubble_keyword" title="<%= t('general.export_csv_help') %>"></span>
          </li>
          <li id='bulk_vcard_link'>
            <%= link_to(t('people.index.vcard'), '') %>
            <span class="icon help tipitright help_bubble_keyword" title="<%= t('general.export_vcard_help') %>"></span>
          </li>
        </ul>
      </li>
  	</ul>
  	<ul class="button_bar">
  		<li class="action_lightblue">
        <%= link_to('More ▾', '#', class: 'action_dropdown') %>
        <ul style="display:none" id="all_contacts_more_menu">
          <% if can? :manage, current_organization %>
            <li><%= link_to(t('people.index.merge_contacts'), "", id: "merge_people") %></li>
          <% end %>
          <% if can? :manage, current_organization %>
            <li><%= link_to(t('general.delete'), bulk_delete_people_path, id: "bulk_delete") %></li>
            <li><%= link_to(t('general.archive'), bulk_archive_people_path, id: "bulk_archive") %></li>
            <li><%= link_to(t('general.transfer'), '', id: "transfer_to_org_link") %></li>
          <% end %>
          <li><%= link_to(t('people.index.sent_messages'), "#", :id => "new_sent_messages_link") %></li>
        </ul>
      </li>
  	</ul>
  </div>

  <%= form_tag("", :id => "move_to_dnc", :method => :put) do %>
    <%= hidden_field_tag :status, "do_not_contact" %>
  <% end %>

  <div id="ac_contact_list">
    <%= render partial: 'contacts/contact_list' %>
  </div>
</div>

<!-- Add Contact Dialog -->
<%= render 'dialogs/add_contact', person: Person.new %>

<!-- Message Dialog -->
<%= render 'dialogs/bulk_send_msg' %>

<!-- Sent Messages Dialog -->
<%= render 'dialogs/sent_messages' %>

<!-- Hidden Questions Dialog -->
<%= render 'dialogs/dialog_hidden_questions' %>

<!-- Labels Dialog -->
<%= render 'dialogs/dialog_labels' %>

<!-- Permissions Dialog -->
<%= render 'dialogs/dialog_permissions' %>

<!-- Search Filters Dialog -->
<%= render 'dialogs/search_people_filters' %>

<!-- Advanced Search Dialog -->
<%# render 'dialogs/advanced_search' %>

<!-- Show Hidden Question Dialog -->
<%= render 'dialogs/search_hidden_questions'%>

<!-- Transfer to Org Dialog -->
<%= render 'dialogs/dialog_transfer_to_org' %>

<!-- Send Vcard Dialog -->
<%= render 'dialogs/bulk_send_vcard' %>

<!-- Saved Contact Search Dialog -->
<%= render 'dialogs/saved_contact_search' %>

<!-- Existing Contacts Dialog -->
<%= render 'dialogs/add_existing_contact' %>

<!-- Batch Change Info Dialog -->
<%= render 'dialogs/bulk_change_info' %>