<% provide :sidebar do %>
  <%= render 'contacts/leaders' %>
<% end %>

<div class="titlebar">  
  <h1>
    <%= image_tag("c_allcontacts.png") %>
    <%= t('contacts.index.import_contacts') %>
  </h1>
</div>

<div class="pad">

  
  <h3>Instructions</h3>
  <p>You can easily import hundreds of contacts at one time by simply uploading a CSV (Comma Seperated) file. Microsoft Excel makes it easy to create a CSV file.</p>
  
  <p>All you need to do is a create a spreadsheet that looks like the sample below.<p>
 
   <%= image_tag("sample_csv_to_be_imported.png", :width => "95%") %>
   <%# image_tag("sample_csv_to_be_imported_surveys.png") %>
  
  <ol class="instructions">
    <li><span class="name"><strong><%= link_to(t('contacts.import_contacts.template_sample_csv'), download_sample_contacts_csv_contacts_path, :class => "icon showtext csv") %></strong> to get started</span>
    <li>In your first row list the headings like it shows here: <strong>FIRST NAME, LAST NAME, STATUS, GENDER, WHAT IS YOUR EMAIL ADDRESS?, PHONE NUMBER, ADDRESS 1, ADDRESS 2, CITY, STATE, COUNTRY, ZIP.</strong>The order of the columns does not matter nor the inclusion of all the said headings.</li>
    <li>Header names (as enumerated above) must be strictly followed. Mispelled header names will cause an error.</li>
    <li>In the rows following the headings, just enter your contacts information. One thing to remember is that <strong>First Name and email is required</strong>.</li>
    <!-- <li><strong>Surveys</strong> come after the <strong>"ZIP"</strong> column. Choices, if provided, for the question are enclosed in parentheses. <strong>Multiple answers</strong>, with <strong>'choose one or more'</strong>, must be separated with '<strong>,</strong>'</li> -->
    <li>In Excel, go to <strong>Save As</strong></li>
    <li>From the drop down menu for <strong>File Type</strong>, choose <strong>CSV, Comma Separated</strong></li>
  </ol>
  
 
  
  
  <ul style="display: none;">
    <li><%= t('contacts.import_contacts.instruction_4') %></li>
    <li><%= t('contacts.import_contacts.instruction_1') %></li>
    <li><%= t('contacts.import_contacts.instruction_2') %></li>
    <li><%= t('contacts.import_contacts.instruction_3') %></li>
  </ul>
  <br/>

  <div class="uploadfiles">
    <h3>Upload Files</h3>
    <%= form_for :dump, :url=>{ :controller=>"contacts", :action=>"csv_import"}, :html => { :multipart => true } do |f| %>
  
      
    <%= f.file_field :file, :class=> "fileinput" %><br/>
    <%= submit_tag 'Submit', :value=>"Import Contact" %>
  </div>
  
</div>

<% end %>
