<% provide :sidebar do %>
  <%= render 'contacts/leaders' %>
<% end %>

<%= render 'shared/bulk_vcard_dialog' %>  
<%= render 'shared/bulk_send_form' %>

<div class="titlebar">  
  <h1>
    <%= image_tag("c_allcontacts.png") %>
    <%= t('.all_responses') %>
    <%= "- #{@header}" %>
    <%= link_to(t('.show_all'), contacts_path(assigned_to: 'all'), :class => "headerlink") if @assigned_to %>
  </h1>
</div>

<div class="pagemenu">
  
  <ul class="pillmenu">
    <li><%= link_to(t('contacts.add_contact'), "", class: 'add_contact', id: 'contacts_add_button') %></li>
  </ul>
  
  <% if can? :manage, current_organization %>
    <ul class="pillmenu">
      <li><%= link_to(t('contacts.index.import_contacts'), new_import_path) %></li>
    </ul>
  <% end %>
  
  <ul class='divider'></ul>

  <% if (can? :manage, current_organization) || (can? :lead, current_organization) %>
    <ul class="pillmenu">
      <li>
        <%= link_to(t('nav.roles'), '#', class: 'action_dropdown') %>  
        <ul style="display:none; width:235px;" id='label_menu'>
          <li>
            <% (current_organization.roles.default_roles_desc + current_organization.roles.non_default_roles_asc).each do |role| %>
              <div class="role_div_checkbox">
                <span>
                  <%= check_box_tag 'role_ids[]', role.id, false, id: "role_ids_#{role.id}", class: 'role_id_checkbox', :hidden => !can?(:manage, current_organization) && role.id == Role::ADMIN_ID ? true : false %> 
                  <span><%= role %></span>
                  <% if role.name == 'Admin' %>
                    <% role_help = "Access to all options within this specific organization including editing the organization, assigning other Admins, and modifying keywords and surveys." %>
                  <% elsif role.name == 'Leader' %>
                    <% role_help = "Access to all non-Admin features including viewing, modifying and assigning contacts." %>
                  <% elsif role.name == 'Involved' %>
                    <% role_help = "Currently no access but are displayed in Directory." %>
                  <% elsif role.name == 'Alumni' %>
                    <% role_help = "Currently no access but are displayed in Directory." %>
                  <% elsif role.name == 'Contact' %>
                    <% role_help = "No Access. Displayed on the All Contacts and Directory screen." %>
                  <% end %>
                  
                  <% if role_help.present? %>
                    <div class="icon help tipit help_bubble_keyword" title="<%=role_help%>"></div>
                  <% end%>
                </span>
              </div>
            <% end %>
            <div class="role_actions">
              <%= link_to(t('.apply_roles'), '#', :class => 'greybox', :id => 'apply_roles') %>
              <%= link_to(t('.manage_roles'), roles_path(organization: current_organization), :class => 'greybox') %>
            </div>
            <div id="apply_roles_spinner"><%= image_tag('spinner.gif') %></div>
            <div id="apply_roles_successful"></div>
          </li>
        </ul>
      </li>
    </ul>
  <% end %>
  
  <ul class="pillmenu control_toggle">
    <li><%= link_to(t('contacts.assign'), "", class: 'assign') %></li>
  </ul>
  <ul class='divider'></ul>
  
  <ul class="pillmenu control_toggle">
    <li><%= link_to(t('people.index.send_email'), nil, :id => "send_bulkemail_link") %></li>
  </ul>
  
  <ul class="pillmenu control_toggle">
    <li><%= link_to(t('people.index.send_sms'), nil, :id => "send_bulksms_link") %></li>	
  </ul>
  
  <ul class='divider'></ul>
  
  <ul class="pillmenu">
    <li><%= link_to(t('.filter'), '#', id: 'filter_link') %></li>
  </ul>
  
  <ul class="pillmenu control_toggle">
    <li>
      <%= link_to('More', '#', class: 'action_dropdown') %>
      <ul style="display:none">
        <li><%= link_to(t('.merge_people'), "", id: "merge_people") %></li>
        <li><%= link_to(t('.export'), params.merge(format: 'csv')) %></li>
        <li><%= link_to(t('.vcard'), '', id: 'bulk_vcard_link' ) %></li>
        <li><%= link_to(t('general.delete'), bulk_delete_people_path, id: "bulk_delete") %></li>
        <li><%= link_to(t('general.archive'), bulk_archive_people_path, id: "bulk_archive") %></li>
      </ul>
    </li>
  </ul>
  
  
  <ul class="pillmenu">
    <li><%= link_to(t('.hidden_questions'), '#', id: 'hidden_questions_link') %></li>
  </ul>
  
  <% if params[:dnc] == 'true' %>
    <ul class="pillmenu">
      <li><%= link_to(t('.bulk_delete'), bulk_destroy_contacts_path, id: "bulk_delete") %></li>
    </ul>  
  <% end %>
  
  <div id="hidden_questions_div" style="display:none">
    <%= t('.add_question_back') %>
    <ul id="hidden_questions">
      <%= render partial: 'contacts/hidden_question', collection: @hidden_questions %>
    </ul>
  </div>
  
  <%= render 'search' %>

</div>

<%= form_tag("", :id => "move_to_dnc", :method => :put) do %>
  <%= hidden_field_tag :status, "do_not_contact" %>
<% end %>
  
<span style="display:none" id="drag_helper_text_one"><%= I18n.t('contacts.index.assign_people', count: 1) %></span>
<span style="display:none" id="drag_helper_text_other"><%= I18n.t('contacts.index.assign_people', count: 0) %></span>
<%= form_for ContactAssignment.new do |f| %>
  <%= hidden_field_tag :assigned_to, params[:assigned_to] %>
  <%= hidden_field_tag :assign_to %>
  <table class="listing" cellpadding="0" cellspacing="0">
    <tr>
      <th class="checkbox_cell"><%= check_box_tag 'check_all', true, false, 'data-target' => '#new_contact_assignment', class: 'check_all_contacts', 'data-status' => @attr %></th>
      <th><%= sort_link @q, :firstName, t('.first_name'), params %></th>
      <th><%= sort_link @q, :lastName, t('.last_name'), params %></th>
      <th><%= sort_link @q, :followup_status, t('general.status'), params %></th>
      <th><%= sort_link @q, :gender, t('general.gender'), params %></th>
      <th><%= sort_link @q, 'phone_numbers.number', t('.phone_number'), params %></th>
      <th><%= sort_link @q, 'role_id', t('nav.roles'), params %></th>
      <% @questions.each do |q| %>
        <th class="<%= dom_id(q) %>">
          <%= q.slug.present? ? q.slug : q.label %>
          <%= link_to("(#{t('nav.hide')})", hide_survey_question_path(@organization.surveys.first, q), remote: true, method: :put, class: 'hide', 'data-class' => dom_id(q)) %>
        </th>
      <% end %>
      <th><%= t('.surveys') %></th>
      <th><%= sort_link @q, 'MAX(mh_answer_sheets.updated_at)', t('.last_survey'), params %></th>
      <th></th>
    </tr>
    <tbody id="contacts_table">
      <% @people.each do |person| %>
        <%= render 'contacts/contact', person: person, questions: @questions, answers: @answers, assignments: @assignments %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @people %>
  <% if @people.blank? %>
    <div class="contentpad no_contacts">
      <%= t('.no_contacts') %>
    </div>
  <% end %>
  <%= render 'assign' %>
<% end %>

  
<% if @people.length > 0 %>
  <div class="searchstat">
    <%= "Displaying #{@people.offset_value + 1} - #{@people.offset_value + @people.length} of #{@people.total_count}" %>
  </div>
<% end %>

<div id="add_contact_div" style="display:none" title="<%= t('.add_contact') %>" class="fingerme">
  <%= render 'add_contact', person: Person.new %>
</div>
<input type="button" value="Show Message Guide" id="show_message_guide_button" style="display:none">
<div id="send_message_guide" style="display:none">
  <%= render 'shared/send_message_guide' %>
</div>
