<% provide :sidebar do %>
  <%= render 'contacts/leaders' %>
<% end %>

<%= render 'shared/bulk_vcard_dialog' %>  
<%= render 'shared/bulk_send_form' %>
<%= render 'shared/bulk_send_msg' %>

<div class="titlebar">  
  <h1>
    <%= image_tag("c_allcontacts.png") %>
    <%= t('.all_responses') %>
    <%= "#{'-' if @header.present?} #{@header}" %>
    <div id='global_loader'>
      <%= image_tag 'loader.gif'%>
    </div>
  </h1>
</div>

<div class="pagemenu">
  <%= render partial: 'menu' %>
</div>

<%= form_tag("", :id => "move_to_dnc", :method => :put) do %>
  <%= hidden_field_tag :status, "do_not_contact" %>
<% end %>
  
<span style="display:none" id="drag_helper_text_one"><%= I18n.t('contacts.index.assign_people', count: 1) %></span>
<span style="display:none" id="drag_helper_text_other"><%= I18n.t('contacts.index.assign_people', count: 0) %></span>
<%= form_for ContactAssignment.new do |f| %>
  <%= hidden_field_tag :assigned_to, params[:assigned_to] %>
  <%= hidden_field_tag :assign_to %>
  <table class="listing" cellpadding="0" cellspacing="0">
    <tr id="table_header">
      <th class="checkbox_cell"><%= check_box_tag 'check_all_contacts', true, false, 'data-target' => '#new_contact_assignment', class: 'check_all_contacts', 'data-status' => @attr %></th>
      <th><%= sort_link @q, :first_name, t('.first_name'), params %></th>
      <th><%= sort_link @q, :last_name, t('.last_name'), params %></th>
      <th><%= sort_link @q, :followup_status, t('general.status'), params %></th>
      <th><%= sort_link @q, :gender, t('general.gender'), params %></th>
      <th style='min-width:100px;'><%= sort_link @q, 'phone_numbers.number', t('.phone_number'), params %></th>
      <th><%= sort_link @q, 'role_id', t('nav.roles'), params %></th>
      <% @questions.each do |q| %>
        <th class="<%= dom_id(q) %>">
          <%= q.slug.present? ? q.slug : q.label %>
          <%= link_to("(#{t('nav.hide')})", hide_survey_question_path(@organization.surveys.first, q), remote: true, method: :put, class: 'hide', 'data-class' => dom_id(q)) %>
        </th>
      <% end %>
      <th><%= t('.surveys') %></th>
      <th><%= sort_link @q, 'MAX(answer_sheets.updated_at)', t('.last_survey'), params %></th>
      <th class="hidden_questions"><%= link_to "Hidden Questions ▾", "#", id: 'hidden_questions_link' %></th>
    </tr>
    <tbody id="contacts_table">
      <% @people.each do |person| %>
        <%= render 'contacts/contact', person: person, questions: @questions, answers: @answers, assignments: @assignments %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @people %>
  <% if @people.blank? %>
    <div class="contentpad no_contacts">
      <%= t('.no_contacts') %>
    </div>
  <% end %>
  <%= render 'assign' %>
<% end %>

  
<% if @people.length > 0 %>
  <div class="searchstat">
    <%= "Displaying #{@people.offset_value + 1} - #{@people.offset_value + @people.length} of #{@people.total_count}" %>
  </div>
<% end %>
<div id="add_contact_div" style="display:none" title="<%= t('.add_contact') %>" class="fingerme">
  <%= render 'add_contact', person: Person.new %>
</div>
<%- unless current_user.settings[:hide_update_notice] == true %>
  <div id="update_notice_div">
    <%= render partial: 'update_notice' %>
  </div>
<%- end %>
<input type="button" value="Show Message Guide" id="show_message_guide_button" style="display:none">
<div id="send_message_guide" style="display:none">
  <%= render 'shared/send_message_guide' %>
</div>

