<% provide :sidebar do %>
  <%= render 'contacts/leaders' %>
<% end %>

<div class="titlebar">  
  <h1>
    <%= image_tag("c_allcontacts.png") %>
    <% case params[:assigned_to] %>
    <% when 'all' %>
      <%= t('.all_responses') %>
    <% when 'progress' %>
      <%= t('.in_progress_responses') %>
    <% when 'friends' %>
      <%= t('.friend_responses') %>
    <% else %>
      <% if @assigned_to.present? %>
        <%= t('.responses_assigned_to', assigned_to: @assigned_to) %>
        <%= link_to(t('.show_all'), contacts_path(assigned_to: 'all'), :class => "headerlink") %>
      <% elsif params[:dnc] == 'true' %>
        <%= t('.dnc_contacts') %>
      <% else %>
        <%= t('.unassigned_responses') %>
      <% end %>
    <% end %>
    <%= t('.matching_seach') if params[:search] %>
  </h1>
</div>

<div class="pagemenu">
  <ul class="pillmenu">
    <li><%= link_to("Assign", "", class: 'assign') %></li>
    <li><%= link_to("Unassign", "", id: 'bulk_unassign') %></li>
    <li><%= link_to("Add Contact", "", class: 'add_contact') %></li>
  </ul>
  
  <ul class="pillmenu">
    <li><%= link_to(t('.hidden_questions'), '#', id: 'hidden_questions_link') %></li>
  </ul>
  
  <ul class="pillmenu">
    <li><%= link_to(t('.filter'), '#', id: 'filter_link') %></li>
  </ul>
  
  <ul class="pillmenu">
    <li><%= link_to(t('.export'), params.merge(format: 'csv')) %></li>
  </ul>
  
  <div id="hidden_questions_div" style="display:none">
    <%= t('.add_question_back') %>
    <ul id="hidden_questions">
      <%= render partial: 'contacts/hidden_question', collection: @hidden_questions %>
    </ul>
  </div>
  <div id="filter_box" style="<%= 'display:none' %>">
    <%= form_tag params, method: :get do %>
      <%= hidden_field_tag :search, 1 %>
      <%= hidden_field_tag :assigned_to, params[:assigned_to] %>
      <div class="ononeline">
        <div class="field">
          <label for="first_name"><span class="title">First Name</span></label> 
          <%= text_field_tag :first_name, params[:first_name] %><br>
        </div>
        <div class="field">
          <label for="last_name"><span class="title">Last Name</span></label>
          <%= text_field_tag :last_name, params[:last_name] %><br>
        </div>
        <div class="field">
          <label for="last_name"><span class="title">Phone Number</span></label>
          <%= text_field_tag :phone_number, params[:phone_number] %><br>
        </div>
        <div class="field">
          <label for="last_name"><span class="title">Gender</span></label>
          <%= check_box_tag :gender, '1', params[:gender] == '1' %> Male
          <%= check_box_tag :gender, '0', params[:gender] == '0' %> Female<br>
        </div>
      </div>
      <!-- Email: <%#= text_field_tag :email, params[:email] %> -->
      <div class="q1b">
      <% @questions.each_with_index do |q, i| %>
        <% if i == (@questions.length / 2.0).ceil %>
          </div><div class="q2b">
        <% end %>
        <div class="field userdefinied">
          <span class="title"><%= q.label %></span>
          <% if q.style == 'radio' %>
            <div class="field field_radio">
              <input type="radio" value="" name="answers[<%= q.id %>]" class="radio ">
              <label class="choice"></label>
            </div>
          <% end %>
          <%= render :partial => 'questions/' + q.ptemplate, :object => q, :locals => {:col => nil} %>
        </div>
      <% end %>
      </div>
      <div class="actionbarinline">
        <%= submit_tag 'Search' %>
        <%= link_to 'Clear Search Form', '', onclick: "$(this).closest('form')[0].reset(); return false;" %>
      </div>
    <% end %>
  </div>
</div>
  
<%= form_for ContactAssignment.new do |f| %>
  <%= hidden_field_tag :assigned_to, params[:assigned_to] %>
  <%= hidden_field_tag :assign_to %>
  <table class="listing" cellpadding="0" cellspacing="0">
    <tr>
      <th class="checkbox_cell"><%= check_box_tag 'check_all', true, false, 'data-target' => '#new_contact_assignment' %></th>
      <th><%= t('.first_name') %></th>
      <th><%= t('.last_name') %></th>
      <th><%= t('.status') %></th>
      <th><%= t('.gender') %></th>
      <th><%= t('.phone_number') %></th>
      <% @questions.each do |q| %>
        <th class="<%= dom_id(q) %>">
          <%= q.label %>
          <%= link_to(image_tag("close.png", alt: t('nav.hide'), title: t('nav.hide')), hide_sms_keyword_question_path(@organization.keywords.first, q), remote: true, method: :put, class: 'hide', 'data-class' => dom_id(q)) %>
        </th>
      <% end %>
      <th><%= t('.assigned_to') %></th>
      <th><%= t('.friends') %></th>
      <th></th>
    </tr>
    <tbody id="contacts_table">
      
      <% @people.each do |person| %>
        <%= render 'contacts/contact', :person => person %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @people %>
  <% if @people.blank? %>
    <div class="contentpad no_contacts">
        Sorry, there are no contacts here.
    </div>
  <% end %>
  <%= render 'assign' %>
<% end %>

<% if @people.length > 0 %>
  <div class="searchstat">
    <%= "Displaying #{@people.offset_value + 1} - #{@people.offset_value + @people.length} of #{@people.total_count}" %>
  </div>
<% end %>

<div id="add_contact_div" style="display:none" title="Add a Contact" class="fingerme">
  <%= render 'add_contact', person: Person.new %>
</div>