<% provide :sidebar do %>
  <%= render 'contacts/leaders' %>
<% end %>

<div class="titlebar">  
  <h1>
    <% if params[:assigned_to] == 'all' %>
      <%= t('.all_responses') %>
    <% else %>
      <% if @assigned_to.present? %>
        <%= t('.responses_assigned_to', assigned_to: @assigned_to) %>
        <%= link_to(t('.show_all'), contacts_path(assigned_to: 'all')) %>
      <% elsif params[:dnc] == 'true' %>
        <%= t('.dnc_contacts') %>
      <% else %>
        <%= t('.unassigned_responses') %>
      <% end %>
    <% end %>
  </h3>
</div>

<div class="pagemenu">
  <ul class="pillmenu">
    <li><%= check_box_tag 'check_all' %></li>
  </ul>
  <ul class="pillmenu">
    <li><%= link_to(t('.hidden_questions'), '#', id: 'hidden_questions_link') %></li>
  </ul>
  <ul class="pillmenu">
    <li><%= link_to("Assign", "", class: 'assign') %></li>
    <li><%= link_to("Unassign", "", id: 'bulk_unassign') %></li>
    <li><%= link_to("Add Contact", "", class: 'add_contact') %></li>
  </ul>
  
  <ul class="pillmenu">
    <li><%= link_to(t('.filter'), '#', id: 'filter_link') %></li>
  </ul>
  
  <div id="hidden_questions_div" style="display:none">
    Click on a question to add it back to the page 
    <ul id="hidden_questions">
      <%= render partial: 'contacts/hidden_question', collection: @hidden_questions %>
    </ul>
  </div>
  <div id="filter_box" style="<%= 'display:none' unless params[:search] %>">
    <%= form_tag params, method: :get do %>
      <%= hidden_field_tag :search, 1 %>
      <%= hidden_field_tag :assigned_to, params[:assigned_to] %>
      <div class="ononeline">
        <div class="field">
          <label for="first_name">First Name:</label> 
          <%= text_field_tag :first_name, params[:first_name] %><br>
        </div>
        <div class="field">
          <label for="last_name">Last Name:</label>
          <%= text_field_tag :last_name, params[:last_name] %><br>
        </div>
      </div>
      <!-- Email: <%#= text_field_tag :email, params[:email] %> -->
      <div class="q1b">
      <% @questions.each_with_index do |q, i| %>
        <% if i == (@questions.length / 2.0).ceil %>
          </div><div class="q2b">
        <% end %>
        <div class="field userdefinied">
          <span class="title"><%= q.label %>:</span>
          <%= render :partial => 'questions/' + q.ptemplate, :object => q, :locals => {:col => nil} %>
        </div>
      <% end %>
      </div>
      <div class="actionbarinline">
        <%= submit_tag 'Search' %>
      </div>
    <% end %>
  </div>
</div>
  
<%= form_for ContactAssignment.new do |f| %>
  <%= hidden_field_tag :assigned_to, params[:assigned_to] %>
  <%#= t('.assign_to') %> 
  <%#= select_tag :assign_to, options_for_select(@organization.leaders.collect {|l| [l.to_s, l.id]}), include_blank: true %>
  <%= hidden_field_tag :assign_to %>
  <table class="contacts-main" cellpadding="0" cellspacing="0">
    <tr>
      <th class="checkbox_cell"></th>
      <th><%= t('.first_name') %></th>
      <th><%= t('.last_name') %></th>
      <% @questions.each do |q| %>
        <th class="<%= dom_id(q) %>">
          <%= q.label %>
          <%= link_to(image_tag("close.png"), hide_sms_keyword_question_path(@organization.keywords.first, q), remote: true, method: :put, class: 'hide', 'data-class' => dom_id(q)) %>
        </th>
      <% end %>
      <th><%= t('.assigned_to') %></th>
      <th></th>
    </tr>
    <tbody id="contacts_table">
      
      <% @people.each do |person| %>
        <%= render 'contacts/contact', :person => person %>
      <% end %>
    </tbody>
  </table>
  
  <% if @people.blank? %>
    <div class="contentpad no_contacts">
        Sorry, there are no contacts here.
    </div>
  <% end %>
  <%= render 'assign' %>
<% end %>
<div id="add_contact_div" style="display:none" title="Add a Contact">
  <%= render 'add_contact', person: Person.new %>
</div>