<% provide :sidebar do %>
  <div id="sidebar_div">
    <div id="sidebar_loader">
      <%= image_tag 'loader.gif'%>
      <br/>
      Loading Sidebar
    </div>
  </div>
<% end %>

<div class="titlebar titlebarmod">
  <h1>
    <%= t('.all_responses') %>
    <%= "#{'-' if @header.present?} #{@header}" %>
    <div id='global_loader' style='display:none;'>
      <%= image_tag 'loader.gif'%>
    </div>
  </h1>
</div>

<%= render('contacts/pagination') unless @people.count.count < 25 %>

<div class="pagemenu">
  <%= render partial: 'menu' %>
</div>

<%= form_tag("", :id => "move_to_dnc", :method => :put) do %>
  <%= hidden_field_tag :status, "do_not_contact" %>
<% end %>

<span style="display:none" id="drag_helper_text_one"><%= I18n.t('contacts.index.assign_people', count: 1) %></span>
<span style="display:none" id="drag_helper_text_other"><%= I18n.t('contacts.index.assign_people', count: 0) %></span>
<%= form_for ContactAssignment.new do |f| %>
  <%= hidden_field_tag :assigned_to, params[:assigned_to] %>
  <%= hidden_field_tag :assign_to %>
  <table class="listing contact_listing <%= 'unassigned_contacts' if params[:assigned_to] == 'unassigned' %>" cellpadding="0" cellspacing="0">
    <tr id="table_header">
    	<th>&nbsp;</th>
      <th class="checkbox_cell header_checkbox"><%= check_box_tag 'check_all_contacts', true, false, 'data-target' => '#new_contact_assignment', class: 'check_all_contacts', 'data-status' => @attr %></th>
      <th><%= sort_link @q, :first_name, t('.first_name'), params %></th>
      <th><%= sort_link @q, :last_name, t('.last_name'), params %></th>

  		<% if params[:role].blank? || ![Role::ADMIN_ID,Role::MISSIONHUB_USER_ID].include?(params[:role].map{|id| id }) %>
	      <th><%= sort_link @q, :followup_status, t('general.status'), params %></th>
		  <% end %>

      <th><%= sort_link @q, :gender, t('general.gender'), params %></th>
      <th style='min-width:100px;'><%= sort_link @q, :phone_number, t('.phone_number'), params %></th>
      <th><%= sort_link @q, :role_id, t('nav.roles'), params %></th>
      <% @questions.each do |q| %>
        <th class="<%= dom_id(q) %>">
          <% if @predefined_questions.include?(q) %>
            <%= q.attribute_name.gsub('_',' ').titleize %>
          <% else %>
            <%= q.slug.present? ? q.slug.titleize : q.label.titleize %>
          <% end%>
          <%= link_to("(#{t('nav.hide')})", hide_survey_question_path(@organization.surveys.first || @predefined_survey.id, q), remote: true, method: :put, class: 'hide', 'data-class' => dom_id(q), 'data-id' => q.id) %>
        </th>
      <% end %>
      <% if current_organization.settings[:visible_surveys_column].nil? || (current_organization.settings[:visible_surveys_column].present? && current_organization.settings[:visible_surveys_column]) %>
      <th class="visible_surveys_column">
      	<%= t('.surveys') %>
        <%= link_to("(#{t('nav.hide')})", hide_survey_question_path('0', 'visible_surveys_column'), remote: true, method: :put, class: 'hide', 'data-class' => 'visible_surveys_column') %>
    	</th>
    	<% end %>
      <th><%= sort_link @q, :last_survey, t('.last_survey'), params %></th>
      <th class="hidden_questions"><%= link_to "Hidden Questions ▾", "#", id: 'hidden_questions_link' %></th>
    </tr>
    <tbody id="contacts_table">
      <% @people.each do |person| %>
        <%= render 'contacts/contact', person: person, questions: @questions, answers: @answers, assignments: @assignments %>
      <% end %>
    </tbody>
  </table>

  <%= render 'contacts/pagination' %>
  <% if @people.blank? %>
    <div class="contentpad no_contacts">
      <%= t('contacts.index.no_contacts') %>
    </div>
	<% end %>
  <%= render 'assign' %>
<% end %>
<div id="add_contact_div" style="display:none" title="<%= t('.add_contact', org: current_organization) %>" class="fingerme">
  <%= render 'add_contact', person: Person.new %>
</div>
<%- if false %>
  <div id="update_notice_div">
    <%= render partial: 'update_notice' if false %>
  </div>
<%- end %>
<input type="button" value="Show Message Guide" id="show_message_guide_button" style="display:none">
<div id="send_message_guide" style="display:none">
  <%= render 'shared/send_message_guide' %>
</div>
<div id="transfer_to_org" style="display:none">
  <%= render 'transfer' %>
</div>
<div id="sent_messages_div" style="display:none">
  <div id="sent_messages_loader">
    <%= image_tag 'loader.gif'%><br/>Loading Sent Messages
  </div>
  <div id="sent_messages_paginator_top"></div>
  <div id="sent_messages_content">
    <%= render partial: 'messages/sent_messages'%>
  </div>
  <div id="sent_messages_paginator_bottom"></div>
</div>
<%= render 'shared/bulk_vcard_dialog' %>
<%= render 'shared/bulk_send_msg' %>