<% provide :sidebar do %>
  <%= render 'contacts/leaders' %>
<% end %>

<%= form_for ContactAssignment.new do |f| %>
  <div class="titlebar">  
    <h1>
      <% if params[:assigned_to] == 'all' %>
        <%= t('.all_responses') %>
      <% else %>
        <% if @assigned_to.present? %>
          <%= t('.responses_assigned_to', assigned_to: @assigned_to) %>
          <%= link_to(t('.show_all'), contacts_path(assigned_to: 'all')) %>
        <% else %>
          <%= t('.unassigned_responses') %>
        <% end %>
      <% end %>
    </h3>
  </div>
  
  <div class="pagemenu">
    <ul class="pillmenu">
      <li><%= check_box_tag 'check_all' %></li>
    </ul>
    <ul class="pillmenu">
      <li><%= link_to(t('.hidden_questions'), '#', id: 'hidden_questions_link') %></li>
    </ul>
    <ul class="pillmenu">
      <li><%= link_to("Assign", "", class: 'assign') %></li>
      <li><%= link_to("Unassign", "", id: 'bulk_unassign') %></li>
      <li><%= link_to("Add Contact", "") %></li>
    </ul>
    
    <div id="hidden_questions_div" style="display:none">
      Click on a question to add it back to the page 
      <ul id="hidden_questions">
        <%= render partial: 'contacts/hidden_question', collection: @hidden_questions %>
      </ul>
    </div>
  </div>
  
  <%= hidden_field_tag :assigned_to, params[:assigned_to] %>
  <%#= t('.assign_to') %> 
  <%#= select_tag :assign_to, options_for_select(@organization.leaders.collect {|l| [l.to_s, l.id]}), include_blank: true %>
  <%= hidden_field_tag :assign_to %>
  <table class="contacts-main" cellpadding="0" cellspacing="0">
    <tr>
      <th class="checkbox_cell"></th>
      <th><%= t('.first_name') %></th>
      <th><%= t('.last_name') %></th>
      <% @questions.each do |q| %>
        <th class="<%= dom_id(q) %>">
          <%= q.label %>
          <%= link_to(image_tag("close.png"), hide_sms_keyword_question_path(@organization.keywords.first, q), remote: true, method: :put, class: 'hide', 'data-class' => dom_id(q)) %>
        </th>
      <% end %>
      <th><%= t('.assigned_to') %></th>
      <th></th>
    </tr>
    <tbody id="contacts_table">
      <% @people.each do |person| %>
        <tr id="<%= dom_id(person) %>" data-id="<%= person.id %>" class="contact_row">
          <td nowrap="nowrap" class="checkbox_cell">
            <%= image_tag('grippy.png', class: 'handle') %>
            <%= check_box_tag 'ids[]', person.id, false, id: "ids_#{person.id}", class: 'id_checkbox' %>
          </td>
          <td><%= person.firstName %></td>
          <td><%= person.lastName %></td>
          <% @questions.each do |q| %>
            <td class="<%= dom_id(q) %>">
              <% case q.slug %>
              <% when 'email' %>
                <%= person.email %>
              <% when 'phone_number' %>
                <%= person.phone_number %>
              <% else %>
                <% answer_sheet = person.answer_sheets.detect {|as| q.question_sheets.collect(&:id).include?(as.question_sheet_id)} %><%= q.display_response(answer_sheet) %>
              <% end %>
            </td>
          <% end %>
          <td id="assigned_to_<%= person.id %>" class="assigned_to"><%= ContactAssignment.where(person_id: person.id, organization_id: @organization.id).first.try(:assigned_to) %></td>

          <td class="controls">
            <%= link_to("Show", contact_path(person), :class => "icon magnify") %>
            <% if params[:assigned_to].present? || params[:dnc] == 'true' %>
              <%= link_to(t('general.unassign'), contact_assignments_path(ids: person.id), remote: true, method: :post, class: "icon unassign") %>
            <% end %>
            <% unless params[:dnc] == 'true' %>
              <%= link_to("Delete", organizational_role_path(:id => OrganizationalRole.where(:person_id => person.id, :organization_id => current_organization.id, :role_id => Role.contact.id).first.id, :status => 'do_not_contact'), :method => :put, :remote => true, :class => "icon delete", :confirm => t('.delete_confirm')) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render 'assign' %>
<% end %>