<% provide :sidebar do %>
  <ul class="leftmenu">
    <li class="<%= 'selected' unless params[:status] == 'completed' %>"><%= link_to(t('contacts.mine.in_progess'), mine_contacts_path) %></li>
    <li class="<%= 'selected' if params[:status] == 'completed' %>"><%= link_to(t('contacts.mine.completed'), mine_contacts_path(status: 'completed')) %></li>
  </ul>
<% end %>

<div class="titlebar">
  <h1><%= image_tag("contact.png") %>Contacts</h1>
</div>

<%= form_for ContactAssignment.new do |f| %>
  <%= hidden_field_tag :assigned_to %>

  <div class="pagemenu">
    <ul class="pillmenu">
      <li><%= check_box_tag 'check_all' %></li>
    </ul>
    <ul class="pillmenu">
      <li><%= link_to("Assign", "", id: 'assign_button') %></li>
      <li><%= link_to("Unassign", "", id: 'bulk_unassign') %></li>
      <li><%= link_to("Add Contact", "") %></li>
    </ul>
    <!-- <ul class="pillmenu">
      <li><%= link_to("Show", "") %></li>
    </ul> -->
  </div>

  <table class="contacts-main" cellpadding="0" cellspacing="0">
    <tr style="display: none;">
      <th class="check"></th>
      <th class="name"><%= t('contacts.mine.name') %></th>
      <th class="phone"><%= t('contacts.mine.phone') %></th>
      <th class="email"><%= t('contacts.mine.email') %></th>
      <th class="year"><%= t('contacts.mine.year') %></th>
      <th class="controls"></th>
    </tr>
    <tbody id="contacts_table">
      <% @people.each do |person| %>
        <tr id="<%= dom_id(person) %>" data-id="<%= person.id %>" class="contact_row">
          <td nowrap="nowrap" class="checkbox_cell check">
            <%#= image_tag('grippy.png', class: 'handle') %>
            <%= check_box_tag 'ids[]', person.id, false, id: "ids_#{person.id}", class: 'id_checkbox' %>
          </td>
          <td class="name"><%= person %></td>
          <td class="phone"><%= person.phone_number %></td>
          <td class="email"><%= person.email %></td>
          <td class="year"><%= person.yearInSchool %></td>
          
          <td class="controls">
            <%= link_to("Show", contact_path(person), :class => "icon magnify") %>
            <%= link_to(t('general.unassign'), contact_assignments_path(ids: person.id), remote: true, method: :post, class: "icon unassign") %>
            <%= link_to("Delete", organizational_role_path(:id => OrganizationalRole.where(:person_id => person.id, :organization_id => current_organization.id, :role_id => Role.contact.id).first.id, :status => 'do_not_contact'), :method => :put, :remote => true, :class => "icon delete", :confirm => t('contacts.index.delete_confirm')) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @people.blank? %>
    <div class="contentpad">
        Sorry, there are no contacts here.
    </div>
  <% end %>
<% end %>

<p>&nbsp;</p>