<% provide :sidebar do %>
  <ul class="leftmenu">
    <li class="<%= 'selected' unless params[:status] == 'completed' %>"><%= link_to(t('contacts.mine.in_progess'), mine_contacts_path) %></li>
    <li class="<%= 'selected' if params[:status] == 'completed' %>"><%= link_to(t('contacts.mine.completed'), mine_contacts_path(status: 'completed')) %></li>
  </ul>
<% end %>

<div class="titlebar">
  <h1><%= image_tag("contact.png") %>Contacts</h1>
</div>

<%= form_for ContactAssignment.new do |f| %>
  <%= hidden_field_tag :assigned_to %>

  <div class="pagemenu">
    <ul class="pillmenu">
      <li><%= check_box_tag 'check_all' %></li>
    </ul>
    <ul class="pillmenu">
      <li><%= link_to("Assign", "", id: 'assign_button', class: 'assign') %></li>
      <li><%= link_to("Unassign", "", id: 'bulk_unassign') %></li>
      <li><%= link_to("Add Contact", "", class: 'add_contact') %></li>
    </ul>
    <!-- <ul class="pillmenu">
      <li><%= link_to("Show", "") %></li>
    </ul> -->
  </div>

  <table class="contacts-main" cellpadding="0" cellspacing="0">
    <tr style="display: none;">
      <th class="check"></th>
      <th class="name"><%= t('contacts.mine.name') %></th>
      <th class="phone"><%= t('contacts.mine.phone') %></th>
      <th class="email"><%= t('contacts.mine.email') %></th>
      <th class="year"><%= t('contacts.mine.year') %></th>
      <th class="controls"></th>
    </tr>
    <tbody id="contacts_table">
      <% @people.each do |person| %>
        <%= render 'contacts/my_contact', :person => person %>
      <% end %>
    </tbody>
  </table>
  <% if @people.blank? %>
    <div class="contentpad no_contacts">
        Sorry, there are no contacts here.
    </div>
  <% end %>
  <%= render 'assign' %>
<% end %>
<div id="add_contact_div" style="display:none" title="Add a Contact">
  <%= render 'add_contact', person: Person.new %>
</div>
<p>&nbsp;</p>