<% provide :sidebar do %>
  <ul class="leftmenu">
    <li class="selected"><%= link_to(t('ma.contacts.mine.my_contacts'), "") %></li>
  </ul>
<% end %>

<div class="titlebar">
  <h1><%= image_tag("contact.png") %>Contacts</h1>
</div>

<div class="pagemenu">
  <ul class="pillmenu">
    <li><%= link_to("Assign", "") %></li>
    <li><%= link_to("Unassign", "") %></li>
    <li><%= link_to("Add Contact", "") %></li>
  </ul>
  <ul class="pillmenu">
    <li><%= link_to("Show", "") %></li>
  </ul>
</div>
  
<%= form_for ContactAssignment.new do |f| %>
  <table class="contacts-main" cellpadding="0" cellspacing="0">
    <tr>
    <tr>
      <th class="check"><%= check_box_tag 'check_all' %></th>
      <th class="name"><%= t('ma.contacts.mine.name') %></th>
      <th class="phone"><%= t('ma.contacts.mine.phone') %></th>
      <th class="email"><%= t('ma.contacts.mine.email') %></th>
      <th class="year"><%= t('ma.contacts.mine.year') %></th>
      <th class="controls"></th>
    </tr>
    <tbody id="contacts_table">
      <% @people.each do |person| %>
        <tr id="<%= dom_id(person) %>" data-id="<%= person.id %>" class="contact_row">
          <td nowrap="nowrap" class="checkbox_cell check">
            <%= image_tag('grippy.png', class: 'handle') %>
            <%= check_box_tag 'ids[]', person.id, false, id: "ids_#{person.id}", class: 'id_checkbox' %>
          </td>
          <td class="name"><%= person %></td>
          <td class="phone"><%= person.phone_number %></td>
          <td class="email"><%= person.email %></td>
          <td class="year"><%= person.yearInSchool %></td>
          <td class="controls">
            <%= link_to("Show","", :class => "icon magnify") %>
            <%= link_to(t('ma.general.unassign'), contact_assignments_path(ids: person.id), remote: true, class: "icon unassign") %>
            <%= link_to("Delete","", :class => "icon delete") %>
            <%#= link_to 'Show', person %>
            <%#= link_to 'Edit', edit_person_path(person) %>
            <%#= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>