<% title "Hi #{@person.firstName}!" %>
<%= form_for @person, :url => @person.new_record? ? contacts_path : contact_path(@person), :method => @person.new_record? ? :post : :put, :class => 'form' do |f| %>
  <ul class="rounded">
  <% unless @person.firstName.present? %>
    <li><%= f.text_field :firstName, :placeholder => "First Name" %></li>
  <% end %>
  <% unless @person.lastName.present? %>
    <li><%= f.text_field :lastName, :placeholder => "Last Name" %></li>
  <% end %>
  <li>
    Check all that apply: <br />
    <%#= f.check_box :community %> I would like to join a community group.<br />
    <%#= f.check_box :jesus %> I need to begin a relationship with Jesus.<br />
    <%#= f.check_box :church %> I would like to learn about becoming a member of a local church.
  </li>
  <% unless true && @person.gender.present? %>
    <li>
      <%= f.radio_button :gender, 'male' %> Male 
      <%= f.radio_button :gender, 'female' %> Female 
    </li>
  <% end %>
  <% unless @person.primary_email_address.present? %>
    <%= f.fields_for :email_addresses do |ef| %>
      <li><%= ef.text_field :email, :placeholder => "Email" %></li>
    <% end %>
  <% end %>
  <% unless @person.primary_phone_number.present? %>
    <%= f.fields_for :phone_numbers do |pf| %>
      <li><%= pf.text_field :number, :placeholder => "Phone Number (optional)" %></li>
    <% end %>
  <% end %>
  <li>
    Year in Schoool: 
    <%#= f.select :year_in_school, [['Pick One', ''], 'First Year', 'Second Year', 'Third Year', 'Fourth Year', 'Fifth Year', 'Graduate', 'Doctoral'] %>
  </li>
  <li>
    Where do you live: 
    <%#= f.select :year_in_school, [['Pick One', ''], 'The Towers', 'Lake Claire'] %>
  </li>
  </ul>
  <%= link_to "Submit", nil, :class => "whiteButton submit" %>
<% end %>

