<% provide :sidebar do %>
  <ul class="leftmenu">
    <li class="selected"><%= link_to(t('contacts.mine.my_contacts'), "/contacts/mine") %></li>
  </ul>
<% end %>

<%= form_for ContactAssignment.new, html: {style: 'display:none'} do |f| %>
  <%= check_box_tag 'ids[]', @person.id, true, id: "ids_#{@person.id}", class: 'id_checkbox' %>
  <%= hidden_field_tag :assign_to %>
  <%= render 'assign' %>
<% end %>
<div class="titlebar">
  <h1>
    <%= image_tag("contact.png") %>
    <%= @person %>
    <%= link_to("Assign", "", class: 'assign headerlink', 'data-id' => @person.id) %>
  </h1>
</div>

<div class="pad">
  
  <div class="contact_leftcol">
    <div>
      <%# if @person.fb_uid.present? %>
        <%= image_tag("https://graph.facebook.com/#{@person.fb_uid}/picture?type=large", alt: '') %>
      <%# else %>
        <!-- No Image because they don't have facebook connected -->
      <%# end %>
    </div>
    <div>
      <% if @person.phone_number.present? %>
        <%= t('contacts.show.phone_number') %> <%= number_to_phone(@person.phone_number) %><br/>
      <% end %>
      <% if @person.email.present? %>
        <%= t('contacts.show.email') %> <%= mail_to(@person.email) %><br/>
      <% end %>
      <% if @person.current_address %>
        <p><%= raw @person.current_address.display_html %></p>
        <%= link_to(t('.google_map'), @person.current_address.map_link, target: '_blank', :class => "maplink") %>
      <% end %>
      <% if @person.fb_uid.present? %>
      <p><%= link_to(t('.facebook_profile'), "http://www.facebook.com/profile.php?id=#{@person.fb_uid}", target: '_blank') %></p>
      <% end %>
      <p><%= link_to(t('.survey_answers'), '', id: 'survey_answers_link') %></p>
      <% if can?(:edit, @person) %>
        <p><%= link_to(t('.edit_contact_info'), edit_contact_path(@person)) %></p>
      <% end %>
        <p><%= link_to(t('.send_contact_info'), '#', class: 'send_contact_info', 'data-person_id' => @person.id ) %></p>      
      <%= render :partial => 'send_contact_info_dialog', :locals => { person: @person } %>
      
      <div id="survey_answers" style="display:none" title="<%= t('.survey_answers') %>">
        <ul>
          <% @organization.question_sheets.flatten.uniq.each do |qs| %>
            <% answer_sheet = @person.answer_sheets.detect {|as| qs.id == as.question_sheet_id} %>
            <% qs.all_questions.each do |q| %>
              <% answer = q.display_response(answer_sheet) %>
              <% if answer.present? %>
                <li><%= q.label %><%= ':' unless q.label[-1] =~ /\.;:\?/ %> <%= answer %></li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="contact_rightbody">
    <% if @followup_comment %>
      <%= form_for @followup_comment, remote: true, html: {id: 'comment_form'} do |f| %>
        <%= f.hidden_field :organization_id %>
        <%= f.hidden_field :contact_id %>
        <%= f.hidden_field :commenter_id %>
        <span class="statusline">
          <%= t('contacts.show.status') %>: 
          <%= f.select :status, OrganizationMembership::FOLLOWUP_STATUSES.collect {|s| [t("contacts.statuses.#{s}"), s]} %><br/>
        </span>
        <div class="commentbox">
          <div class="textarea">
            <%= f.text_area :comment, :rows => "2", placeholder: t('.add_comments_here') %><br/>
          </div>
          <%= button_tag(t('contacts.show.add_comment'), id: 'comment_submit', :class => "smallbtn") %>
          <div class="rejoiceablebox">
            <%= link_to(t('contacts.show.attach_rejoicable'), '#', id: 'add_rejoicable', :class => "rj rejoiceable") %><br/>
            <div id="rejoicable_fields" style="display:none">
              <% Rejoicable::OPTIONS.each do |option| %>
                <%= check_box_tag 'rejoicables[]', option %> <span class="<%= option %> rj"><%= t("rejoicables.#{option}") %></span>
                <br/>
              <% end %>
            </div>
          </div>        
          <%= spinner('comment') %>
        </div>
      
      <% end %>
    <% end %>
    
    <div class="commentswall" style="<%= 'display:none' unless @followup_comments.present? %>">
      <h3><%= t('.previous_comments') %></h3>
      <ul id="previous_comments">
        <%= render partial: 'followup_comments/followup_comment', collection: @followup_comments %>
      </ul>
    </div>
  </div>
</div>