<h1>Someone answered "<%= @keyword %>" in your survey</h1>
<p>
  Name: <%= @person.name %><br/>
</p>
<% if @person.email.present? %>
  <p>
    Email: <%= @person.email %><br/>
  </p>
<% end %>
<p>
  Survey: <b><%= @answer_sheet.survey.title %></b> of <i><%= @answer_sheet.survey.organization.name%></i><br/>
</p>
<p>
  Question: <%= @question.label %><br/>
</p>
<p>
  Answer: <%= @answer.value %><br/>
</p>