<h1>Listing community_memberships</h1>

<table>
  <tr>
    <th>Person ID</th>
    <th>Community ID</th>
    <th>Community Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @community_memberships.each do |community_membership| %>
  <tr>
    <td><%= community_membership.person_id %></td>
    <td><%= community_membership.community_id %></td>
    <td><%= community_membership.community.name %></td>
    <td><%= link_to 'Show', community_membership %></td>
    <td><%= link_to 'Edit', edit_community_membership_path(community_membership) %></td>
    <td><%= link_to 'Destroy', community_membership, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Community membership', new_community_membership_path %>
