<div style="padding: 38px 52px 0;">
  <%= email_image_tag('email/digest.png', height: 80) %>
  <h3 style="font-size: 14px"><%= t('leader_mailer.added.greeting', name: @person.first_name) %></h3>
  <h1 style="font-size: 24px">Good news this week, here’s the update.</h1>
  <h3>
    <%= @start_date.strftime('%b %e, %Y') %> - <%= (@end_date - 1.second).strftime('%b %e, %Y') %>
  </h3>
</div>


<% @org_reports.each_with_index do |(org_id, org_report), index| %>
  <% unless index == 0 %>
    <div style="height: 22px; background-color: #F4F4F4;"></div>
  <% end %>
  <div style="padding: 23px 52px;">
    <h3>
      <%= Organization.find(org_id).name %>
    </h3>
    <div style="text-align: left;">
      <p style="padding: 0 20px;">
        <strong><%= org_report[:new_contacts] %></strong> new contacts.
      </p>
      <p style="padding: 0 20px;">
        <strong><%= org_report[:changed] %></strong> contacts changed from 'uncontacted' to attempted or contacted.
      </p>
      <ul>
        <% org_report[:interactions].each do |name, values| %>
          <li>
            <%= "#{pluralize(values[:initiators], 'user')} had #{pluralize(values[:total], name)}"\
                  " with #{pluralize(values[:receivers], 'contact')}" %>
          </li>
        <% end %>
      </ul>
      <!--
      <% if @label_counts %>
        <ul style="text-align: left;">
          <% @label_counts.each do |name, value| %>
            <li> <%= "#{pluralize(value, 'active contact')} have the #{name} label" %> </li>
          <% end %>
        </ul>
      <% end %>
      <% if @gained_decision %>
        <p>
          <%= pluralize(@gained_decision, 'contact') %> gained the 'Made Decision' label.
        </p>
      <% end %>-->
    </div>
  </div>
<% end %>

<% content_for :footer do %>
  <p style="color: #404040; font-size: 14px; margin: 0;">
    Are you not needing these right now? You can always
    <%= link_to 'Unsubscribe', root_url + 'preferences?ministry-digest-unsubscribe',
                style: 'color: #60D9F2;' %>
  </p>
<% end %>
