<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Weekly Report for <%= @org_message %></h1>
  <h3><%= @start_date.strftime('%b %e, %Y') %> - <%= (@end_date - 1.second).strftime('%b %e, %Y') %></h3>
  <p>
    <strong><%= @new_contacts %></strong> new contacts.
  </p>
  <p>
    <strong><%= @changed %></strong> contacts changed from 'uncontacted' to attempted or contacted.
  </p>
  <p>
    <ul>
      <% @interaction_counts.each do |name, values| %>
        <li>
          <%= "#{pluralize(values[:initiators], 'user')} had #{pluralize(values[:total], name)}"\
                " with #{pluralize(values[:receivers], 'contact')}" %>
        </li>
      <% end %>
    </ul>
  </p>
  <% if @label_counts %>
    <ul>
      <% @label_counts.each do |name, value| %>
        <li> <%= "#{pluralize(value, 'active contact')} have the #{name} label" %> </li>
      <% end %>
    </ul>
  <% end %>
  <% if @gained_decision %>
    <p>
      <%= pluralize(@gained_decision, 'contact') %> gained the 'Made Decision' label.
    </p>
  <% end %>
</body>
</html>