<p id="notice"><%= notice %></p>

<p>
  <b>Explanation:</b>
  <%= @keyword_request.explanation %>
</p>

<p>
  <b>Keyword:</b>
  <%= @keyword_request.keyword %>
</p>

<p>
  <b>User:</b>
  <%= @keyword_request.user_id %>
</p>

<%= link_to t("ma.general.edit"), edit_keyword_request_path(@keyword_request) %> |
<%= link_to t("ma.general.back"), keyword_requests_path %>
