<div id="add_contact_div" style="display:none;" class="fingerme custom_mh_popup_box">
  <div class="ui-widget-overlay" style="position: fixed; width: 100%; height: 100%; z-index: 999; "></div>
  <div class="pop_box_container">
    <div class="mh_popup_box" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable" tabindex="-1" permission="dialog" aria-labelledby="ui-dialog-title-alert_dialog">
    	<div class="mh_popup_box_top">
        <span class="mh_popup_heading" id="add_contact_title"><%= t('application.add_contact.add_contact', org: current_organization) %></span>
      </div>
      <div class="mh_popup_box_content">
        <div class="fancy"><%= t('application.add_contact.survey_mode_instructions') %></div>
        <div class="mh_popup_box_scroller">
          <% @from_group = flash[:add_to_group_tag].present? && flash[:add_to_group_tag] != '0' ? 'display:none;' : nil %>
          <%= form_for person, url: contacts_path, method: :post, remote: true do |f| %>
            <div id="add_contact_form">
              <div class="form_group_label">
                <%= t('application.add_contact.title_bio') %>
              </div>
              <div class="form_group_fields">
                <% if flash[:error] %>
                  <div class="flash error red_errors">
                    <%= raw flash[:error].gsub("Phone numbers number", "Phone number").gsub("Email addresses email", "Email") %>
                  </div>
                <% end %>

                <%= hidden_field_tag :add_another %>
        				<%= hidden_field_tag :add_to_group_tag, 0 %>
                <%= hidden_field_tag :add_to_group %>
                <%= hidden_field_tag :add_to_group_permission %>
                <%= hidden_field_tag :assign_to_me, false, id: 'assign_new_contact_to_me' %>
                <%= hidden_field_tag :assigned_to, params[:assigned_to] %>
                <%= hidden_field_tag :dnc, params[:dnc] %>

                <%= render 'people/person_form', person: person %>
              </div>
              <div class="form_group_label">
                <%= t('application.add_contact.title_label') %>
                <span class='form_group_optional'>
                  <%= t('application.add_contact.title_optional') %>
                </span>
              </div>
              <div class="form_group_fields">
                <% @selected_labels = flash[:selected_labels] if flash[:selected_labels].present? %>
                <%= render partial: 'shared/label_fields' %>
                <br/>
              </div>
              <div class="form_group_label remove_add_new_person_to_group" style="<%= @from_group %>">
                <%= t('application.add_contact.title_surveys') %>
                <span class='form_group_optional'>
                  <%= t('application.add_contact.title_optional') %>
                </span>
              </div>

              <div class="form_group_fields user_defined_contact_fields remove_add_new_person_to_group" style="<%= @from_group %>">
                <% current_organization.surveys.each do |survey| %>
                  <% if survey.questions.count > 0 %>
                    <div class="survey_title add_contact_survey_title"><%= survey.title %></div>
                    <% answer_sheet = @person.answer_sheets.detect {|as| survey.id == as.survey_id} if @person %>
                    <% survey.questions.each do |question| %>
                      <% next if ['first_name', 'last_name', 'email', 'phone_number', 'gender', 'country', 'state', 'city', 'address1', 'zip'].include?(question.attribute_name) %>
                      <% answer = question.display_response(answer_sheet) %>
                      <div class="field add_contact_survey_question_field">
                      	<label><%= raw question.label %></label>

                        <% @checked_or_val = false %>
                        <% if flash[:selected_answers].present? %>
                          <% selected_answers = flash[:selected_answers] %>
                          <% if selected_answers.include?(survey.id.to_s) %>
                            <% @checked_or_val = selected_answers[survey.id.to_s][question.id.to_s] %>
                          <% end %>
                        <% end %>

                      	<%= render :partial => 'survey/' + question.ptemplate, object: question, locals: {col: nil, answer_sheet: answer_sheet, survey: survey } %>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    	<div class="mh_popup_buttons" id="">
    		<button class="red_accent" id="add_contact_save_and_close_button">
    		  <%= t('application.add_contact.save_and_close') %>
    		</button>
    		<button class="red_accent" id="add_contact_save_and_add_another_button">
    		  <%= t('application.add_contact.save_and_add') %>
        </button>
    		<button class="large_lightgray mh_popup_cancel_button" id="">Cancel</button>
    	</div>
    </div>
  </div>
</div>
