<div id="locate_contact_container" style="display:none" class="custom_mh_popup_box">
  <div class="ui-widget-overlay pop_box_overlay_container"></div>
  <div class ="pop_box_container">
    <div class="mh_popup_box" id="locate_contact_content">
    <div class="mh_popup_box_top">
        <span class="mh_popup_heading"><%= t("contacts.index.search_locate_title") %></span>
      </div>
      <div class="mh_popup_box_content">
        <hr/>
        <table align="center">
          <tr>
            <td>First Name: </td>
            <td><%= text_field_tag :locate_contact_firstname %></td>
          </tr>
          <tr>
            <td>Last Name: </td>
            <td><%= text_field_tag :locate_contact_lastname %></td>
          </tr>
          <tr>
            <td>Email Address: </td>
            <td><%= text_field_tag :locate_contact_email %></td>
          </tr>
          <tr>
            <td>
              <div class="icon help tipitright help_bubble_keyword" title="<%= t("contacts.index.search_locate_help") %>"></div>
            </td>
            <td align="right">
              <div id="search_locate_contact_button_containter">
                <table>
                  <tr>
                    <td id="search_locate_contact_loading">
                      <img src='/assets/spinner.gif'/>
                    </td>
                    <td>
                      <%= submit_tag t("contacts.index.search_locate_contact_button"), :id=>"search_locate_contact_button", :remote => true%>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </table>
        <hr/>
        <div id="locate_contact_results_container">
          <table width="100%" id="locate_contact_list_container">
            <tr>
              <td class="locate_contact_list_head">First Name</td>
              <td class="locate_contact_list_head">Last Name</td>
              <td class="locate_contact_list_head">Email</td>
              <td class="locate_contact_list_head">Organization Name</td>
            </tr>
          </table>
        </div>
      </div>
    <div class="mh_popup_buttons">
    <button class="large_lightgray mh_popup_cancel_button">Cancel</button>
    </div>
    </div>
  </div>
</div>