<ul class="button_bar">
	<li class="action_lightblue">
	  <%= link_to "Add Contact", "#", class: "new_mass_entry"%>
	</li>
	<li class="action_lightblue">
	  <%= link_to "Save", "#", class: "save_mass_entry"%>
	</li>
	<li class="action_lightblue">
	  <%= link_to "Reload", "#", class: "reload_mass_entry" %>
	</li>
	<li class="action_lightblue">
	  <%= link_to "Exit", index_admin_surveys_path %>
	</li>
  <!-- <li class="action_lightblue">
    <%= link_to "Copy", "#", id: "copy_mass_entry"%>
  </li>
  <li class="action_lightblue">
    <%= link_to "Paste", "#", id: "paste_mass_entry"%>
  </li> -->
  <div class="icon help tipitleft help_bubble_keyword" title="<%= t('surveys.mass_entry.help') %>"></div>
</ul>
