<%= form_for(@survey, validate: true, html: {id: 'survey_form'}) do |f| %>
  <%= error_messages_for :survey %>

  <div class="stepwrap rwidth">
    <div class="stepcontent"> 
      <div class="field">
        <%= f.check_box :frozen %><%= t('.freeze') %>
      </div>
    </div>
  </div>

  <div class="stepwrap rwidth">
    <div class="stepnumber">
      <%= image_tag("step1.png") %>
    </div>
    <div class="stepcontent"> 
      <div class="field">
        <label for="survey_title">
          <%= t('.title') + ": " + t('.title_tip') %>
        </label>
        <%= f.text_field :title, :placeholder => t('.title_placeholder') %>
      </div>
    </div>
  </div>
  <!-- <div class="stepwrap rwidth">
    <div class="stepnumber">
      <%= image_tag("step2.png") %>
    </div>
    <div class="stepcontent">    
      <div class="field">
        <label for="survey_initial_response">
          <%= raw(t('surveys.form.initial_response')) %> 
          <%= tip(t('surveys.form.post_survey_why')) %>
        </label>
        <%#= f.text_area :initial_response, rows: 3 %>
      </div>
    </div>
  </div> -->
  
  <div class="stepwrap rwidth">
    <div class="stepnumber">
      <%= image_tag("step2.png") %>
    </div>
    <div class="stepcontent">
      <div class="field">
        <%= f.label :post_survey_message, t('.post_survey_message') %>
        <%= f.text_area :post_survey_message, rows: 5, :placeholder => t('.post_survey_placeholder') %>
      </div>
    </div>
  </div>
  
  <div class="stepwrap rwidth">
    <div class="stepnumber">
      <%= image_tag("step3.png") %>
    </div>
    <div class="stepcontent">
      <div class="field">
        <%= f.label :terminilogy, t('.terminology') %>
        <%= f.text_field :terminology %>
      </div>
    </div>
  </div>
  
  <div class="stepwrap rwidth">
    <div class="stepnumber">
      <%= image_tag("step4.png") %>
    </div>
    <div class="stepcontent">
      <div class="field">
        <%= t('.login_option') %><br/>
        <%= f.radio_button :login_option, 0, :checked => true %> <%= t('.default_login_option') %><br/>
        <%= f.radio_button :login_option, 1 %> <%= t('.fb_only_login_option') %><br/>
        <%= f.radio_button :login_option, 2 %> <%= t('.skip_fb_login_option') %><br/>
        <%= f.radio_button :login_option, 3 %> <%= t('.no_fb_login_option') %>
      </div>
    </div>
  </div>
  
  <div class="stepwrap rwidth">
    <div class="stepnumber">
      <%= image_tag("step5.png") %>
    </div>
    <div class="stepcontent"> 
      <% if current_organization.show_sub_orgs? && current_organization.has_children? %>   
        <div class="field">
          <label for="survey_organization">
            <%= raw(t('.association', this_term: current_organization.terminology, child_term: current_organization.children.first.terminology)) %> 
            <%= tip(t('surveys.index_admin.association_help')) %>
          </label>
          <%= f.select :organization_id, ([current_organization] + current_organization.children).collect {|o| [o.to_s, o.id]} %>
        </div>
      <% else %>
        <div class="field">
          <strong><%= t('.survey_associated_with', org: current_organization) %></strong>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
