<%= form_for(@survey, validate: true, html: {id: 'survey_form'}) do |f| %>
  <%= error_messages_for :survey %>

  <div class="stepwrap rwidth">
    <div class="stepcontent">
      <div class="field">
        <%= f.check_box :is_frozen %><%= t('.freeze') %>
      </div>
    </div>
  </div>

  <div class="stepwrap rwidth">
    <div class="stepnumber">
    </div>
    <div class="stepcontent">
      <label for="survey_label">
        <%= t('.login_paragraph') + ": " + t('.login_paragraph_tip') %>
      </label>
      <div class="field">
        <%= f.text_area :login_paragraph, rows: 3, value: raw(@survey.login_paragraph.present? ? @survey.login_paragraph : t('sessions.new.login_paragraph_mhub')) %>
      </div>
    </div>
  </div>

  <div class="stepwrap rwidth">
    <div class="stepnumber">
    </div>
    <div class="stepcontent">
      <label for="survey_label">
        <%= t('.title') + ": " + t('.title_tip') %>
      </label>
      <div class="field">
        <%= f.text_field :title, :placeholder => t('.title_placeholder') %>
      </div>
    </div>
  </div>
  <!-- <div class="stepwrap rwidth">
    <div class="stepnumber">
    </div>
    <div class="stepcontent">
      <div class="field">
        <label for="survey_initial_response">
          <%= raw(t('surveys.form.initial_response')) %>
          <%= tip(t('surveys.form.post_survey_why')) %>
        </label>
        <%#= f.text_area :initial_response, rows: 3 %>
      </div>
    </div>
  </div> -->

  <div class="stepwrap rwidth">
    <div class="stepnumber">
    </div>
    <div class="stepcontent">
      <label for="survey_label">
        <%= t('.post_survey_message') %>
      </label>
      <div class="field">
        <%= f.text_area :post_survey_message, rows: 3, :placeholder => t('.post_survey_placeholder') %>
      </div>
    </div>
  </div>

  <div class="stepwrap rwidth">
    <div class="stepnumber">
    </div>
    <div class="stepcontent">
      <label for="survey_label">
        <%= t('.terminology') %>
      </label>
      <div class="field">
        <%= f.text_field :terminology %>
      </div>
    </div>
  </div>

  <div class="stepwrap rwidth">
    <div class="stepnumber">
    </div>
    <div class="stepcontent">
      <label for="survey_label">
        <%= t('.login_option') %>
        <br />
        <strong style="color:red">NOTE: Facebook login for survey mode is currently disabled due to a problem we're having with facebook. You can still do surveys,
          just the facebook login will be skipped. We will re-enable it as soon as we get it working.</strong>
      </label>
      <div class="field">
        <%= f.radio_button :login_option, 0, :checked => true %> <%= t('.default_login_option') %><br/>
        <%= f.radio_button :login_option, 1 %> <%= t('.fb_only_login_option') %><br/>
        <%= f.radio_button :login_option, 2 %> <%= t('.skip_fb_login_option') %><br/>
        <%= f.radio_button :login_option, 3 %> <%= t('.no_fb_login_option') %>
      </div>
    </div>
  </div>

  <div class="stepwrap rwidth">
    <div class="stepnumber">
    </div>
    <div class="stepcontent">
      <% if current_organization.show_sub_orgs? && current_organization.has_children? %>
        <label for="survey_label">
          <%= raw(t('.association', this_term: current_organization.terminology, child_term: current_organization.children.first.terminology)) %>
          <div class="icon help tip help_bubble_keyword " title="<%= t('surveys.index_admin.association_help') %>"></div>
        </label>
        <div class="field">
          <%= f.select :organization_id, ([current_organization] + current_organization.children).collect {|o| [o.to_s, o.id]} %>
        </div>
      <% else %>
        <div class="field">
          <label for="survey_label">
            <strong><%= t('.survey_associated_with', org: current_organization) %></strong>
          </label>
        </div>
      <% end %>
    </div>
  </div>

	<div id="show_advanced_survey_option">Show Advanced Options</div>

	<div id="advanced_survey_option" class="hidden">
		<div class="stepwrap rwidth">
		  <div class="stepnumber">
		  </div>
		  <div class="stepcontent">
		    <div>
		      <strong><%= t('.customize_look') %></strong>
		      <br /><br />
		    </div>
		    <%= f.label :logo, t('.logo') %>
		    <div class="field">
		      <%= f.file_field :logo %>
		    </div>

		    <%= f.label :background_color, t('.background_color') %>
		    <div class="field">
		      <%= f.text_field :background_color %>
		    </div>

		    <%= f.label :text_color, t('.text_color') %>
		    <div class="field">
		      <%= f.text_field :text_color %>
		    </div>


		    <%= f.label :css_file, t('.css_file') %>
		    <div class="field">
		      <%= f.file_field :css_file %>
		    </div>

		    <%= f.label :css, t('.css') %>
		    <div class="field">
		      <%= f.text_area :css %>
		    </div>

		  </div>
		</div>

		<div class="stepwrap rwidth">
		  <div class="stepnumber">
		  </div>
		  <div class="stepcontent">
		    <label for="survey_label">
		      <%= t('.redirect_url') %>
		    </label>
		    <div class="field">
		      <%= f.text_field :redirect_url %>
		    </div>

		  </div>
		</div>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
