<ul class="leftmenu">
  <li class="<%= 'selected' if current_page?(index_admin_surveys_path) %>"><%= link_to(t('nav.surveys'), index_admin_surveys_path) %></li>
  <% if @survey %>
    <li class="<%= 'selected' if current_page?(edit_survey_path(@survey)) %>"><%= link_to(t('.edit_survey'), edit_survey_path(@survey)) %></li>
  <% end %>
  <li class="<%= 'selected' if current_page?(new_survey_path) %>"><%= link_to(t('nav.create_a_survey'), new_survey_path) %></li>
</ul>