<% provide :sidebar do %>
  <div id="ac_sidebar">
    <div id="upper_sidebar_lists">
    <% if @survey.present? %>
      <%= link_to raw("<button class='red_accent full_width_button'>#{t('nav.all_surveys')}  (#{current_organization.surveys.count})</button>"), index_admin_surveys_path %>
      <% unless @survey.new_record? %>
         <!-- Buttons for Edit Survey page -->
        <%= link_to raw("<button class='action_gray full_width_button'>#{t('surveys.index_admin.preview_survey')}</button>"),
          new_survey_response_url(survey_id: @survey.id, host: APP_CONFIG['public_host'], port: APP_CONFIG['public_port']),
          target: "_blank" %>
        <%= link_to raw("<button class='action_gray full_width_button'>#{t('surveys.index_admin.delete_survey')}</button>"),
          survey_path(@survey), method: :delete, confirm: t('surveys.index_admin.confirm_delete_survey') %>
      <% else %>
         <!-- Buttons for New Survey page -->
         <%= link_to raw("<button class='action_gray full_width_button'>#{t('sms_keywords.index.request_keyword')}</button>"),
            new_sms_keyword_path %>
      <% end %>
    <% else %>
       <!-- Buttons For Surveys List-->
      <%= link_to raw("<button class='red_accent full_width_button'>#{t('nav.create_a_survey')}</button>"), new_survey_path %>
      <%= link_to raw("<button class='action_gray full_width_button'>#{t('sms_keywords.index.request_keyword')}</button>"),
          new_sms_keyword_path %>
    <% end %>
    </div>
  </div>
<% end %>