<% if mhub? %>
  <% provide :title, t('.pick_keyword') %>
  <h1>Click on a keyword to complete a survey</h1>
  <ul>
    <% @surveys.each do |survey| %>
      <li>
        <%= link_to(survey, start_survey_url(survey.id, host: APP_CONFIG['public_host'], port: APP_CONFIG['public_port'])) %>
      </li>
    <% end %>
  </ul>
<% else %>

  <%= render 'surveys/surveys_sidebar' %>

  <div class="titlebar titlebarmod">
    <h1>
      <%= t('nav.surveys') %>
      <div id='global_loader'>
        <%= image_tag 'loader.gif'%>
      </div>
    </h1>
  </div>

  <div id="ac_button_bar">
  	<ul class="button_bar">
  		<li class="inlinehelp">
        <%= t('general.survey_help_desc') %><b><%= t('general.survey_text_help_desc') %></b>
        <br />
        <strong style="color:red">NOTE: Facebook login for survey mode is currently dissabled due to a problem we're having with facebook. You can still do surveys,
          just the facebook login will be skipped. We will re-enable it as soon as we get it working.</strong>

  		</li>
  	</ul>
  </div>
  <br/>

  <div id="ac_contact_spread">
    <table class="listing contact_listing" cellpadding="0" cellspacing="0">
      <tr id="table_header">
        <th><%= t("general.survey") %></th>
        <% if current_organization.show_sub_orgs? %>
          <th>
            <%= t("sms_keywords.index.association") %>
            <div class="icon help tip help_bubble_keyword " title="<%= t('.association_help') %>"></div>
          </th>
        <% end %>
        <th><%= t("general.keyword") %></th>
        <th><%= t('.link') %></th>
        <th>&nbsp;</th>
      </tr>
      <tbody>
        <% @surveys.each do |survey| %>
          <%= render partial: 'surveys/survey', locals: {survey: survey}%>
        <% end %>
      </tbody>
    </table>

    <% if @surveys.blank? %>
      <div class="contentpad no_contacts">
        <%= t('.no_surveys') %>
      </div>
  	<% end %>
  </div>

  <!-- Transfer Survey Dialog -->
  <%= render 'surveys/transfer_survey' %>
<% end %>
