<%= render 'surveys/surveys_sidebar' %>

<div class="titlebar titlebarmod">
  <h1>
    <%= t('.create_a_survey') %>
    <div id='global_loader'>
      <%= image_tag 'loader.gif'%>
    </div>
  </h1>
</div>

<p class="explanation1">
  <%= t('.choose_keyword_explanation_html', number: SmsKeyword::SHORT) %>
</p>

<%= render 'form' %>