<div class="inside_container">
	<div class="titlebar titlebarmod">
	  <h1>
		<%= t('.title', org: current_organization) %>
	  </h1>
	</div>
  <div>
    <h1 class="title">
      <%= t('roles.views.system_roles') %>
    </h1>
  	<div class="container">
      <table class="listing" cellpadding="0" cellspacing="0">
        <tr>
          <th><%= t('roles.views.name') %></th>
        </tr>
        <tbody id="system_roles_table">
          <% @system_roles.each do |system_role| %>
            <tr id="<%= dom_id(system_role) %>" data-id="<%= system_role.id %>" class="system_role_row">
              <td class=""><%= system_role.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <h1 class="title">
      <%= t('roles.views.organizational_roles') %>
    </h1>
    <%= link_to(t('roles.views.create_role'), new_role_path, class: 'create_label_button') %></li>
  	<div class="container">
      <table class="listing" cellpadding="0" cellspacing="0">
        <tr>
          <th><%= t('roles.views.name') %></th>
          <th class="controls"></th>
        </tr>
        <tbody id="system_roles_table">
          <% @organizational_roles.each do |organizational_role| %>
            <tr id="<%= dom_id(organizational_role) %>" data-id="<%= organizational_role.id %>" class="organizational_role_row">
              <td><%= organizational_role.name %></td>
              <td class="controls">
                <%= link_to t("roles.views.edit_role"), edit_role_path(organizational_role),
                  :class => "icon edit tipit", :title => "Edit Label" %>
                <%= link_to t("roles.views.delete_role"), role_path(organizational_role),
                  method: :delete, confirm: "Are you sure you want to delete this label?",
                  :class => "icon delete tipit", :title => "Delete Label" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>