<div class="titlebar">  
  <h1>
    <%= image_tag("c_directory.png") %>
    <%= current_organization %>
  </h1>
  <h2><%= t('roles.views.system_roles') %></h2> 
</div>
  
<table class="listing" cellpadding="0" cellspacing="0">
  <tr>
    <th><%= t('roles.views.name') %></th>
  </tr>
  <tbody id="system_roles_table">
    <% @system_roles.each do |system_role| %>
      <tr id="<%= dom_id(system_role) %>" data-id="<%= system_role.id %>" class="system_role_row">
        <td class="name"><%= system_role.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="titlebar">  
  <h2><%= t('roles.views.organizational_roles') %></h2> 
</div>

<div class="pagemenu">
  <ul class="pillmenu">
    <li><%= link_to(t('roles.views.create_role'), new_role_path) %></li>
  </ul>
</div>
  
<table class="listing" cellpadding="0" cellspacing="0">
  <tr>
    <th><%= t('roles.views.name') %></th>
    <th class="controls">&nbsp;</th>
  </tr>
  <tbody id="system_roles_table">
    <% @organizational_roles.each do |organizational_role| %>
      <tr id="<%= dom_id(organizational_role) %>" data-id="<%= organizational_role.id %>" class="organizational_role_row">
        <td class="name"><%= organizational_role.name %></td>
        <td class="controls">
          <%= link_to t("roles.views.edit_role"), edit_role_path(organizational_role), :class => "icon edit tipit", :title => "Edit Role" %>
          <%= link_to t("roles.views.delete_role"), role_path(organizational_role), method: :delete, confirm: "Are you sure you want to delete this role?", :class => "icon delete tipit", :title => "Delete role" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
