<% if !@survey.frozen %>

<%= form_for(@person, url: @person.new_record? ? survey_responses_path : survey_response_path(@person), html: {method: @person.new_record? ? :post : :put, class: 'form', validate: true, 'data-ajax' => false}) do |f| %>
  <%= error_messages_for @person, @answer_sheet.person %>
  <%= hidden_field_tag :survey_id, @survey.id %>
  <%= hidden_field_tag :received_sms_id, params[:received_sms_id] if params[:received_sms_id] %>
  <%= hidden_field_tag :button, false if mobile_device? %>
  <% if @person.new_record? %>
    <%= f.hidden_field :firstName unless @person.firstName.blank? %>
    <%= f.hidden_field :lastName unless @person.lastName.blank? %>
    <%= f.hidden_field :phone_number unless @person.phone_number.blank? %>
    <%= f.hidden_field :email unless @person.email.blank? %>
  <% end %>
  
  <ul class="rounded jqm">
    <% if @person.firstName.blank? %>
      <li>
        <div data-role="fieldcontain" class="field">
          <label class="desc" for="firstName"><%= t('contacts.form.first_name') %></label>
        	<%= f.text_field :firstName %>
        </div>
      </li>
    <% end %>
    
    <% if @person.lastName.blank? %>
      <li>
        <div data-role="fieldcontain" class="field">
          <label class="desc" for="lastName"><%= t('contacts.form.last_name') %></label>
          <%= f.text_field :lastName %>
        </div>
      </li>
    <% end %>
    
    <% if @person.phone_number.blank? %>
      <li>
        <div data-role="fieldcontain" class="field">
          <label class="desc" for="lastName"><%= t('contacts.form.phone_number') %></label>
          <%= f.text_field :phone_number %>
        </div>
      </li>
    <% end %>
    
    <% @survey.questions.each do |question| %>
      <% case question.slug %>
      <% when 'email' %>
        <% if @person.email.blank? %>
          <li>
            <div data-role="fieldcontain" class="field">
              <label class="desc" for="email"><%= t('contacts.form.email') %></label>
              <%= f.text_field :email %>
            </div>
          </li>
        <% end %>
      <% else %>
        <li><div data-role="fieldcontain" class="field"><%= render 'survey/element', element: question %></div></li>
      <% end %>
    <% end %>			
  </ul>
  <div class="actionbarinline">
    <div data-role="fieldcontain"><%= f.submit "Submit" %></div>
  </div>
<% end %>

<% else %>
  <%= t('survey_responses.form.frozen') %>
<% end %>
