<%= render :partial => 'survey_responses/survey_response_sidebar' %>
<div class="titlebar titlebarmod">
  <h1>
    <%= t('survey_responses.edit.title', name: @person) %>
    <div id='global_loader'>
      <%= image_tag 'loader.gif'%>
    </div>
  </h1>
</div>

<%= form_for @person, url: contact_path(@person), method: :put do |f| %>
  <% if flash[:error] %>
    <div class="flash error"><%= raw flash[:error] %></div>
  <% end %>
  <div class="user_defined_contact_fields survey_edit">
    <% has_survey, has_edit_survey = false, false %>
    <div class="answer_survey_container">
      <% current_organization.surveys.each do |survey| %>
        <% @survey = survey %>
        <% answer_sheet = @person.answer_sheets.detect {|as| survey.id == as.survey_id} %>
        <% if answer_sheet.present? %>
          <% has_survey = true %>
          <% all_questions = survey.questions %>
          <% if all_questions.count > 0 %>
            <% has_edit_survey = true %>
            <div class="answer_survey_content">
              <div class="survey_title">
                <%= link_to survey.title, "##{'s_'+survey.id.to_s}", "name"=>'s_'+survey.id.to_s %>
              </div>
              <% all_questions.each do |question| %>
                <% next if ['email', 'phone_number'].include?(question.attribute_name) %>
                <div class="field">
                	<label><%= raw question.label %></label>
                	<%= render :partial => 'survey/' + question.ptemplate, object: question, locals: {col: nil, answer_sheet: answer_sheet, survey: survey, person: @person} %>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="answer_survey_content">
              <div class="survey_title">
                <%= link_to survey.title, "##{'s_'+survey.id.to_s}", "name"=>'s_'+survey.id.to_s %>
              </div>
              <div class="field">
                <%= t('survey_responses.all_predefined_have_answered') %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if has_survey %>
    <% if has_edit_survey %>
      <%= submit_tag t('general.save') %>
    <% end %>
  <% else %>
    <div class="feed_box notice">
      <%= t('survey_responses.no_surveys') %>
    </div>
  <% end %>
<% end %>