<% provide :sidebar do %>
  <div id="ac_sidebar">
    <div id="upper_sidebar_lists">
      <%= link_to raw("<button class='red_accent full_width_button'>#{t('people.left_sidebar.profile', name: @person.first_name)}</button>"), profile_path(@person) %>
      <% if params[:action] == "edit" %>
        <%= link_to raw("<button class='action_gray full_width_button'>#{t('people.left_sidebar.survey_answers')}</button>"), survey_response_path(@person) %>
      <% else %>
        <%= link_to raw("<button class='action_gray full_width_button'>#{t('interactions.edit_survey_results')}</button>"), edit_survey_response_path(@person) %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="titlebar titlebarmod">
  <h1>
    <%= t('survey_responses.show.title', name: @person) %>
    <div id='global_loader'>
      <%= image_tag 'loader.gif'%>
    </div>
  </h1>
</div>

<% if @completed_answer_sheets.present? && @completed_answer_sheets.count %>
  <% @completed_answer_sheets.each do |answer_sheet| %>
    <% if answer_sheet.answers.count > 0 %>
      <%= render partial: 'interactions/survey_feed', locals: {answer_sheet: answer_sheet} %>
    <% end %>
  <% end %>
<% else %>
  <div class="feed_box notice">
    No completed surveys yet.
  </div>
<% end %>
