<% provide :sidebar do %>
  <%= render :partial => 'people/left_sidebar' %>
<% end %>
<div class="titlebar">
  <h1>
    <%= image_tag("contact.png") %>
    <%= t('.title', name: @person) %>
  </h1>
</div>
<div class="pad">
  <div id="survey_answers">
    <% has_answers = false %>
    <ul>
      <% current_organization.surveys.flatten.uniq.each do |survey| %>
        <% answer_sheet = @person.answer_sheets.detect {|as| survey.id == as.survey_id} %>
        <% survey.all_questions.each do |q| %>
          <% answer = q.display_response(answer_sheet) %>
          <% if answer.present? %>
            <% has_answers = true %>
            <li><%= q.label %><%= ':' unless q.label[-1] =~ /\.;:\?/ %> <%= answer %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
    <% unless has_answers %>
      <%= t('.no_answers', name: @person) %><br/><br/>
    <% end %>
  </div>
  <%= link_to(t('.edit_answers'), edit_survey_response_path(@person)) %>
</div>
