<% provide :title, t('.thanks') %>
<% redirect_url = cookies[:survey_mode].present? ? contact_form_url(@keyword.keyword) : sign_out_url %>
<div class="info">
  <center><h4><%= @keyword.post_survey_message.present? ? @keyword.post_survey_message : t('contacts.thanks.message') %></h4></center>
	<br><br>

  <% if mhub? && user_signed_in? %>
  	<script type="text/javascript">
      setTimeout(function() {
  			window.location="<%= facebook_logout_url(next: redirect_url) %>";      
      }, 8000)
  	</script>
  <% end %>
	<div id="countdown">
		<center>
		  <% if user_signed_in? %>
  			<h4><%= t('contacts.thanks.facebook')%></h4>
  			<br><br>
  			<h3><%= link_to(t('contacts.thanks.done'), facebook_logout_url(next: redirect_url)) %></h3>
  	  <% else %>
			  <h3><%= link_to(t('contacts.thanks.done'), redirect_url) %></h3>
			<% end %>
		</center>
	</div>
</div>
