<li id="<%= dom_id(followup_comment) %>">
  <a class="profilepic">
    <%= image_tag("https://graph.facebook.com/#{followup_comment.commenter.fb_uid}/picture", alt: '') %>
  </a>
  <div class="commentcontent">
    <div class="meta">
      <strong><%= followup_comment.commenter %></strong>
      <span class="status"><%= t("contacts.statuses.#{followup_comment.status}") %></span>
      <span class="date"><%= time_ago_in_words(followup_comment.created_at) %></span>
      <span class="delete"><%= link_to('delete', followup_comment_path(followup_comment), method: :delete, remote: true, onclick: "$(this).closest('li').fadeOut()") %>
    </div>
    <% if followup_comment.rejoicables.present? %>
      <ul class="rejoicables">
        <% followup_comment.rejoicables.each do |r| %>
          <li><%= r %></li>
        <% end %>
      </ul>
    <% end %>
    <p><%= followup_comment.comment %></p>
  </div>
</li>
