<% provide :sidebar do %>
  <ul class="leftmenu">
    <% selected_class = "selected" %>
    <% if params[:controller] == 'followup_comments' %>
      <% selected_class = "" %>
    <% end %>
    <li class="<%= selected_class if params[:status] == 'all' %>">
      <%= link_to(t('contacts.mine.all'), mine_contacts_path(status: 'all')) %>
    </li>
    <li class="<%= selected_class unless params[:status] == 'completed' || params[:status] == 'all' %>">
      <%= link_to(t('contacts.mine.in_progress'), mine_contacts_path) %>
    </li>
    <li class="<%= selected_class if params[:status] == 'completed' %>">
      <%= link_to(t('contacts.mine.completed'), mine_contacts_path(status: 'completed')) %>
    </li>
    <li class="<%= selected_class if params[:status] == 'detailed' %>">
      <%= link_to(t('contacts.mine.detailed'), contacts_path(assigned_to: current_person.id, status: 'detailed')) %>
    </li>
    <li class="<%= 'selected' if params[:controller] == 'followup_comments' %>">
      <%= link_to(t('contacts.mine.comments'), followup_comments_path) %>
    </li>
  </ul>
<% end %>

<div class="titlebar">  
  <h1>
    <%= image_tag("c_survey.png") %>
    <%= t('.comments_title') %>
  </h1>
</div>

<div class="pagemenu">
  <ul class="pillmenu">
    <li><%= link_to(t('.filter'), '#', id: 'filter_link') %></li>
  </ul>
  <%= render 'search' %>
</div>

<table class="listing" cellpadding="0" cellspacing="0">
  <tr>
    <th>&nbsp;</th>
    <th><%= sort_link @q, 'firstName', t('.first_name') %></th>
    <th><%= sort_link @q, 'lastName', t('.last_name') %></th>
    <th><%= sort_link @q, 'comment', t('comment') %></th>
    <th><%= sort_link @q, 'created_at', t('date_commented') %></th>
    <th><%= sort_link @q, 'status', t('status') %></th>
  </tr>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td>&nbsp;</td>
        <td><%= comment.contact.firstName %></td>
        <td><%= comment.contact.lastName %></td>
        <td><%= comment.comment %></td>
        <td><%= comment.created_at %></td>
        <td><%= comment.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
