<div class="controlbar">
  <a href="/organizations"><%= t('.back_to_orgs') %></a>
</div>

<div class="titlebar">
  <h1><%= t('.title', org: @organization) %></h1>
  <!-- <p>
    From this screen you can edit, delete or rearrange your organizations. Clicking "Add new organization"<br/>
    will do a quick add by name. To edit more details, permissions and other info, select "edit" from the item's<br/>
    name on the list.
  </p> -->
</div>

<%= form_for @organization, validate: true do |f| %>
  <div class="customform group_form">
    <div class="sfield">
      <div class="ls">
        <%= f.label :name %>
        <%= tip(t('organizations.edit.name_explain')) %>
      </div>
      <div class="rs">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="sfield">
      <div class="ls">
        <%= f.label :terminology %>
        <%= tip(t('organizations.edit.term_explain')) %>
      </div>
      <div class="rs">
        <%= f.text_field :terminology %>
      </div>
    </div>
    <div class="sfield">
      <div class="ls"></div>
      <div class="rs"><%= f.check_box :show_sub_orgs %> <%= f.label :show_sub_orgs %></div>
    </div>
    <div class="formactions">
      <div class="sfield">
        <div class="ls"></div>
        <div class="rs">
          <div class="sidebyside">
          <div class="element">
            <%= f.submit %>
          </div>
          <div class="element" style="vertical-align: middle; height: 29px; line-height: 39px;">
            <%= link_to(t('.back'), :back, :class=> "cancel")%>
          </div>
        </div>
      </div>
    </div>
    <div class="formactions dangerzone">
          <h3>Danger Zone</h3>
          <div class="content">
          <p>Deleting this Organization will also delete all sub organizations under this organization. Deleting an organization cannot be undone! Be certain that you want to delete this item before proceeding</p>
          <hr/>
          <p style="margin-top: 15px;"><%= link_to(t('.delete'), organization_path(@organization), method: :delete, class: 'delete cleangray', confirm: t('.delete_confirm', terminology: @organization.terminology))%></p>
          </div>
      
    </div>
  </div>
<% end %>