<% provide :sidebar do %>
  <div id="ac_sidebar">
    <div id="upper_sidebar_lists">
      <%= link_to raw("<button class='red_accent full_width_button'>#{t('.edit_button', org: current_organization)}</button>"), edit_organization_path(current_organization) %>

      <% if current_organization.conference_id %>
        <%= link_to raw("<button class='action_gray full_width_button'>#{t('.re_import_button')}</button>"), update_from_crs_organization_path(current_organization) %>
      <% end %>

      <% if current_organization.children.count > 0 %>
        <%= link_to raw("<button class='action_gray full_width_button'>#{t('organizations.index.add_a_sub_org', terminology: current_organization.children.count ? current_organization.children.first.terminology : current_organization.terminology)}</button>"), '#', class: "add_sub_org", "data-parent-id"=>current_organization.id %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="titlebar titlebarmod">
  <h1>
    <%= t('.title', org: current_organization) %>
    <div id='global_loader'>
      <%= image_tag 'loader.gif'%>
    </div>
  </h1>
</div>

<div>
  <p class="explanation1">
    <%= raw(t('.form_explaination')) %>
  </p>
	<div class="orgwrap">
  	<div id="orgs" style="<%= 'display:none' if current_organization.children.length == 0 %>">
  	  <%= render 'org_column', parent: current_organization %>
  	  <div class="org_column" id="spinner_column" style="display:none">
    		<a class="org_new">+ </a>
    		<ul>
    		  <li><%= image_tag('spinner.gif') %></li>
    		</ul>
  	  </div>
  	</div>
	</div>

  <%= link_to(t('.crs_import_link'), '#', class: 'import_from_crs_link') %>
  <%= tip(t('.crs_import_tip')) %>
</div>

<!-- Add new organization dialog -->
<%= render 'add_org', organization: Organization.new %>

<!-- Import from CRS dialog -->
<%= render 'add_org_from_crs', organization: Organization.new(parent_id: current_organization) %>

