<% root_org = current_organization %>
<div class="titlebar titlebarmod">
	<h1>Organizations</h1>
</div>

<div style="padding: 0 20px;">
	<p>From this screen you can edit, delete or rearrange your organizations. Clicking "Add new organization"<br/>will do a quick add by name. To edit more details, permissions and other info, select "edit" from the item's<br/>name on the list.</p>
  
	<h2><%= root_org %> <small><%= link_to(t('general.edit'), edit_organization_path(root_org)) %></small></h2>
  <% if root_org.conference_id %>
    <%= link_to('Re-import conference data', update_from_crs_organization_path(root_org)) %>
    <br />
  <% end %>
	
	<% if root_org.children.length == 0 %>
	  <br/><%= link_to(t('.add_sub_org', terminology: root_org.terminology.pluralize), '#', id: 'add_sub_orgs') %>
	<% end %>
	<div class="orgwrap">
	<div id="orgs" style="<%= 'display:none' if root_org.children.length == 0 %>">
	  <%= render 'org_column', parent: root_org %>
	  <div class="org_column" id="spinner_column" style="display:none">
		<a class="org_new">+ </a>
		<ul>
		  <li><%= image_tag('spinner.gif') %></li>
		</ul>
	  </div>
	</div>
	</div>
	
  <%= link_to(t('.crs_import_link'), '#', class: 'import_from_crs_link') %>
  <%= tip(t('.crs_import_tip')) %>

  <div id="import_from_crs" style="display:none" title="<%= t('.add') %>" class="fingerme">
    <%= render 'add_org_from_crs', organization: Organization.new(parent_id: current_organization) %>
  </div>

	<div id="new_org" style="display:none" title="<%= t('.add') %>" class="fingerme">
	  <%= render 'add_org', organization: Organization.new %>
	</div>
</div>
