<div id="roundwrap">

  <div id="yourorg_trans"><%= t('organizations.new.your_org') %></div>
  <%= image_tag("org.png", :class => "orgdiag") %>

  <div class="titlebar">
    <h1><%= t('.title', org: @organization) %></h1>
    <p><%= t('organizations.edit.form_description') %></p>
  </div>

  <%= form_for @organization, url: signup_organizations_path, validate: true do |f| %>
    <%= f.hidden_field :person_id %>
    <div class="customform signup_org">
      <div class="sfield">
        <div>
          <%= f.label :organization_name %>
          <%= tip(t('organizations.edit.name_explain')) %>
        </div>
        <div class="rs">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="sfield">
        <div>
          <%= f.label :terminology %>
          <%= tip(t('organizations.edit.term_explain')) %>
        </div>
        <div class="rs">
          <%= f.text_field :terminology, :placeholder => "eg. Church, Company, Ministry" %>
        </div>
      </div>
      <div class="formactions">
        <div class="sfield">
          <div class="ls"></div>
          <div class="rs">
            <div class="sidebyside">
            <div class="element">
              <%= f.submit(t('.signup')) %>
            </div>
            <div class="element">
              <%= link_to("Cancel and return","Cancel") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>