<% provide :sidebar do %>
  <div id="ac_sidebar">
    <div id="search-sidebar">
      <%= form_tag signatures_organizations_path, method: :get, id: "advanced_search_form", autocomplete: "off", enforce_utf8: false do %>
        <div id="side-search-any" class="category">
          <%= text_field_tag :search_any, params[:search_any], class: "side-search-field smaller-font", placeholder: t("search.sidebar.search_name") %>
        	<button class="action_gray" id="search_any_button">
        	  <%= image_tag "icon-search.png" %>
        	</button>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="titlebar titlebarmod">
  <h1><%= t("signatures.title")%></h1>
</div>

<div id="ac_contact_spread">
  <div id="ac_button_bar">
  	<ul class="button_bar">
  		<li class="action_lightblue">
  		  <%= link_to t('signatures.download'), signatures_organizations_path(params: params.except(:action, :controller).merge(format: true)), class: "tipitmiddle", title: t('signatures.download_guide')%>
  		</li>
  	</ul>
  </div>
  <div id="ac_contact_list">
    <div>
      <table class="listing contact_listing" cellpadding="0" cellspacing="0">
        <tr id="table_header">
          <th>
            <%= sort_link @q, :date_signed_at, t("signatures.date_signed_at"), params %>
          </th>
          <th class="first_name">
            <%= sort_link @q, :first_name, t("general.first_name"), params %>
          </th>
          <th class="last_name">
            <%= sort_link @q, :last_name, t("general.last_name"), params %>
          </th>
          <th>
            <%= sort_link @q, :code_of_conduct_status, t("signatures.code_of_conduct.title"), params %>
          </th>
          <th>
            <%= sort_link @q, :statement_of_faith_status, t("signatures.statement_of_faith.title"), params %>
          </th>
          <th>
            <%= sort_link @q, :organization, t("general.organization"), params %>
          </th>
        </tr>
        <tbody id="contacts_table">
          <% if @person_signatures.present? %>
            <% @person_signatures.includes(:person, :organization).each do |person_signature| %>
              <tr>
                <td class="cell no_wrap">
                  <%= person_signature.date_signed_at.present? ? l(person_signature.date_signed_at, format: :date) : "" %>
                </td>
                <td class="cell no_wrap">
                  <%= link_to person_signature.person.first_name, profile_path(person_signature.person) %>
                </td>
                <td class="cell no_wrap">
                  <%= link_to person_signature.person.last_name, profile_path(person_signature.person) %>
                </td>
                <td class="cell no_wrap"><%= person_signature.signature_status(Signature::SIGNATURE_CODE_OF_CONDUCT).try(:humanize) %></td>
                <td class="cell no_wrap"><%= person_signature.signature_status(Signature::SIGNATURE_STATEMENT_OF_FAITH).try(:humanize) %></td>
                <td class="cell no_wrap"><%= person_signature.organization.name %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <% if @person_signatures.present? %>
      <div class="pagination_area">
        <div class="pagination_links">
          <%= paginate(@person_signatures, remote: true, params: {controller: "organizations", action: "signatures", paginate: true}) %>
        </div>
        <div class="pagination_info">
          <%= page_entries_info(@person_signatures).gsub("all","").gsub("person","").squeeze(" ").html_safe %>
        </div>
      </div>
    <% else %>
      <div class="contentpad no_contacts">
        <%= t("contacts.index.no_contacts") %>
      </div>
  	<% end %>
  </div>
</div>