<div class="inside_container">
	<div class="titlebar titlebarmod">
		<h1>
			100% Sent
		</h1>
	</div>
	<div>
		<h1 class="title"><%= t('.title') %></h1>
		<%= link_to "Help Me", "http://blog.missionhub.com", target: '_blank', class: 'helpme' %>
		<div class="container">
			<div class="content">
				<%= form_for "transfer", url: do_transfer_organizations_path, html: {method: 'post'} do |f| %>
					<table class="header_table">
						<tr>
							<th>
							  <%= check_box_tag "select_all_transfer" %>
							</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Assigned To</th>
							<th>Graduation Date</th>
						</tr>
					</table>
					<div class="transfer_info">
						<table id="pending_transfer_list">
						  <% @pending_transfer.each do |person| %>
                <%= render partial: 'pending_transfer', locals: {person: person, f: f} %>
  						<% end %>
						</table>
					</div>
					<div class="transfer_actions actions_92">
						<div class="info_left">
							<div class="select_option">
							  <%= check_box_tag "tag_as_alumni" %>
							</div>
							<div class="options">
								<span class="pri_text"><%= t('.set_alumni') %></span>
								<br/>
								<span class="sec_text"><%= t('.set_alumni_desc') %></span>
							</div>
							<div class="select_option">
							  <%= check_box_tag "tag_as_archived" %>
							</div>
							<div>
								<span class="pri_text"><%= t('.set_archived') %></span>
								<br/>
								<span class="sec_text"><%= t('.set_archived_desc') %></span>
							</div>
						</div>
						<div class="info_right">
						  <%= text_field_tag 'add_sent_contact', "", placeholder: 'Add contact to this list' %><br/>
							<%= link_to "Cancel", '/contacts', class: 'action_button', id: 'cancel_transfer' %>
							<%= f.submit 'Transfer', class: 'action_button', id: 'begin_transfer' %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
