<div class="inside_container">
	<div class="titlebar titlebarmod">  
		<h1>
			100% Sent
		</h1>
	</div>
	<div>
		<h1 class="title">Contacts Pending Transfer to 100% Sent</h1>
		<a href="http://blog.missionhub.com" class="helpme" target="_blank">Help Me</a>
		<div class="container">
			<div class="content">
				<form>
					<table class="header_table">
						<tr>
							<th><input type="checkbox" name="select_all" value="select_all"></th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Assigned To</th>
							<th>Graduation Date</th>
						</tr>
					</table>
					<div class="transfer_info">
						<table>
						  <% @pending_transfer.each do |person| %>
						    <% assigned_to = person.assigned_tos_by_org(current_organization) %>
  							<tr>
  								<td><input type="checkbox" name="contact" value="contact_1"></td>
  								<td><%= person.first_name %></td>
  								<td><%= person.last_name %></td>
  								<td><%= assigned_to.present? ? assigned_to.first.person : "" %></td>
  								<td><%= person.graduation_date %></td>
  							</tr>
  						<% end %>
						</table>
					</div>
					<div class="transfer_actions actions_92">
						<div class="info_left">
							<div class="select_option">
								<input type="checkbox" name="select_all" value="select_all">
							</div>
							<div class="options">
								<span class="pri_text">Label transferred contacts as Alumni</span><br/><span class="sec_text">(description of what labeling as 'Alumni' will do.)</span>
							</div>
							<div class="select_option">
								<input type="checkbox" name="select_all" value="select_all">
							</div>
							<div>
								<span class="pri_text">Archive transferred contacts</span><br/><span class="sec_text">(description of what archiving will do.)</span>
							</div>
						</div>
						<div class="info_right">
						  <%= text_field_tag 'add_sent_contact', "", placeholder: 'Add contact to this list' %><br/>
							<a href="#" id="cancel_transfer" class="action_button">Cancel</a>
							<input id="begin_transfer" class="action_button" type="submit" value="Transfer" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>