<%= form_for(@sms_keyword) do |f| %>
  <% if @sms_keyword.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sms_keyword.errors.count, "error") %> prohibited this sms_keyword from being saved:</h2>

      <ul>
      <% @sms_keyword.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :keyword %><br />
    <%= tip("This is what people will type into their phone. For example: when you say 'text <strong>ccc</strong> to 69940', 'ccc' is the keyword.") %>
    <%= f.text_field :keyword %>
  </div>
  <div class="field">
    <%= f.label :explanation, 'Please explain what you plan to use this keyword for.' %><br />
    <%= f.text_area :explanation %>
  </div>
  <!-- <div class="field">
    <%= f.label :chartfield, 'A keyword costs $7/month. Please enter a chart field to be billed for this keyword.' %><br />
    <%= f.text_field :chartfield %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
