<%= form_for(@sms_keyword, validate: true, html: {id: 'sms_keyword_form'}) do |f| %>
  <%= error_messages_for :sms_keyword %>
  
  <div class="stepwrap rwidth">
    <div class="stepnumber">
      <%= image_tag("step1.png") %>
    </div>
    <div class="stepcontent"> 
      <% if @sms_keyword.new_record? %>
        <div class="field">
          <label for="sms_keyword_<%= :keyword %>">
            <%= t('sms_keywords.form.keyword') + ": " + t('sms_keywords.form.keyword_tip') %>
            <%= tip(t('sms_keywords.form.keyword_instruct')) %>
          </label>
          <%= f.text_field :keyword, :placeholder => "Shorter keywords are better" %>
        </div>
      <% else %>
        <div class="keywordname tipthis" title="<%= t('sms_keywords.form.keyword_locked') %>">
          <%=  t('sms_keywords.form.keyword') %>: <%= @sms_keyword.keyword %>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :explanation, t('sms_keywords.form.explanation') %>
        <%= f.text_area :explanation, rows: 5, placeholder: t("keywords.form.keyword_why") %>
      </div>
    </div>
  </div>
  <div class="stepwrap rwidth">
    <div class="stepnumber">
      <%= image_tag("step2.png") %>
    </div>
    <div class="stepcontent">    
      <div class="field">
        <label for="sms_keyword_initial_response">
          <%= raw(t('sms_keywords.form.initial_response')) %> 
          <%= tip(t('sms_keywords.form.post_survey_why')) %>
        </label>
        <%= f.text_area :initial_response, rows: 3 %>
      </div>
      
      
    </div>
  </div>
  
  <div class="stepwrap rwidth">
    <div class="stepnumber">
      <%= image_tag("step3.png") %>
    </div>
    <div class="stepcontent"> 
      <div class="field">
        <%= f.label :survey_id, raw(t('helpers.label.sms_keyword.survey_id') + ' ' + tip(t('.associated_survey_tip'))) %>
        <%= f.select :survey_id, current_organization.self_and_children_surveys %>
      </div>
      <div class="actions">
        <%= f.submit %> <%= t('sms_keywords.form.note') if @sms_keyword.new_record? %>
      </div>
    </div>
  </div>
<% end %>
