<%= render 'sms_keywords/keywords_sidebar' %>

<div class="titlebar titlebarmod">
  <h1>
    <%= t('nav.keywords') %>
    <div id='global_loader'>
      <%= image_tag 'loader.gif'%>
    </div>
  </h1>
</div>

<div id="ac_button_bar">
	<ul class="button_bar">
		<li class="inlinehelp">
      <%= t('general.survey_help_desc') %><b><%= t('general.survey_text_help_desc') %></b>
		</li>
	</ul>
</div>
<br/>

<div id="ac_contact_spread">
  <table class="listing contact_listing" cellpadding="0" cellspacing="0">
    <tr id="table_header">
      <th>
        <%= t("general.keyword") %>
        <div class="icon help tipitright help_bubble_keyword " title="<%= t('welcome.index.request_key_help') %>"></div>
      </th>
      <th><%= t("general.status") %></th>
      <th><%= t("general.survey") %></th>
      <th>&nbsp;</th>
    </tr>
    <tbody>
      <% @keywords.each do |keyword| %>
        <%= render partial: 'sms_keywords/keyword', locals: {keyword: keyword}%>
      <% end %>
    </tbody>
  </table>

  <% if @keywords.blank? %>
    <div class="contentpad no_contacts">
      <%= t('surveys.index_admin.no_keywords') %>
    </div>
	<% end %>
</div>