<% if can? :manage, SmsKeyword %>
  <h3><%= t("ma.welcome.home.keywords") %></h3>
  <table border="0" cellspacing="5" cellpadding="0">
    <tr>
      <th><%= t("ma.general.keyword") %></th>
      <th><%= t("ma.general.status") %></th>
      <th>&nbsp;</th>
    </tr>
    <% @keywords.each do |keyword| %>
      <tr>
        <td><%= keyword.keyword %></td>
        <td><%= keyword.state %></td>
        <td><%= link_to t("ma.welcome.home.manage_questions"), sms_keyword_questions_path(keyword) %></td>
        <td><%= link_to t("ma.welcome.home.edit_keyword"), edit_sms_keyword_path(keyword) %></td>
        <td><%= link_to t("ma.welcome.home.delete"), sms_keyword_path(keyword), method: :delete, confirm: "Are you sure you want to delete this keyword?" %></td>
      </tr>
    <% end %>
  </table>
  <% if current_user.sms_keywords.present? %>
    <%= link_to(t("ma.welcome.home.request_another_key"), new_sms_keyword_path) %>
  <% else %>
    <%= link_to(t("ma.welcome.index.request_key"), new_sms_keyword_path) %>
  <% end %>
<% end %>