<h1>Listing keyword_requests</h1>

<table>
  <tr>
    <th>Message</th>
    <th>Keyword</th>
    <th>User</th>
    <th>Community</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @keyword_requests.each do |keyword_request| %>
  <tr>
    <td><%= keyword_request.explanation %></td>
    <td><%= keyword_request.keyword %></td>
    <td><%= keyword_request.user_id %></td>
    <td><%= link_to 'Show', keyword_request %></td>
    <td><%= link_to 'Edit', edit_keyword_request_path(keyword_request) %></td>
    <td><%= link_to 'Destroy', keyword_request, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Keyword request', new_keyword_request_path %>
