<h1>Listing sms_keywords</h1>

<table>
  <tr>
    <th>Message</th>
    <th>Keyword</th>
    <th>User</th>
    <th>Community</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sms_keywords.each do |sms_keyword| %>
  <tr>
    <td><%= sms_keyword.explanation %></td>
    <td><%= sms_keyword.keyword %></td>
    <td><%= sms_keyword.user_id %></td>
    <td><%= link_to 'Show', sms_keyword %></td>
    <td><%= link_to 'Edit', edit_sms_keyword_path(sms_keyword) %></td>
    <td><%= link_to 'Destroy', sms_keyword, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Keyword request', new_sms_keyword_path %>
