<% provide :sidebar do %>
  <ul class="leftmenu">
    <li class="selected"><a href="/sms_keywords"><%= t('sms_keywords.edit.keywords') %></a></li>
    <li><%= link_to(t('.request_keyword'), new_sms_keyword_path) %></li>
  </ul>
<% end %>



<% if can? :manage, SmsKeyword %>
  <div class="titlebar">
    <h1><%= image_tag("c_survey.png") %><%= t('nav.keywords') %></h1>
  </div>
  <div class="pagemenu">
    <ul class="pillmenu">
      <li>
        <% if current_organization.self_and_children_surveys.present? %>
          <%= link_to(t("welcome.index.request_key"), new_sms_keyword_path) %>
        <% else %>
          <%= link_to(t(".create_survey_first"), new_survey_path) %>
        <% end %>
      </li>
    </ul>
  </div>
  
  
  
  <table class="listing keywordtable" cellpadding="0" cellspacing="0">
    <tr>
      <th class="check"></th>
      <th>
        <%= t("general.keyword") %>
        <div class="icon help tipit help_bubble_keyword " title="<%= t('welcome.index.request_key_help') %>"></div>
      </th>
      <th><%= t("general.status") %></th>
      <th><%= t("general.survey") %></th>
      <th class="controls">&nbsp;</th>
    </tr>
    <% @keywords.each do |keyword| %>
      <tr>
        <td class="checkbox"></td>
        <td><%= keyword.keyword %></td>
        <td><%= keyword.state %></td>
        <td><%= link_to(keyword.survey, survey_questions_path(keyword.survey)) if keyword.survey %></td>
        <td class="controls">
          <%= link_to t("welcome.home.edit_keyword"), edit_sms_keyword_path(keyword), :class => "icon edit tipit", :title => "Edit Keyword" %>
          <%= link_to t("welcome.home.delete"), sms_keyword_path(keyword), method: :delete, confirm: t('.delete_confirm'), :class => "icon delete tipit", :title => t('.delete_tip') %>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="contentpad">
    
  </div>
<% end %>