<%= render 'sms_keywords/keywords_sidebar' %>

<div class="titlebar titlebarmod">
  <h1>
    <%= t('sms_keywords.index.request_keyword') %>
    <div id='global_loader'>
      <%= image_tag 'loader.gif'%>
    </div>
  </h1>
</div>

<p class="explanation1">
  <%= t('.choose_keyword_explanation_html', number: SmsKeyword::SHORT) %>
</p>

<%= render 'form' %>