<p>
  <b><%= t('.explanation') %></b>
  <%= @sms_keyword.explanation %>
</p>

<p>
  <b><%= t('.keyword') %></b>
  <%= @sms_keyword.keyword %>
</p>

<p>
  <strong><%= t('.status') %></strong>
  <%= @sms_keyword.state %>
</p>
<%= link_to t('general.back'), edit_sms_keyword_path(@sms_keyword) %>
