<%= link_to t('.show_advanced_options'), '#', id: 'advanced_toggle' %>
<br/>
<br/>
<div class="notify_advanced_options advanced_options hidden">
  <% survey_element = s.survey_elements.find_by_element_id(q.id) %>
  
  <% rule_notify = Rule.find_by_rule_code('AUTONOTIFY') %>
  <% auto_notify = survey_element.question_rules.find_by_rule_id(rule_notify.id) if survey_element %>
  <% notify_leaders = auto_notify.present? ? auto_notify.extra_parameters['leaders'] : [] %>
  <% notify_triggers = auto_notify.present? ? auto_notify.trigger_keywords : '' %>
  
  <% rule_assign = Rule.find_by_rule_code('AUTOASSIGN') %>
  <% auto_assign = survey_element.question_rules.find_by_rule_id(rule_assign.id) if survey_element %>
  <% assign_contact_to_type = auto_assign.present? ? auto_assign.extra_parameters['type'] : 'Leader' %>
  <% assignment_trigger_words = auto_assign.present? ? auto_assign.trigger_keywords : '' %>
  <% autoassign_keyword = auto_assign.present? ? auto_assign.extra_parameters['name'] : '' %>
  <% autoassign_selected_id = auto_assign.present? ? auto_assign.extra_parameters['id'] : '' %>
  
  <div class="rule_form" id="AUTONOTIFY">
    <div class="title">▶ Automatic Notification for Leaders</div>
    <div class="settings">
      <div class="label">
        <%= t('.autonotify_guide') %>
      </div>    
      <br/>
      <div class="label">
        <label><%= t('.autonotify_leader_label') %></label>
      </div>    
      <div class="fieldset">
        <%= select_tag 'leaders[]',
          options_for_select(@leaders.collect {|l| [l.name, l.id] }, :selected => notify_leaders),
          {:multiple => true, :size => 7 } %>
      </div>
      <div class="label">
        <%= f.label :trigger_words, raw(t('.autonotify_keywords_label')) %>
      </div>
      <div class="fieldset">
        <%= text_field_tag :trigger_words, notify_triggers %>
      </div>
    </div>
  </div>
  
  <div class="rule_form" id="AUTOASSIGN">
    <div class="title">▶ Automatic Assignment of Contacts</div>
    <div class="settings">
      <div class="label">
        <%= t('.autoassign_guide') %>
      </div>    
      <br/>
      <div class="label">
        <label><%= t('.autoassign_group_label') %></label>
      </div>    
      <div class="fieldset">
        <%= radio_button_tag :assign_contact_to, '', false, id: 'assign_to_leader', class: 'assign_to_radio',
          value: "Leader", checked: assign_contact_to_type == "Leader" ? true : false %> 
        <label for="assign_to_leader"><%= t('leader') %></label>
        <%= radio_button_tag :assign_contact_to, '', false, id: 'assign_to_ministry', class: 'assign_to_radio',
          value: "Ministry", checked: assign_contact_to_type == "Ministry" ? true : false %> 
        <label for="assign_to_org"><%= current_organization.terminology %></label>
        <%= radio_button_tag :assign_contact_to, '', false, id: 'assign_to_group', class: 'assign_to_radio',
          value: "Group", checked: assign_contact_to_type == "Group" ? true : false %>
        <label for="assign_to_group"><%= t('group') %></label>
        <%= radio_button_tag :assign_contact_to, '', false, id: 'assign_to_label', class: 'assign_to_radio',
          value: "Label", checked: assign_contact_to_type == "Label" ? true : false %>
        <label for="assign_to_label"><%= t('label') %></label> 
      </div>
      
      <div id="autoassign_suggestion" class="autoassign_window">
        <div class="label">
          <%= f.label :autoassign_keyword, "Search #{assign_contact_to_type}:" %>
        </div>
        <div class="fieldset">
          <%= text_field_tag :autoassign_keyword, autoassign_keyword, id: 'autoassign_autosuggest', 'data-survey-id'=>s.id %>
          <br/>
          <%= text_field_tag :autoassign_selected_id, autoassign_selected_id, id: 'autoassign_selected_id' %>
        </div>
      </div>
      
      <div class="label">
        <%= f.label :assignment_trigger_words, raw(t('.autoassign_keywords_label')) %>
      </div>
      <div class="fieldset">
        <%= text_field_tag :assignment_trigger_words, assignment_trigger_words %>
      </div>
    </div>
  </div>
  
  <div class="rule_form" id="AUTONOTIFY">
    <div class="title">▶ Other Options</div>
    <div class="settings">
      <div class="label">
        <%= f.label :notify_via, t('.notify_via') %>
      </div>    
      <div class="fieldset">
        <%= f.select :notify_via, ["SMS","Email","Both"] %>
      </div>
      <div class="label">
       <%= f.check_box :web_only, id: "web_only_#{f.object.id}", class: 'web_only' %> <%= t('.web_only') %><br /><br/>
      </div>
    </div>
  </div>
</div>

