<div id="advanced_options" style="<%= 'display:none;' if q.trigger_words.blank? %> width: 300px;">
  <div class="field">
    <label><%= t('.leaders') %></label>
  
    <%= select_tag 'leaders[]',
    options_for_select(@leaders.collect {|l| [l.name, l.id] }, :selected => q.leaders.collect {|l| l.id}), {:multiple => true, :size => 7 } %>
  </div>
  <div class="field">
    <%= f.label :trigger_words,(raw t('.trigger_words')) %>
    <%= f.text_field :trigger_words %>
  </div>
  <div class="field">
    <%= f.label :notify_via, t('.notify_via') %>
    <%= f.select :notify_via, ["SMS","Email","Both"] %>
  </div>
</div>

