<%= link_to t('.show_advanced_options'), '#', id: 'advanced_toggle' %>
<br/>
<br/>
<div class="notify_advanced_options advanced_options hidden">
  <% survey_element = s.survey_elements.find_by_element_id(q.id) %>
  <% rule_notify = Rule.find_by_rule_code('AUTONOTIFY') %>
  <% if survey_element.present? && survey_element.rules.present? %>
    <% notify_leaders = survey_element.question_rules.find_by_rule_id(rule_notify.id).extra_parameters['leaders'] %>
    <% notify_triggers = survey_element.question_rules.find_by_rule_id(rule_notify.id).trigger_keywords %>
  <% else %>
    <% notify_leaders = [] %>
    <% notify_triggers = '' %>
  <% end %>
  
  <div class="rule_form" id="AUTONOTIFY">
    <div class="title">Automatic Notification for Leaders</div>
    <div class="settings">
      <div class="label">
        <%= t('.autonotify_guide') %>
      </div>    
      <br/>
      <div class="label">
        <label><%= t('.autonotify_leader_label') %></label>
      </div>    
      <div class="fieldset">
        <%= select_tag 'leaders[]',
          options_for_select(@leaders.collect {|l| [l.name, l.id] }, :selected => notify_leaders),
          {:multiple => true, :size => 7 } %>
      </div>
      <div class="label">
        <%= f.label :trigger_words, raw(t('.autonotify_keywords_label')) %>
      </div>
      <div class="fieldset">
        <%= text_field_tag :trigger_words, notify_triggers %>
      </div>
    </div>
  </div>
  
  <div class="rule_form" id="AUTONOTIFY">
    <div class="title">Automatic Assignment of Contacts</div>
    <div class="settings">
      <div class="label">
        <%= t('.autoassign_guide') %>
      </div>    
      <br/>
      <div class="label">
        <label><%= t('.autoassign_group_label') %></label>
      </div>    
      <div class="fieldset">
        <%= radio_button_tag :assign_contact_to, '', false, id: 'assign_to_leader', class: 'assign_to_radio' %> 
        <label for="assign_to_leader"><%= t('leader') %></label>
        <%= radio_button_tag :assign_contact_to, '', false, id: 'assign_to_org', class: 'assign_to_radio' %> 
        <label for="assign_to_org"><%= current_organization.terminology %></label>
        <%= radio_button_tag :assign_contact_to, '', false, id: 'assign_to_group', class: 'assign_to_radio' %>
        <label for="assign_to_group"><%= t('group') %></label>
        <%= radio_button_tag :assign_contact_to, '', false, id: 'assign_to_label', class: 'assign_to_radio' %>
        <label for="assign_to_label"><%= t('label') %></label> 
      </div>
      <div class="label">
        <%= f.label :trigger_words, raw(t('.autoassign_keywords_label')) %>
      </div>
      <div class="fieldset">
        <%= text_field_tag :trigger_words, notify_triggers %>
      </div>
    </div>
  </div>
  
  <div class="rule_form" id="AUTONOTIFY">
    <div class="title">Other Options</div>
    <div class="settings">
      <div class="label">
        <%= f.label :notify_via, t('.notify_via') %>
      </div>    
      <div class="fieldset">
        <%= f.select :notify_via, ["SMS","Email","Both"] %>
      </div>
      <div class="label">
       <%= f.check_box :web_only, id: "web_only_#{f.object.id}", class: 'web_only' %> <%= t('.web_only') %><br /><br/>
      </div>
      <div class="fieldset">
        <%= text_field_tag :trigger_words, notify_triggers %>
      </div>
    </div>
  </div>
</div>

