<div class="titlebar">
  <h1><%= t('.manage') %></h1>
</div>

<div class="pagemenu">
  <ul class="pillmenu">
    <li><%= link_to('Preview Survey', start_survey_url(survey_id: @survey.id, host: APP_CONFIG['public_host'], port: APP_CONFIG['public_port']), target: '_blank')%></li>
    <li>     
      <% if session[:wizard] && wizard_path %>
        <%= link_to(t('nav.back_to_wizard'), wizard_path) %>
      <% else %>
        <% session[:wizard] = false %>
        <%= link_to(t('nav.back_to_dashboard'), user_root_path) %>
      <% end %>
    </li>
  </ul>
</div>

<% provide :sidebar do %>
  <%= render 'surveys/left_sidebar' %>
<% end %>

<div class="contentpad">
  <p class="inlinehelp">
    <%= t('general.survey_web_tip_html', link: start_survey_url(survey_id: @survey.id, host: APP_CONFIG['public_host'], port: APP_CONFIG['public_port'])) %>
  </p>
  
  <p><%= t('.note') %></p>
  
 
  
  
  <h3><%= t('.your_questions') %> <%= tip(t('questions.your_questions_help')) %></h3>
  <table border="0" cellspacing="0" cellpadding="0" class="yourquestions fakesort">
    <tbody>
      <tr>
        <td class="questiontitle"><%= t('contacts.index.first_name') %></td>
        <td></td>
        <td><span class="icon lock"></span></td>
      </tr>
      <tr>
        <td class="questiontitle"><%= t('contacts.index.last_name') %></td>
        <td></td>
        <td><span class="icon lock"></span></td>
      </tr>
      <tr>
        <td class="questiontitle"><%= t('contacts.index.phone_number') %></td>
        <td></td>
        <td><span class="icon lock"></span></td>
      </tr>
    </tbody>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" class="yourquestions">
    <tbody id="questions" data-sortable="true" data-sortable-url="<%= reorder_survey_questions_path(@survey) %>">
      <%= render partial: 'question', collection: @questions %>
    </tbody>
  </table>  
  
  <%= link_to('+ ' + t('.add_question'), '', id: 'add_question_link', class: "inlinebutton") %>
  <%= link_to('+ ' + t('.add_prev_question'), '', id: 'add_question_link', class: "inlinebutton") %>
  
  <h3><%= t('.archived_questions') %> <%= tip(t('questions.archived_help')) %></h3>
  <!-- <h3><%= t('.predefined') %> <%= tip(t('questions.predefined_help')) %></h3> -->
  <table border="0" cellspacing="5" cellpadding="0" class="yourquestions">
    <tbody id="predefined_questions">
      <% @predefined.questions.each do |question| %>
        <% unless @questions.include?(question) %>
          <%= render 'predefined_question', question: question %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <table border="0" cellspacing="5" cellpadding="0" class="yourquestions">
    <tbody id="archived_questions">
      <% @archived_questions.each do |question| %>
        <%= render 'predefined_question', question: question %>
      <% end %>
    </tbody>
  </table>
  
  
  <div id="question_form" style="display:none">
    <%= render 'form', question: Question.new %>
  </div>
  
  <script type="text/javascript" charset="utf-8">
    $(function() {
      $('#question_type').change()
    })
  </script>
</div>