<%= render 'surveys/surveys_sidebar' %>

<div class="titlebar titlebarmod">
  <h1>
    <%= t('.manage', survey: @survey) %>
    <div id='global_loader'>
      <%= image_tag 'loader.gif'%>
    </div>
  </h1>
</div>

<div id="ac_button_bar">
	<ul class="button_bar">
		<li class="inlinehelp">
      <%= t('general.survey_web_tip_html', link: short_survey_url(@survey.id, host: APP_CONFIG['public_host'], port: (APP_CONFIG['public_port'] == 80 ? nil : APP_CONFIG['public_port']))) %>
		</li>
	</ul>
</div>
<br/>

<div id="ac_contact_spread">
  <p><%= t('.note') %></p>
  <h3><%= t('.your_questions') %> <spab class='icon help tip help_bubble_keyword' title="<%= t('.your_questions_help') %>">&nbsp;</span></h3>

  <table border="0" cellspacing="0" cellpadding="0" class="yourquestions fakesort">
    <tbody>
      <tr>
        <td class="questiontitle"><%= Element.find_by_attribute_name('first_name').present? ? Element.find_by_attribute_name('first_name').label : "First Name:" %></td>
        <td></td>
        <td><span class="icon lock tipitleft" title="<%= t('.forced_tip') %>"></span></td>
      </tr>
      <tr>
        <td class="questiontitle"><%= Element.find_by_attribute_name('last_name').present? ? Element.find_by_attribute_name('last_name').label : "Last Name:" %></td>
        <td><span class="icon_holder"></span></td>
        <td><span class="icon lock tipitleft" title="<%= t('.forced_tip') %>"></span></td>
      </tr>
      <tr>
        <td class="questiontitle"><%= Element.find_by_attribute_name('phone_number').label %></td>
        <td></td>
        <td><span class="icon lock tipitleft" title="<%= t('.forced_tip') %>"></span></td>
      </tr>
    </tbody>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" class="yourquestions">
    <tbody id="questions" data-sortable="true" data-sortable-url="<%= reorder_survey_questions_path(@survey) %>">
      <%= render partial: 'question', collection: @questions %>
    </tbody>
  </table>

  <div class="button_block">
    <%= link_to(t('.add_question'), add_survey_question_path(@survey), {id:'add_suvey_question_link', remote: true, class: 'cleangray'}) %>
		<%= link_to(t('.add_prev_question'), '', id: 'add_old_question_link', class: "cleangray") %>
  </div>

  <div id='loading' class="hidden">
    <img src='/assets/loader.gif'>
    <br/>
    Loading Question
  </div>
  <div id='saving' class="hidden">
    <img src='/assets/loader.gif'>
    <br/>
    Saving Changes
  </div>
  <div id="create_question_form" class="hidden">
  </div>
  <div id="question_form" class="hidden">
  </div>
</div>

<!-- Previous Questions Dialog -->
<%= render 'surveys/questions/previous_used_questions' %>