  <div class="explain">
    <p><%= t('.survey_mode_instructions') %></p>
  </div>
  <%= form_for person, url: contacts_path, method: :post, remote: true do |f| %>
    <div id="add_contact_form">
      <div class="form_group_label">
        <%= t('.title_bio') %>
      </div>
      <div class="form_group_fields">
        <% if flash[:error] %>
          <div class="flash error red_errors">
            <%= raw flash[:error].gsub("Phone numbers number", "Phone number").gsub("Email addresses email", "Email") %>
          </div>
        <% end %>

        <%= hidden_field_tag :add_another %>
				<%= hidden_field_tag :add_to_group_tag, false %>
        <%= hidden_field_tag :add_to_group %>
        <%= hidden_field_tag :add_to_group_role %>
        <%= hidden_field_tag :assign_to_me, false, id: 'assign_new_contact_to_me' %>
        <%= hidden_field_tag :assigned_to, params[:assigned_to] %>
        <%= hidden_field_tag :dnc, params[:dnc] %>

        <%= render 'people/person_form', person: person %>
      </div>
      <div class="form_group_label">
        <%= t('.title_label') %>
        <span class='form_group_optional'>
          <%= t('.title_optional') %>
        </span>
      </div>
      <div class="form_group_fields">
        <% @selected_labels = flash[:selected_labels] if flash[:selected_labels].present? %>
        <%= render partial: 'shared/label_fields' %>
        <br/>
      </div>
      <div class="form_group_label remove_add_new_person_to_group">
        <%= t('.title_surveys') %>
        <span class='form_group_optional'>
          <%= t('.title_optional') %>
        </span>
      </div>

      <div class="form_group_fields user_defined_contact_fields remove_add_new_person_to_group">
        <% current_organization.surveys.each do |survey| %>
          <% if survey.questions.count > 0 %>
            <div class="survey_title add_contact_survey_title"><%= survey.title %></div>
            <% answer_sheet = @person.answer_sheets.detect {|as| survey.id == as.survey_id} if @person %>
            <% survey.questions.each do |question| %>
              <% next if ['first_name', 'last_name', 'email', 'phone_number', 'gender', 'country', 'state', 'city', 'address1', 'zip'].include?(question.attribute_name) %>
              <% answer = question.display_response(answer_sheet) %>
              <div class="field add_contact_survey_question_field">
              	<label><%= raw question.label %></label>
                
                <% @checked_or_val = false %>
                <% if flash[:selected_answers].present? %>
                  <% selected_answers = flash[:selected_answers] %>
                  <% if selected_answers.include?(survey.id.to_s) %>
                    <% @checked_or_val = selected_answers[survey.id.to_s][question.id.to_s] %>
                  <% end %>
                <% end %>
                
              	<%= render :partial => 'survey/' + question.ptemplate, object: question, locals: {col: nil, answer_sheet: answer_sheet, survey: survey } %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

    </div>
  <% end %>
