  <div class="explain">
    <p><%= t('.survey_mode_instructions') %></p>
  </div>
  <%= form_for person, url: contacts_path, method: :post, remote: true do |f| %>
    <div id="add_contact_form">
      <div class="form_group_label">
        <%= t('.title_bio') %>
      </div>
      <div class="form_group_fields">
        <% if flash[:error] %>
          <div class="flash error"><%= raw flash[:error] %></div>
        <% end %>

        <%= hidden_field_tag :add_another %>
        <%= hidden_field_tag :assign_to_me, false, id: 'assign_new_contact_to_me' %>
        <%= hidden_field_tag :assigned_to, params[:assigned_to] %>
        <%= hidden_field_tag :dnc, params[:dnc] %>

        <%= render 'people/person_form', person: person %>
      </div>
      <div class="form_group_label">
        <%= t('.title_label') %>
        <span class='form_group_optional'>
          <%= t('.title_optional') %>
        </span>
      </div>
      <div class="form_group_fields">
        <%= render partial: 'shared/label_fields' %>
        <br/>
      </div>
      <div class="form_group_label">
        <%= t('.title_surveys') %>
        <span class='form_group_optional'>
          <%= t('.title_optional') %>
        </span>
      </div>

      <div class="form_group_fields user_defined_contact_fields">
        <% current_organization.questions.uniq {|q| q.label}.each do |question| %>
          <% next if ['first_name', 'last_name', 'email', 'phone_number', 'gender', 'country', 'state', 'city', 'address1', 'zip'].include?(question.attribute_name) %>
          <div class="field">
          	<label><%= raw question.label %></label>
          	<%= render :partial => 'survey/' + question.ptemplate, :object => question, :locals => {:col => nil, :answer_sheet => @answer_sheet} %>
          </div>
        <% end %>
      </div>

    </div>
  <% end %>
