  <div class="explain">
    <p><%= t('.add_contact', org: current_organization) %></p>
    <p><%= t('.survey_mode_instructions') %></p>
  </div>

  <div id="add_contact_form">
    <%= form_for person, url: contacts_path, method: :post, remote: true do |f| %>
      <% if flash[:error] %>
        <div class="flash error"><%= raw flash[:error] %></div>
      <% end %>
      <%= hidden_field_tag :add_another %>
      <% if params[:action] == 'mine' %>
        <%= hidden_field_tag :assign_to_me, true, id: 'assign_new_contact_to_me' %>
      <% else %>
        <%= hidden_field_tag :assigned_to, params[:assigned_to] %>
        <%= hidden_field_tag :dnc, params[:dnc] %>
      <% end %>
      <%= render 'people/person_form', person: person %>
      
      <div class="user_defined_contact_fields">
        <% current_organization.questions.uniq {|q| q.label}.each do |question| %>
          <% next if ['email','phone'].include?(question.slug) %>
          <div class="field">
          	<label><%= raw question.label %></label>
          	<%= render :partial => 'questions/' + question.ptemplate, :object => question, :locals => {:col => nil, :answer_sheet => @answer_sheet} %>
          </div>
        <% end %>
      </div>

      <%= submit_tag t('.save_and_close'), class: 'save_and_close save' %>
      <%= submit_tag t('.save_and_add'), class: 'save_and_more save' %>
    <% end %>
    
    <%# if current_organization.keywords.length > 0 %>
      <!-- <br/><br/> -->
      <!-- <%# if current_organization.keywords.length > 1 %>
        <%# current_organization.keywords.each do |keyword| %>
          <%#= link_to raw("Enter Survey Mode for " + "<strong>" + "#{keyword.keyword}" + "</strong>"), facebook_logout_url(next: contact_form_url(keyword.keyword)), id: "show_keywords", class: "inlinebutton" %><br/>
        <%# end %>
      <%# else %>
        <%# keyword = current_organization.keywords.first %>
        <%#= link_to raw("Enter Survey Mode for " + "<strong>" + "#{keyword.keyword}" + "</strong>"), facebook_logout_url(next: contact_form_url(keyword.keyword)), id: "show_keywords", class: "inlinebutton" %><br/>
      <%# end %>
    
      <p>Survey mode allows you to see how the survey will look for your contacts.</p> -->
    <%# end %>
  </div>