  <div class="explain">
    <p>Add a contact to <%= current_organization %></p>
  </div>

  <div id="add_contact_form">
    <%= form_for person, url: contacts_path, method: :post, remote: true do |f| %>
      <% if flash[:error] %>
        <div class="flash error"><%= raw flash[:error] %></div>
      <% end %>
      <%= hidden_field_tag :add_another %>
      <% if params[:action] == 'mine' %>
        <%= hidden_field_tag :assign_to_me, true, id: 'assign_new_contact_to_me' %>
      <% else %>
        <%= hidden_field_tag :assigned_to, params[:assigned_to] %>
        <%= hidden_field_tag :dnc, params[:dnc] %>
      <% end %>
      <%= render 'people/person_form', person: person %>
      <br/>
      <%= submit_tag 'Save and close', class: 'save_and_close save' %>
      <%= submit_tag 'Save and add another', class: 'save_and_more save' %>
    <% end %>
    
    <br>
    OR
    <br>
    <% current_organization.keywords.each do |keyword| %>
      <%= link_to "Enter Survey Mode for #{keyword.keyword}", facebook_logout_url(next: contact_form_url(keyword.keyword)), id: "show_keywords" %><br>
    <% end %>
  </div>