<div id="assign_search" style="display:none" title="Assign">

  <div class="explain">
    <p><%= t('.assign_explanation') %></p>
  </div>

  <div class="modalfield">
    <%= radio_button_tag :assign_contact_to, current_person.id, true, id: 'assign_to_me', class: 'assign_to_radio' %>
    <label for="assign_to_me"><%= t('.me') %></label>
    <%= radio_button_tag :assign_contact_to, '', false, id: 'assign_to_unassigned', class: 'assign_to_radio' %>
    <label for="assign_to_unassigned"><%= t('contacts.index.unassigned') %></label>
    <%= radio_button_tag :assign_contact_to, '', false, id: 'assign_to_leader', class: 'assign_to_radio' %> 
    <label for="assign_to_leader"><%= t('leader') %></label>
    <%= radio_button_tag :assign_contact_to, '', false, id: 'assign_to_group', class: 'assign_to_radio' %>
    <label for="assign_to_group"><%= t('group') %></label>
    <%= radio_button_tag :assign_contact_to, 'do_not_contact', false, id: 'assign_to_dnc', class: 'assign_to_radio' %> 
    <label for="assign_to_dnc"><%= t('contacts.statuses.do_not_contact') %></label>  
  </div>
  <div class="leader_search modalresults" style="display:none">
    <p style="margin: 0 0 5px 0;"><%= t('.type_to_find_leader') %></p>
    <%= text_field_tag :leader_name, '', class: 'leader_search_name', autocomplete: 'off', placeholder: 'Type Here:' %>
    <div class="leaders_list">
      <ul>
        <% current_organization.only_leaders.each do |person| %>
          <li class="leader" data-id="<%= person.id %>"><span class="name"><%= link_to(person, '#') %></span></li>
        <% end %>
      </ul>
    </div>
  </div> 
  <div class="group_search modalresults" style="display:none">
    <p style="margin: 0 0 5px 0;"><%= t('.type_to_find_group') %></p>
    <%= text_field_tag :group_name, '', class: 'group_search_name', autocomplete: 'off', placeholder: 'Type Here:' %>
    <div class="groups_list">
      <ul>
        <% current_organization.groups.each do |group| %>
          <li class="group" data-group="<%= group.id %>" data-person="<%= @person.id %>">
            <span class="name">
              <%= link_to group.name, '#' %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="label_search modalresults" style="display:none">
    <p style="margin: 0 0 5px 0;"><%= t('.type_to_find_label') %></p>
    <%= text_field_tag :label_name, '', class: 'label_search_name', autocomplete: 'off', placeholder: 'Type Here:' %>
    <div class="labels_list">
      <ul>
        <% @roles_for_assign.each do |role| %>
          <li class="label" data-role="<%= role.id %>">
            <span class="name">
              <%= link_to role.to_s, '#' %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <div id="add_leader_form">
    
  </div>
  
  <%= submit_tag 'Assign', class: 'assign_button' %>
  
</div>
