<div id="assign_search" style="display:none" title="Assign To:">

  <div class="explain">
    <p>You can assign a contact using any of the options below:</p>
  </div>

  <div class="modalfield">
    <%= radio_button_tag :assign_contact_to, current_person.id, true, id: 'assign_to_me', class: 'assign_to_radio' %>
    <label for="assign_to_me">Me</label>
    <%= radio_button_tag :assign_contact_to, '', false, id: 'assign_to_unassigned', class: 'assign_to_radio' %>
    <label for="assign_to_unassigned">Unassigned</label>
    <%= radio_button_tag :assign_contact_to, '', false, id: 'assign_to_leader', class: 'assign_to_radio' %> 
    <label for="assign_to_leader">Leader</label>
    <%= radio_button_tag :assign_contact_to, '', false, id: 'assign_to_org', class: 'assign_to_radio' %> 
    <label for="assign_to_org"><%= current_organization.terminology %></label>
  </div>
  <div class="leader_search modalresults" style="display:none">
    <p style="margin: 0 0 5px 0;">Type to find a leader then click on the leader's name</p>
    <%= text_field_tag :leader_name, '', class: 'leader_search_name', autocomplete: 'off', placeholder: 'Type Here:' %>
    <div class="leaders_list">
      <ul>
        <% current_organization.leaders.each do |person| %>
          <li class="leader" data-id="<%= person.id %>"><span class="name"><%= link_to(person, '#') %></span></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="org_search modalresults" style="display:none">
    <p style="margin: 0 0 5px 0;">Type to find a <%= current_organization.terminology %> then click on the <%= current_organization.terminology %>'s name</p>
    <%= text_field_tag :org_name, '', class: 'org_search_name', autocomplete: 'off', placeholder: 'Type Here:' %>
    <%= spinner('org_search') %>
    <div class="orgs_list" data-org-id="<%= current_organization.id %>">
      <% orgs = current_person.organizations.collect {|top_org| ([top_org] + (top_org.show_sub_orgs? ? top_org.children : []))}.flatten %>
      <%= render 'organizations/search', organizations: orgs %>
    </div>
  </div>  
  
  <div id="add_leader_form">
    
  </div>
  
  <%= submit_tag 'Assign', class: 'assign_button' %>
  
</div>