<%= form_tag do %>
	<div id="new_question_form">
	
		<div class="form_group_label">
			Survey Info:
		</div>
		<div class="form_group_fields">
			<%= check_box_tag(:new_survey) %>
			<%= label_tag(:new_survey, "Create New Survey for Question") %>
			<br />
			<%= label_tag(:survey, "Name of New Survey:") %>
			<%= text_field(:survey, :name) %>
		</div>
		
		<div class="form_group_label">
			Question Info:
		</div>
		<div class="form_group_fields">
			<%= label_tag(:new_survey_name, "What type of question would you like to ask?") %>
			<br />
			<%= select_tag(:question_type, options_for_select([['Select Type', 0], ['One', 1], ['Two', 2]])) %>
			<br />
			<%= label_tag(:question, "Question:") %>
			<br />
			<%= text_field(:question, :text) %>
			<br />
			<%= label_tag(:header, "Column Header:") %>
			<br />
			<%= text_field(:header, :text) %>
		</div>
	
	</div>
<% end %>