<h1>Listing communities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Website</th>
    <th>Fbpage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @communities.each do |community| %>
  <tr>
    <td><%= community.name %></td>
    <td><%= community.website %></td>
    <td><%= community.fbpage %></td>
    <td><%= link_to 'Show', community %></td>
    <td><%= link_to 'Edit', edit_community_path(community) %></td>
    <td><%= link_to 'Destroy', community, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Community', new_community_path %>
