<p id="notice"><%= notice %></p>

<p>
  <b>Community Name:</b>
  <%= @community.name %>
</p>

<p>
  <b>school_id:</b>
  <%= @community.school_id %>
</p>

<p>
  <b>Website:</b>
  <%= @community.website %>
</p>

<p>
  <b>Fbpage:</b>
  <%= @community.fbpage %>
</p>


<%= link_to 'Edit', edit_community_path(@community) %> |
<%= link_to 'Back', communities_path %>
