<div id="profile_image">
  <%= image_tag(@person.get_avatar, alt: '', width: '200', height: '200', class:'change_avatar current_avatar_display') %>
  <div class="info change_avatar">
    <%= t("dialogs.dialog_avatar.change_avatar") %>
  </div>
  <% if @person.fb_uid.present? || @person.avatar.exists? %>
    |
    <div class="info">
      <%= link_to(t("dialogs.dialog_avatar.remove_avatar"), remove_avatar_profile_path, method: :post, data:{confirm: t("dialogs.dialog_avatar.confirm_remove")}) %>
    </div>
  <% end %>
</div>

<div id="profile_label_header">
	Labels
  <%= link_to image_tag("edit_sprite.png", class: 'tip', title: 'Manage Labels'), "#", id: "show_profile_labels_button" %>
</div>
<div id="profile_label_box">
  <% if @labels.present? %>
    <% @labels.each do |label| %>
      <div class='profile_label with_wrap tip' title="<%= label.name %>"><%= label.name %></div>
    <% end %>
  <% else %>
    <div class="no_labels">No labels assigned.</div>
	<% end %>
</div>


<div id="profile_group_header">
	Groups
  <%= link_to image_tag("edit_sprite.png", class: 'tip', title: 'Manage Groups'), "#", id: "show_profile_groups_button" %>
</div>
<div id="profile_group_box">
  <% if @groups.present? %>
    <% @groups.each do |group| %>
      <div class='profile_group'><%= group.name %></div>
    <% end %>
  <% else %>
    <div class="no_groups">No groups assigned.</div>
	<% end %>
</div>
