<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
  <!-- <%= current_person.id %> -->
</head>
<body id="<%= controller.controller_name %>_controller" class="<%= params[:action] %>">
  
  <div id="outer">
  
    <%= render 'shared/nav' %>
    
    <div id="rest">
    
      <div id="left">
        <%= link_to("", "/", id: "logo") %>
        <div class="block">
          <%= yield :sidebar %>
        </div>
      </div>
  
      <div id="main">    
        <div id="topmenu">
          <ul>
            <!-- <li><%#= link_to("Dashboard", user_root_path) %></li> -->
            <li class="selected"><%= link_to(t('nav.my_contacts'), "/contacts/mine") %></li>
            <li><%= link_to(image_tag("t_contact_white.png", :class=> "tmenu") + t('nav.all_contacts'), "/contacts") %></li>
            <!-- <li><%= link_to(t('nav.directory'), "/people") %></li> -->
            <% if can? :manage, SmsKeyword %>
              <li><%= link_to(image_tag("t_keyword_white.png", :class=> "tmenu") + t('nav.keywords'), sms_keywords_path) %></li>
            <% end %>
          </ul>
        </div>
        
        
        <% if notice %>
         <p class="notice" id="notice"><%= notice %></p>
        <% elsif alert %>
         <p class="alert" id="alert"><%= alert %></p>
        <% end %>
            
        <div class="<%= params[:action] %> carea">
          <%= yield %>
        </div>
      </div><!-- main -->
      
      <div class="clear"></div>
    </div>
    
  </div><!-- outer -->

</body>
</html>


