<% connect_pattern = /contacts|surveys|keywords/ %>
<% care_pattern = /people|groups/ %>
<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
</head>
<body id="<%= controller.controller_name %>_controller" class="<%= params[:action] %>">
  
  <div id="outer">
  
    <%= render 'shared/nav' %>
    
    <div id="rest">
      <div id="menugroups">
        <ul>
          <li class="<%= 'selected' if request.path =~ connect_pattern %>"><%= link_to("Connect", "/contacts") %></li>
          <li class="<%= 'selected' if request.path =~ care_pattern %>"><%= link_to("Care", "/people") %></li>
          <% if can? :manage, current_organization %>
            <li class="<%= 'selected' if params[:controller] == 'organizations' %>"><%= link_to(t('nav.organizations'), "/organizations") %></li>
          <% end %>
        </ul>
      </div>
      <div id="topmenu">
        <ul>
          <!-- <li><%#= link_to("Dashboard", user_root_path) %></li> -->
          <% case %>
          <% when request.path =~ connect_pattern %>
            <li class="<%= 'selected' if request.fullpath == '/contacts/mine' %>"><%= link_to(t('nav.my_contacts'), "/contacts/mine", :class => "topset mycontacts") %></li>
            <li class="<%= 'selected' if  params[:controller] == 'contacts' && params[:action] == 'index' %>"><%= link_to(t('nav.all_contacts'), "/contacts", :class => "topset allcontacts") %></li>
            <% if can? :manage, current_organization %>
              <li class="<%= 'selected' if params[:controller] == 'surveys' %>"><%= link_to(t('nav.surveys'), surveys_path, :class => "topset surveys") %></li>
              <li class="<%= 'selected' if params[:controller] == 'sms_keywords' %>"><%= link_to(t('nav.keywords'), sms_keywords_path, :class => "topset surveys") %></li>
            <% end %>
          <% when request.path =~ care_pattern %>
            <li class="<%= 'selected' if  params[:controller] == 'people' %>"><%= link_to(t('nav.directory'), "/people", :class => "topset directory") %></li>
            <% if can? :manage, current_organization %>
              <li class="<%= 'selected' if  params[:controller] == 'groups' %>"><%= link_to(t('nav.groups'), "/groups", :class => "topset groups") %></li>
            <% end %>
          <% when params[:controller] == 'organizations' %>
            <li class="<%= 'selected' if params[:controller] == 'organizations' %>"><%= link_to(t('nav.manage'), "/organizations", :class => "topset ") %></li>
            <!-- <li class=""><%= link_to("New", "/organizations/new", :class => "topset ") %></li> -->
          <% end %>
        </ul>
      </div>
    
      <div id="left">
        
        <div class="block">
          <%= yield :sidebar %>
        </div>
      </div>
  
      <div id="main">    
            
        <div class="<%= params[:action] %> carea">
          <% if flash && (flash[:error] || flash[:notice] || flash[:alert]) %>
            <div class="flash" style="margin:10px;width:770px">
              <% if flash[:error].present? || flash[:alert].present? %>
                <div class="flash_message error">
                  <p><%= flash[:error] || flash[:alert] %></p>
                </div>
              <% end %>

              <% if flash[:notice].present? %>
                <div class="flash_message notice">
                  <p><%= flash[:notice] %></p>
                </div>
              <% end %>
            </div>
          <% end %>
                
          <%= yield %>
        </div>
      </div><!-- main -->
      
      <div class="clear"></div>
    </div>
    
    <div class="footer">
      <%= link_to 'FAQ', 'http://wiki.uscm.org/display/MH/MissionHub+FAQ' %> |
      Can't find it in the <%= link_to 'FAQ', 'http://wiki.uscm.org/display/MH/MissionHub+FAQ' %>? <%= mail_to('support@missionhub.com', 'Shoot us an email', encode: 'javascript', replace_at: ' (at) ', replace_dot: ' (dot) ') %> |
      <%= link_to(t('nav.terms'), '/terms') %> |
      <%= link_to(t('nav.privacy'), '/privacy') %>
    </div>
    
  </div><!-- outer -->

</body>
</html>


