<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
  <!-- <%= current_person.id %> -->
  <script>
  	$(function(){
  	  $('.tipit[title]').qtip({
  	    position: {
          my: 'top right',  // Position my top left...
          at: 'bottom left' // at the bottom right of...
        }
    	});
  	});
	</script>
</head>
<body id="<%= controller.controller_name %>_controller" class="<%= params[:action] %>">
  
  <div id="outer">
  
    <%= render 'shared/nav' %>
    
    <div id="rest">
    
      <div id="left">
        <%= link_to("", "/", id: "logo") %>
        <div class="block">
          <%= yield :sidebar %>
        </div>
      </div>
  
      <div id="main">    
        <div id="topmenu">
          <ul>
            <!-- <li><%#= link_to("Dashboard", user_root_path) %></li> -->
            <li class="<%= 'selected' if request.fullpath == '/contacts/mine' %>"><%= link_to(image_tag("t_contact_white.png", :class=> "tmenu") + t('nav.my_contacts'), "/contacts/mine") %></li>
            <li class="<%= 'selected' if  params[:controller] == 'contacts' && params[:action] == 'index' %>"><%= link_to(image_tag("t_group_white.png", :class=> "tmenu") + t('nav.all_contacts'), "/contacts") %></li>
            <!-- <li><%= link_to(t('nav.directory'), "/people") %></li> -->
            <% if can? :manage, current_organization %>
              <li class="<%= 'selected' if params[:controller] == 'sms_keywords' %>"><%= link_to(image_tag("t_keyword_white.png", :class=> "tmenu") + t('nav.keywords'), sms_keywords_path) %></li>
            <% end %>
          </ul>
        </div>
        
        
        <% if notice %>
          <div style="padding:10px"><p class="notice" id="notice"><%= notice %></p></div>
        <% elsif alert %>
          <div style="padding:10px"><p class="alert" id="alert"><%= alert %></p></div>
        <% end %>
            
        <div class="<%= params[:action] %> carea">
          <%= yield %>
        </div>
      </div><!-- main -->
      
      <div class="clear"></div>
    </div>
    
    <div class="footer">
      Need help? Email us at <%= mail_to('support@missionhub.com') %>
    </div>
    
  </div><!-- outer -->

</body>
</html>


