<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Cru") %></title>
    <%= stylesheet_link_tag "jqtouch/jqtouch.css" %>
    <% if request.user_agent.include?("iPhone") %>
      <%= stylesheet_link_tag "jqtouch/themes/apple/theme.css" %>
    <% else %>
      <%= stylesheet_link_tag "jqtouch/themes/default/theme.css" %>
    <% end %>
    <%= stylesheet_link_tag 'mobile' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
    <%= javascript_include_tag 'jqtouch/jqtouch.js' %>
    <%= yield(:head) %>
  </head>
  <body id="jqt">
    <div class="current" id="home">
      <%- if show_title? -%>
      <div class="toolbar">
        <%= link_to "Back", nil, :class => "back" unless params[:controller] == 'welcome' %>
        <h1><%=h yield(:title) %></h1>
        <%= link_to "Full Site", root_url(:mobile => 0), :class => "button", :rel => "external" %>
        <%= yield(:toolbar) %>
      </div>
      <%- end -%>
      
      <%= yield %>
    </div>
  </body>
</html>