<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
</head>
<body id="<%= controller.controller_name %>_controller">
  
  <div id="outer">
  
    <%= render 'shared/nav' %>
    
    <div id="left">
      <%= link_to("", "/", id: "logo") %>
      <div class="block">
        <%= yield :sidebar %>
      </div>
    </div>

    <div id="main">    
      <div id="topmenu">
        <ul>
          <!-- <li><%#= link_to("Dashboard", user_root_path) %></li> -->
          <li><%= link_to(t('ma.nav.my_contacts'), "/contacts/mine") %></li>
          <li><%= link_to(t('ma.nav.all_contacts'), "/contacts") %></li>
          <li><%= link_to(t('ma.nav.directory'), "/people") %></li>
          <% if can? :manage, SmsKeyword %>
            <li><%= link_to(t('ma.nav.keywords'), sms_keywords_path) %></li>
          <% end %>
        </ul>
      </div>
      
      
      <% if notice %>
       <p class="notice" id="notice"><%= notice %></p>
      <% elsif alert %>
       <p class="alert" id="alert"><%= alert %></p>
      <% end %>
          
      <div class="<%= params[:action] %>">
        <%= yield %>
      </div>
    </div><!-- main -->
    
  </div><!-- outer -->

</body>
</html>


