<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag 'legacy_bootstrap' %>
  </head>
  <body id="<%= controller.controller_name %>_controller" class="<%= params[:action] %> legacy-page"
        ng-app="missionhubApp" ng-class="{ 'nav--legacy': $root.legacyNavigation }">
    <%= wiser_timezone_initialize(auto_set_guest: true) %>
    <%= render 'dialogs/alert' %>
    <%= render 'dialogs/locate_contact' %>
    <%= render 'shared/jwt_preload_state' %>
    <div id="outer">
      <div id="rest">
        <div id="gandalfthewhite">
	        <div id="menutop" class="topmenu" ng-cloak>
    	      <%= render 'shared/menu' %>
        	</div>
        </div>
        <organization-breadcrumbs org-id="<%= current_organization.id %>"></organization-breadcrumbs>

        <div id="left">
          <div class="block">
            <%= yield :sidebar %>
          </div>
        </div>

        <div id='main'>
          <%= render "shared/main" %>
        </div><!-- main -->

        <div class="clear"></div>
      </div>

    </div><!-- outer -->
    <div id="footnotes_holder"></div>
    <%= render 'shared/shared_footer' %>
  </body>
</html>


