<!DOCTYPE html>
<html>
<head>
  <title><%= @title || APP_CONFIG['site_title'] %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.js" type="text/javascript"></script>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'rails','application' %>
  <%= javascript_include_tag 'rails.validations' %>
  <%= stylesheet_link_tag 'smoothness/jquery-ui-1.8.7.custom' %>
  <%= csrf_meta_tag %>
</head>
<body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
