<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body id="<%= controller.controller_name %>_controller" class="<%= params[:action] %>">
    <%= render 'fb_init' %>

    <div id="outer">

      <%= render 'shared/nav_app' %>

      <div id="rest">
        <div id="gandalfthewhite">
	        <div id="menutop" class="topmenu">
    	      <%= render 'shared/menu' %>
        	</div>
        </div>

        <div id="left">
          <div class="block">
            <%= yield :sidebar %>
          </div>
        </div>

        <div id="main">  
          <%= render "shared/main" %>
        </div><!-- main -->

        <div class="clear"></div>
      </div>
      
      <div class="footer">
        <%= render 'shared/footer' %>
      </div>

    </div><!-- outer -->
    <div id="footnotes_holder"></div>
  </body>
</html>


