<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Cru") %></title>

    <%= render 'shared/head' %>
    <%= stylesheet_link_tag 'plain' %>
    <% if @survey.present? %>
      <style>
        <% if @survey.background_color.present? %>
          body {background: <%= '#' unless @survey.background_color.first == '#' %><%= @survey.background_color %>}
        <% end %>

        <% if @survey.background_color.present? %>
          body {color: <%= '#' unless @survey.text_color.first == '#' %><%= @survey.text_color %>}
        <% end %>

        <%= @survey.css if @survey.css.present? %>
      </style>
      <% if @survey.css_file_file_name.present? %>
        <link href="<%= @survey.css_file.url %>" media="screen" rel="stylesheet" type="text/css" />
      <% end %>
    <% end %>
    <%= yield(:head) %>
    <script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  </head>
  <body id="<%= controller.controller_name %>_controller">
    <%= render 'fb_init' %>
    <div id="mobile_outer" class="plain">
      <% if user_signed_in? %>
        <% if cookies[:survey_mode].present? && cookies[:survey_id].present? %>
          <div id="global">
            <div class="gmwrap">
              <ul class="sf-menu">
                <li class="item">
                  <%= link_to(t('nav.logout'), sign_out_url(next: start_survey_url(cookies[:survey_id])))  %>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="<%= params[:action] %>">
        <%= yield %>
      </div>
    </div>
    <%= render 'google_analytics' %>
  </body>
</html>
