<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body id="<%= controller.controller_name %>_controller" class="<%= params[:action] %>"
        ng-app="missionhubApp">
    <%= wiser_timezone_initialize(auto_set_guest: true) %>
    <%= render 'dialogs/alert' %>
    <%= render 'dialogs/locate_contact' %>
    <%= render 'shared/jwt_preload_state' %>
    <div id="outer">
      <div id="menutop" class="topmenu topmenu-with-sub">
        <%= render 'shared/menu' %>
      </div>
      <div class="dashboard-subnav">
        <div class="inner">
          <div class="dashboard-mode-toggle">
            <a href="#" class="active">People</a> <a href="#">Ministries</a>
          </div>
          <div class="dashboard-timeframe-toggle">
            <a href="#">1w</a>
            <a href="#">1m</a>
            <a href="#" class="active">3m</a>
            <a href="#">6m</a>
            <a href="#">1y</a>
          </div>
        </div>
      </div>

      <div id="dashboard_main">
        <%= render "shared/main" %>
      </div><!-- main -->

      <div class="clear"></div>

      <div class="footer">
        <%= render 'shared/footer' %>
      </div>

    </div><!-- outer -->

    <%= render 'shared/shared_footer' %>
  </body>
</html>


