<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body id="<%= controller.controller_name %>_controller" class="<%= params[:action] %>">
    <%= render 'fb_init' %>

    <div id="outer">

      <%= render 'shared/nav' %>

      <div id="">
        <div id="menutop" class="topmenu">
          <%= render 'shared/menu' %>
        </div>

        <div id="dashboard_main">
          <%= render "shared/main" %>
        </div><!-- main -->

        <div class="clear"></div>
      </div>

      <div class="footer">
        <%= render 'shared/footer' %>
      </div>

    </div><!-- outer -->

  </body>
</html>


