<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body id="<%= controller.controller_name %>_controller" class="<%= params[:action] %>">
    <%= render 'dialogs/alert' %>
    <%= render 'dialogs/locate_contact' %>
    <div id="outer">
      <div id="fixed_header">
        <div id="gandalfthewhite">
	        <div id="menutop" class="topmenu">
    	      <%= render 'shared/menu' %>
        	</div>
        </div>
      </div>

      <div id="">
        <div id="mass_entry_main">
          <%= render "shared/main" %>
        </div><!-- main -->

        <div class="clear"></div>
      </div>

    </div><!-- outer -->

    <%= render 'shared/shared_footer' %>
  </body>
</html>


