<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
  <%= stylesheet_link_tag 'plain' %>
  <% if @survey.present? %>
    <style>
      <% if @survey.background_color.present? %>
        body {background: <%= '#' unless @survey.background_color.first == '#' %><%= @survey.background_color %>}
      <% end %>

      <% if @survey.text_color.present? %>
        body {color: <%= '#' unless @survey.text_color.first == '#' %><%= @survey.text_color %>}
      <% end %>

      <%= @survey.css if @survey.css.present? %>
    </style>

    <% if @survey.css_file_file_name.present? %>
      <link href="<%= @survey.css_file.url %>" media="screen" rel="stylesheet" type="text/css" />
    <% end %>
  <% end %>
</head>
<body id="<%= controller.controller_name %>_controller">
  <%= render 'fb_init' %>
  <div id="outer" class="plain">
    <% if @survey.present? %>
      <% if user_signed_in? && cookies[:survey_mode].present? %>
        <div id="global">
          <div class="gmwrap">
            <ul class="sf-menu">
              <li class="item">
                <%= link_to(t('nav.logout'), sign_out_url(next: start_survey_url(cookies[:survey_id])))  %>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="<%= params[:action] %>">
      <%= yield %>
    </div>

    <!--     <div class="footer">
          <%= link_to(t('nav.terms'), '/terms') %> |
          <%= link_to(t('nav.privacy'), '/privacy') %>
        </div> -->

  </div><!-- outer -->

</body>
</html>