<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
  <%= stylesheet_link_tag 'plain' %>
  <%= yield :head %>
</head>
<body id="<%= controller.controller_name %>_controller">
  <%= render 'fb_init' %>
  <div id="outer" class="plain">
    <% if user_signed_in? %>
      <div id="global">
        <div class="gmwrap">
          <ul class="sf-menu">
            <li class="item">
              <%= link_to(t('nav.logout'), '#', onclick: "$.mh.logout(#{cookies[:survey_mode].present? && cookies[:survey_id].present? ? '\'' + start_survey_url(cookies[:survey_id]) + '\'' : ''})")  %> 
            </li>   
          </ul>
        </div>
      </div>
    <% end %>
  
    <div class="<%= params[:action] %>">
      <%= yield %>
    </div>
    
    <!--     <div class="footer">
          <%= link_to(t('nav.terms'), '/terms') %> |
          <%= link_to(t('nav.privacy'), '/privacy') %>
        </div> -->
    
  </div><!-- outer -->

</body>
</html>


