<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
  <%= stylesheet_link_tag 'plain' %>
</head>
<body id="<%= controller.controller_name %>_controller">
  
  <div id="outer" class="plain">
    <div id="plainheader">
      <!-- <a href="/" id="logo"></a> -->
      <% if params[:controller] == 'contacts' %>
      
        <% if can? :manage, @keyword %>
          <span id="close_window" style="display:none">| <%= link_to('Close Window', '#', onclick: 'window.close()') %></span>
          <script type="text/javascript" charset="utf-8">
            if(window.opener !== null) {
              $('#close_window').show();
            }
          </script>
          <%= link_to(t('contacts.plain.exit_survey'), '/contacts') %> 
        <% else %>
          <%= link_to(t('contacts.plain.exit_survey'), facebook_logout_url(next: '/contacts')) %> 
        <% end %>
      <% end %>
    </div>
  
    <div class="<%= params[:action] %>">
      <%= yield %>
    </div>
    
    <div class="footer">
      <%= link_to(t('nav.terms'), '/terms') %>
      <!-- MissionHub 2011 &copy; -->
    </div>
    
  </div><!-- outer -->

</body>
</html>


