<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
  <script>
	  $(function() {
  	  $("table.actionpack tr:even").addClass("even");
  	  $(".touraccordion").accordion({animated: 'bounceslide', autoHeight: false});
  	  
  		$( "#thetour" ).tabs();
  	});
  	
	</script>
  
</head>
<body id="<%= controller.controller_name %>_controller">
  
  <div id="outer" class="splash">
  
    <%= render 'shared/nav' %>
      <div class="<%= params[:action] %>">
        <%= yield %>
      </div>
    
    
    <div class="footer">
      <div class="storeicons">
        <a href="https://market.android.com/details?id=com.missionhub" target="_blank"><%= image_tag("store_android.png") %></a>
        <a href="http://www.itunes.com/app/MissionHub" target="_blank"><%= image_tag("store_iphone.png") %></a>
      </div>
      
      MissionHub was created by Cru Global<br/>
      &copy; Copyright 2011 <br/><br/>
      
      <%= link_to(t('nav.terms'), '/terms') %> |
      <%= link_to(t('nav.privacy'), '/privacy') %>
    </div>
  </div><!-- outer -->

</body>
</html>


