<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
  <script>
	  $(function() {
  		$( "#thetour" ).tabs();
  	  $("table.actionpack tr:even").addClass("even");
  	});
  	
	</script>
  
</head>
<body id="<%= controller.controller_name %>_controller">
  
  <div id="outer" class="splash">
  
    <%= render 'shared/nav' %>
      <div class="<%= params[:action] %>">
        <%= yield %>
      </div>
    
  </div><!-- outer -->

</body>
</html>


