<!DOCTYPE html>
<html>
<head>
  <%= render 'welcome/head' %>
</head>
<body id="<%= controller.controller_name %>_controller" class="<%= yield :body_classes %>">
<% if params[:action] != 'index' %>
    <div class="top">
<% end %>
<%= render 'welcome/header' unless params.has_key?('no-chrome') %>

<% if content_for?(:hero) -%>
    <div class="hero">
      <%= yield :hero %>
    </div>
<% end -%>

<%= yield %>
<% if params[:action] != 'index' %>
    </div>
<% end %>
<%= render 'welcome/footer' unless params.has_key?('no-chrome') %>
<%= render 'fb_init' %>
</body>
</html>
