<!DOCTYPE html>
<html>
<head>
  <%= render 'welcome/head' %>
</head>
<body id="<%= controller.controller_name %>_controller" class="<%= yield :body_classes %>">
  <%= render 'fb_init' %>
  <%= render 'welcome/header' %>

  <% if content_for?(:hero) -%>
    <div class="hero">
      <%= yield :hero %>
    </div>
  <% end -%>

  <div class="<%= params[:action] %>">
    <div class="container">
      <section role="global">
        <%= yield %>
      </section>
      <% if content_for?(:aside) -%>
        <aside role="global">
          <%= yield :aside %>
        </aside>
      <% end -%>
    </div>
  </div>

  <%= render "welcome/footer" %>
</body>
</html>